@*<div class="navbar-default box-shadow fixed-top">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <a class="navbar-brand" href="/">MICROKOLS <small>MERCHANT</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav header-link">
                <li class="nav-item nav-create-campaign mt-2">
                    <a class="btn btn-outline-primary my-2 my-sm-0 nav-link box-shadow"  asp-controller="Campaign" asp-action="Create">TẠO CHIẾN DỊCH</a>
                </li>
                <li class="nav-item dropdown nav-notif">
                    <a class="nav-link" asp-action="Index" asp-controller="Notification" data-toggle="dropdown">
                        <i class="fal fa-bell"></i>
                        <span class="badge badge-danger" style="display:none">0</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Wallet")"><i class="fa fa-credit-card"></i> <span class="wallet-balance text-danger">0</span></a>
                </li>
                <li class="nav-item">
                    <div class="nav-link btn-group">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@AppOptions.CurrentValue.GetImageUrl(CurrentUser.Avatar)" width="32" height="32" class="rounded-circle" />
                            <span class="text-blue500">@CurrentUser.Name</span>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right mr-2">
                            <a class="dropdown-item" href="@Url.Action("ChangePassword","Agency")"><i class="fas fa-key"></i> Thay đổi mật khẩu</a>
                            <a class="dropdown-item" href="@Url.Action("Logout","Auth")"><i class="fas fa-sign-out-alt"></i> Thoát</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>*@
