@{ string title = Convert.ToString(ViewData["Title"]);}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @if (!string.IsNullOrEmpty(title))
    {
        <title>@title - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam</title>
    }
    else
    {
        <title>Doanh nghiệp - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam</title>
    }

    <partial name="_StylePartial" />
    @RenderSection("Styles", required: false)
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon" />

</head>
<body>


    <div class="d-flex">
        <div class="navbar-m">
            <a href="" class="logo"><img src="/img/logo_merchant.png" alt=""></a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="sidebar">

            <partial name="_HeaderPartial" />

        </div>

        <main role="main" class="flex-grow-1 px-3">

            <div class="main container-fluid">

                @if (IsSectionDefined("Top"))
                {
                    @RenderSection("Top", required: false)
                }
                else
                {
                    if (!string.IsNullOrEmpty(title))
                    {
                        <h1 class="page-title">@title</h1>
                    }


                }

                @if (TempData["MessageSuccess"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @Html.Raw(TempData["MessageSuccess"])
                    </div>
                }

                @if (TempData["MessageInfo"] != null)
                {
                    <div class="alert alert-info" role="alert">

                        @Html.Raw(TempData["MessageInfo"])
                    </div>
                }
                @if (TempData["MessageWarning"] != null)
                {
                    <div class="alert alert-warning" role="alert">

                        @Html.Raw(TempData["MessageInfo"])
                    </div>
                }

                @if (TempData["MessageError"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @Html.Raw(TempData["MessageError"])
                    </div>
                }

                @RenderBody()
            </div>
        </main>
    </div>





    <div class="modal fade " id="imagemodal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:99999999">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <img class="modal-img img-fluid" />
            </div>
        </div>
    </div>

    <partial name="_FooterPartial" />
    <partial name="_ScriptPartial" />
    <script src="https://cdn.tiny.cloud/1/yjtd23uy8llom36xytgmy5qhke6bgmne593uqbtil18kxan8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/js/lightbox.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



