@{ string title = Convert.ToString(ViewData["Title"]);}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (!string.IsNullOrEmpty(title))
    {
        <title>@title - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam</title>
    }
    else
    {
        <title>Doanh nghiệp - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam</title>
    }

    <partial name="_StylePartial" />
    @RenderSection("Styles", required: false)
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon" />

</head>
<body>
  

    <div class="d-flex">
            <div class="sidebar">

                <partial name="_HeaderPartial" />

            </div>

            <main role="main" class="flex-grow-1 px-3">

                <div class="main container-fluid">

                    @if (IsSectionDefined("Top"))
                    {
                        @RenderSection("Top", required: false)
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(title))
                        {
                            <h1 class="page-title">@title</h1>
                        }


                    }

                    @if (TempData["MessageSuccess"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>
                                Success!
                            </strong>
                            @TempData["MessageSuccess"]
                        </div>
                    }

                    @if (TempData["MessageInfo"] != null)
                    {
                        <div class="alert alert-info" role="alert">
                            <strong>
                                Info!
                            </strong>
                            @Html.Raw(TempData["MessageInfo"])
                        </div>
                    }
                    @if (TempData["MessageWarning"] != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>
                                Warning!
                            </strong>
                            @Html.Raw(TempData["MessageInfo"])
                        </div>
                    }

                    @if (TempData["MessageError"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>
                                Error!
                            </strong>
                            @TempData["MessageError"]
                        </div>
                    }

                    @RenderBody()
                </div>
            </main>
        </div>





    <div class="modal fade " id="imagemodal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:99999999">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <img class="modal-img img-fluid" />
            </div>
        </div>
    </div>

    <partial name="_FooterPartial" />
    <partial name="_ScriptPartial" />

    @RenderSection("Scripts", required: false)
</body>
</html>



