<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column nav-navigator-one">
            <li class="nav-item">
                <div class="nav-link btn-group">
                    <div class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@AppOptions.CurrentValue.GetImageUrl(CurrentUser.Avatar)" width="32" height="32" class="rounded-circle" />
                        <span class="text-blue500">@CurrentUser.Name</span>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right mr-2">
                        <a class="dropdown-item" href="@Url.Action("ChangePassword","Agency")"><i class="fas fa-key"></i> Thay đổi mật khẩu</a>
                        <a class="dropdown-item" href="@Url.Action("Logout","Auth")"><i class="fas fa-sign-out-alt"></i> Thoát</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a asp-controller="Campaign" asp-action="Index" class="nav-link">
                    Danh sách chiến dịch
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Notification" asp-action="Index" class="nav-link">
                    Thông báo
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Agency")" class="nav-link">
                    Thông tin tài khoản
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Wallet")" class="nav-link">
                    Thông tin ví
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Thoát
                </a>
            </li>
        </ul>    
        <hr />
    </div>    
</nav>
