@model WebServices.ViewModels.CampaignDetailsViewModel

@inject WebServices.Interfaces.IAccountService AccountService
@inject WebServices.Code.Helpers.IFacebookHelper FacebookHelper

@using BackOffice.Extensions;

@{
    var haskpi = Model.CampaignAccounts.Count(m => m.KPICommitted > 0);
}
<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th class="w-">
                STT
            </th>
            <th>
                Tên người chia sẻ
            </th>
            @if (haskpi > 0)
            {
                @*<th>KPI cam kết</th>*@
            }
            @if (Model.Type == CampaignType.ReviewProduct || Model.Type == CampaignType.ShareContentWithCaption)
            {
                <th>
                    Nội dung chia sẻ
                </th>
            }
            <th>
                Trạng thái
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @{ var stt = 0;

            // hien thi tat ca //.Where(m=>m.Status!= CampaignAccountStatus.Finished)
        }

        @foreach (var campaignAccount in Model.CampaignAccounts)
        {
            stt++;
            <tr>
                <td>@stt</td>
                <td>
                    <div>
                        <a href="@campaignAccount.Account.Link" target="_blank">
                            @campaignAccount.Account.Name
                        </a>
                    </div>

                    @if (campaignAccount.Status == CampaignAccountStatus.Finished || campaignAccount.Status == CampaignAccountStatus.NeedToCheckExcecuteCampaign)
                    {
                        if (campaignAccount.Type.IsShareCampaign() || campaignAccount.Type == CampaignType.ReviewProduct || campaignAccount.Type == CampaignType.JoinEvent)
                        {
                            if (!string.IsNullOrEmpty(campaignAccount.RefUrl))
                            {

                                if (!string.IsNullOrEmpty(campaignAccount.RefId))
                                {
                                    var post = await AccountService.GetAccountFbPost(campaignAccount.AccountId, campaignAccount.RefId);
                                    if (post != null)
                                    {
                                        <div>
                                            <a href="@post.Permalink" target="_blank"><i class="fa fa-link"></i> FB.com</a>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            @if (Model.Type != CampaignType.ChangeAvatar)
                                            {
                                                <a href="@post.Permalink" target="_blank" style="text-decoration:none;">
                                                    <span data-toggle="tooltip" title="Lượt thích">
                                                        @post.LikeCount <i class="fa fa-thumbs-up"></i>
                                                    </span>
                                                    <span class="px-2" data-toggle="tooltip" title="Lượt Chia sẻ">

                                                        @post.ShareCount <i class="fa fa-share"></i>
                                                    </span>
                                                    <span data-toggle="tooltip" title="Lượt bình luận">
                                                        @post.CommentCount <i class="fa fa-comment"></i>
                                                    </span>
                                                </a>
                                            }
                                            else
                                            {
                                                <span data-toggle="tooltip" title="Lượt thích">
                                                    @post.LikeCount <i class="fa fa-thumbs-up"></i>
                                                </span>
                                                <span class="px-2" data-toggle="tooltip" title="Lượt Chia sẻ">

                                                    @post.ShareCount <i class="fa fa-share"></i>
                                                </span>
                                                <span data-toggle="tooltip" title="Lượt bình luận">
                                                    @post.CommentCount <i class="fa fa-comment"></i>
                                                </span>
                                            }
                                        </div>
                                    }
                                }
                            }
                        }
                        else if (campaignAccount.Type == CampaignType.ChangeAvatar)
                        {
                            var logAvatarTimes = (List<CampaignAccountRefDataChangeAvatar>)campaignAccount.RefData;
                            var accountFbId = await AccountService.GetProviderIdByAccount(campaignAccount.AccountId, AccountProviderNames.Facebook);
                            var avatarurl = FacebookHelper.GetAvatarUrl(accountFbId);
                            <div class="row">
                                <div class="col-12 text-center">
                                    <img src="@avatarurl" class="img-fluid" /> <br />
                                    <small class="text-muted">Avatar Hiện tại</small>
                                </div>

                                @if (logAvatarTimes != null)
                                {
                                    foreach (var logAvatar in logAvatarTimes)
                                    {

                                        <div class="col-12 text-center">
                                            <img src="@AppHelpers.CurrentValue.GetImageUrl(logAvatar.Avatar)" class="img-fluid" />
                                            <small class="text-muted">@logAvatar.TimeUpdate.ToViDateTime()</small>
                                        </div>
                                    }
                                }

                            </div>
                        }

                    }
                    @if (Model.Type == CampaignType.ReviewProduct)
                    {
                        if (!string.IsNullOrEmpty(campaignAccount.ReviewAddress))
                        {
                            <div>
                                <span>Địa chỉ nhận sản phẩm: @campaignAccount.ReviewAddress</span>
                            </div>
                        }

                    }

                </td>
                @if (haskpi > 0)
                {
                    @*<td>
                        @campaignAccount.KPICommitted
                    </td>*@
                }
                @if (Model.Type == CampaignType.ReviewProduct || Model.Type == CampaignType.ShareContentWithCaption)
                {
                    <td>
                        @if (Model.Type == CampaignType.ReviewProduct)
                        { //lịch sử sửa nội dung
                            <a href="javascript:;" data-toggle="modal" data-target="#content-history-account-process" onclick="ContentHistory(this);"
                               data-href="/campaign/contenthistory/?campaignaccountid=@campaignAccount.Id&accountId=@campaignAccount.AccountId&campaignid=@Model.Id" title="@campaignAccount.RefContent">

                                @if (!string.IsNullOrEmpty(campaignAccount.RefContent))
                                {
                                    if (campaignAccount.RefContent.Length > 50)
                                    {
                                        <span class="text-info">
                                            @campaignAccount.RefContent.Substring(0, 50)...
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="text-info">
                                            @campaignAccount.RefContent);
                                        </span>
                                    }
                                }



                            </a>
                        }
                        else if (Model.Type == CampaignType.ShareContentWithCaption)
                        {
                            //lịch sử sửa caption
                            <a href="javascript:;" data-toggle="modal" data-target="#caption-history-account-process" onclick="CaptionHistory(this);"
                               data-href="/campaign/captionhistory/?campaignaccountid=@campaignAccount.Id&accountId=@campaignAccount.AccountId&campaignid=@Model.Id" title="@campaignAccount.RefContent">
                                @if (!string.IsNullOrEmpty(campaignAccount.RefContent))
                                {
                                    if (campaignAccount.RefContent.Length > 50)
                                    {
                                        <span class="text-info">
                                            @campaignAccount.RefContent.Substring(0, 50)...
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="text-info">
                                            @campaignAccount.RefContent
                                        </span>
                                    }
                                }


                            </a>
                        }

                    </td>
                }

                    <td>
                        @if (campaignAccount.Status == CampaignAccountStatus.NeedToCheckExcecuteCampaign)
                        {
                            <a href="javascript:;" onclick="change_accountcampaign_status(@(campaignAccount.Id))">@campaignAccount.Status.ToBadge()</a>
                        }
                        else
                        {
                            @*<span>@campaignAccount.Status.ToBadge()</span>*@
                            <a href="javascript:;" onclick="change_accountcampaign_status(@(campaignAccount.Id))">@campaignAccount.Status.ToBadge()</a>
                        }


                    </td>
                <td>
                    @if (campaignAccount.Status == CampaignAccountStatus.AccountRequest)
                    {
                        <div>
                            <form asp-action="FeedbackAccountJoinCampaign" method="post">
                                <input type="hidden" name="campaignid" value="@campaignAccount.CampaignId" />
                                <input type="hidden" name="accountid" value="@campaignAccount.AccountId" />

                                @if (Model.Type.IsHasCaption())
                                {
                                    <a class="btn btn-outline-success btn-sm" href="@Url.Action("Caption", new { campaignid= Model.Id })">Duyệt Caption</a>
                                }
                                @*else if (Model.Type.IsHasContent())
                                    {
                                        <a class="btn btn-outline-success btn-sm" href="@Url.Action("Content", new { campaignid= Model.Id })">Duyệt Content</a>
                                    }*@
                                else
                                {

                                    <button class="btn btn-outline-success btn-sm" name="type" value="1"> Đồng ý</button>
                                }

                                <button class="btn btn-outline-danger btn-sm" name="type" value="0">Từ chối</button>
                            </form>
                        </div>
                    }
                    else if (campaignAccount.Status == CampaignAccountStatus.AgencyRequest)
                    {
                        @*<form asp-action="FeedbackAccountJoinCampaign" method="post">
                                <input type="hidden" name="campaignid" value="@campaignAccount.CampaignId" />
                                <input type="hidden" name="accountid" value="@campaignAccount.AccountId" />

                                <button class="btn btn-outline-danger btn-sm" value="0">Hủy yêu cầu</button>
                            </form>*@
                    }
                    else if (campaignAccount.Status == CampaignAccountStatus.SubmittedContent)
                    {

                        <form asp-action="FeedbackCampaignAccountRefContent" method="post">
                            <input type="hidden" name="campaignid" value="@campaignAccount.CampaignId" />
                            <input type="hidden" name="accountid" value="@campaignAccount.AccountId" />

                            <button class="btn btn-outline-success btn-sm" type="submit" name="type" value="1">Duyệt</button>
                            <button class="btn btn-outline-secondary btn-sm" type="submit" name="type" value="0">Y/c sửa lại</button>
                            @{
                                var modalId = $"updateRefContent{campaignAccount.AccountId}";
                            }
                            <button class="btn btn-outline-info  btn-sm" type="button" data-toggle="modal" data-target="#@modalId">Sửa lại</button>


                            <!-- Modal -->
                            <div class="modal fade" id="@modalId" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Nhập nội dung mới</label>
                                                <textarea name="refContent" rows="4" class="form-control">@campaignAccount.RefContent</textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                            <button type="submit" class="btn btn-primary" name="type" value="2">Đồng ý</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

