@model CampaignDetailsViewModel
@inject Website.Interfaces.IAccountService AccountService
@inject Website.Code.Helpers.IFacebookHelper FacebookHelper


<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th class="w-">
                STT
            </th>
            <th>
                Tên người chia sẻ
            </th>
            <th width="250">
                Link facebook
            </th>
            <th>
                nội dung chia sẻ
            </th>
            <th>
                Trạng thái
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @{ var stt = 0;}

        @foreach (var campaignAccount in Model.CampaignAccounts.Where(m => m.Status != CampaignAccountStatus.Finished))
        {
            stt++;
            <tr>
                <td>@stt</td>
                <td>@campaignAccount.Account.Name</td>
                <td>
                    @if (campaignAccount.Status == CampaignAccountStatus.Finished)
                    {
                        if (campaignAccount.Type.IsShareCampaign())
                        {
                            if (!string.IsNullOrEmpty(campaignAccount.RefUrl))
                            {
                                <div>
                                    <a href="@campaignAccount.RefUrl" target="_blank"><i class="fal fa-link"></i> FB.com</a>
                                </div>
                                if (!string.IsNullOrEmpty(campaignAccount.RefId))
                                {
                                    var post = await AccountService.GetAccountFbPost(campaignAccount.AccountId, campaignAccount.RefId);
                                    if (post != null)
                                    {
                                        <div class="d-flex align-items-center">

                                            <span data-toggle="tooltip" title="Lượt thích">
                                                @post.LikeCount <i class="fal fa-thumbs-up"></i>
                                            </span>
                                            <span class="px-2" data-toggle="tooltip" title="Lượt Chia sẻ">

                                                @post.ShareCount <i class="fal fa-share"></i>
                                            </span>
                                            <span data-toggle="tooltip" title="Lượt bình luận">
                                                @post.CommentCount <i class="fal fa-comment"></i>
                                            </span>
                                        </div>
                                    }
                                }
                            }
                        }
                        else if (campaignAccount.Type == CampaignType.ChangeAvatar)
                        {
                            var logAvatarTimes = (List<CampaignAccountRefDataChangeAvatar>)campaignAccount.RefData;
                            var accountFbId = await AccountService.GetProviderIdByAccount(campaignAccount.AccountId, AccountProviderNames.Facebook);
                            var avatarurl = FacebookHelper.GetAvatarUrl(accountFbId);
                            <div class="row">
                                <div class="col-1 text-center">
                                    <img src="@avatarurl" class="img-fluid" />
                                    <small class="text-muted">Hiện tại</small>
                                </div>

                                @if (logAvatarTimes != null)
                                {
                                    foreach (var logAvatar in logAvatarTimes)
                                    {

                                        <div class="col-1 text-center">
                                            <img src="logAvatar.Avatar" class="img-fluid" />
                                            <small class="text-muted">@logAvatar.TimeUpdate.ToViDateTime()</small>
                                        </div>
                                    }
                                }

                            </div>
                        }
                        else if (campaignAccount.Type == CampaignType.PostComment)
                        {
                            <div>
                                <a href="@campaignAccount.RefUrl" target="_blank">@campaignAccount.RefUrl</a>
                            </div>
                        }
                    }
                </td>
                <td>
                    <span class="text-info"> @campaignAccount.RefContent</span>
                </td>
                <td>
                    @campaignAccount.Status.ToDisplayName()
                </td>
                <td>
                    @*@if (campaignAccount.Status == CampaignAccountStatus.AccountRequest)
                        {
                            <div>
                                <form asp-action="FeedbackAccountJoinCampaign" method="post">
                                    <input type="hidden" name="campaignid" value="@campaignAccount.CampaignId" />
                                    <input type="hidden" name="accountid" value="@campaignAccount.AccountId" />

                                    <button class="btn btn-outline-success btn-sm" name="type" value="1"> Đồng ý</button>
                                    <button class="btn btn-outline-danger btn-sm" name="type" value="0">Từ chối</button>
                                </form>
                            </div>
                        }
                        else if (campaignAccount.Status == CampaignAccountStatus.AgencyRequest)
                        {
                            <form asp-action="FeedbackAccountJoinCampaign" method="post">
                                <input type="hidden" name="campaignid" value="@campaignAccount.CampaignId" />
                                <input type="hidden" name="accountid" value="@campaignAccount.AccountId" />

                                <button class="btn btn-outline-danger btn-sm" value="0">Hủy yêu cầu</button>
                            </form>
                        }
                        else*@


                    @if (campaignAccount.Status == CampaignAccountStatus.SubmittedContent)
                    {

                        <form asp-action="FeedbackCampaignAccountRefContent" method="post">
                            <input type="hidden" name="campaignid" value="@campaignAccount.CampaignId" />
                            <input type="hidden" name="accountid" value="@campaignAccount.AccountId" />

                            <button class="btn btn-outline-success btn-sm" type="submit" name="type" value="1">Duyệt</button>
                            <button class="btn btn-outline-secondary btn-sm" type="submit" name="type" value="0">Y/c sửa lại</button>
                            @{
                                var modalId = $"updateRefContent{campaignAccount.AccountId}";
                            }
                            <button class="btn btn-outline-info  btn-sm" type="button" data-toggle="modal" data-target="#@modalId">Sửa lại</button>


                            <!-- Modal -->
                            <div class="modal fade" id="@modalId" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Nhập nội dung mới</label>
                                                <textarea name="refContent" rows="4" class="form-control">@campaignAccount.RefContent</textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                            <button type="submit" class="btn btn-primary" name="type" value="2">Đồng ý</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

