@model WebServices.ViewModels.CampaignDetailsViewModel
@inject WebServices.Interfaces.ICampaignService CampaignService

@using BackOffice.Extensions;

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="w-">
                STT
            </th>
            <th>
                Người chia sẻ
            </th>

            <th>
                Trạng thái
            </th>
            <th>
                Chi phí
            </th>

        </tr>


    </thead>
    <tbody>
        @{
            var stt = 0;
            long total = 0;
            var campaign = await CampaignService.GetCampaignById(Model.Id);
        }




        @foreach (var campaignAccount in Model.CampaignAccounts.Where(m => m.Status != CampaignAccountStatus.AccountRequest && m.Status != CampaignAccountStatus.AgencyRequest))
        {
            stt++;


            var agencyCharge = await CampaignService.GetAgencyChagreAmount(campaignAccount.Id);
            var _amountServiceCharge = (campaignAccount.AccountChargeAmount * (100 + campaign.ServiceChargePercent)) / 100; //tiền có dịch vụ

            total += _amountServiceCharge;
            <tr>
                <td>@stt</td>
                <td>
                    <a href="@campaignAccount.Account.Link" target="_blank">
                        @campaignAccount.Account.Name
                    </a>
                </td>

                <td>
                    @campaignAccount.Status.ToBadge()
                </td>
                <td class="text-danger">
                    @campaignAccount.AccountChargeAmount.ToPriceText()
                </td>
            </tr>
        }
        <tr>
            <td colspan="3" class="text-right">Phí dịch vụ</td>
            <td class="text-danger">@total.ToPriceText()</td>
        </tr>
        <tr>
            <td colspan="3" class="text-right">VAT 10%</td>
            <td class="text-danger">@(Convert.ToInt64(total * 0.1).ToPriceText())</td>
        </tr>
        <tr>
            <td colspan="3" class="text-right">Tổng</td>
            <td class="text-danger">@((total + Convert.ToInt64(total * 0.1)).ToPriceText())</td>
        </tr>
    </tbody>

</table></table>