
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model WebServices.ViewModels.CampaignDetailsViewModel
@{
    ViewData["Title"] = $"Chiến dịch {Model.Code}";
    var categories = (List<WebServices.ViewModels.CategoryViewModel>)ViewBag.Categories;
    var cities = (List<WebServices.ViewModels.EntityViewModel>)ViewBag.Cities;

}

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Chi tiết chiến dịch
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/campaign" class="m-nav__link">
                <span class="m-nav__link-text">
                    Danh sách chiến dịch
                </span>
            </a>
        </li>
        @if (Model.Id > 0)
        {
            <li class="m-nav__separator">
                -
            </li>
            <li class="m-nav__item">
                <a href="javascript:;" class="m-nav__link">
                    <span class="m-nav__link-text">
                        Chiến dịch "@(Model.Title)"
                    </span>
                </a>
            </li>
        }

    </ul>
}

<div class="row">
    <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @if (Model.Id > 0)
                            {
                                <span>Chiến dịch "@(Model.Title)"</span>
                            }
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" style="margin-top:-20px;">
                @if (!string.IsNullOrEmpty(Model.SystemNote))
                {

                    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-info alert-dismissible fade show" role="alert">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div class="m-alert__text">
                            <strong>
                                Thông báo!
                            </strong>
                            <p>@Model.Status.ToDisplayName()</p>
                            <p>@Model.SystemNote</p>
                        </div>
                        <div class="m-alert__close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                }
                <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--info" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#campaign-detail" role="tab">
                            CHI TIẾT CHIẾN DỊCH
                        </a>
                    </li>

                    @*<li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#campaign-statistic" role="tab">
                            STATISTIC
                        </a>
                    </li>*@

                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#campaign-transaction" role="tab">
                            GIAO DỊCH
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="campaign-detail" role="tabpanel">
                        <div class="text-left mb-3">
                            <a class="btn btn-primary" href="/campaign/configuration/?campaignid=@Model.Id" style="font-family:Roboto;">
                                Cấu hình chiến dịch
                            </a>
                        </div>
                        <!--begin::Section-->
                        <div class="m-section">
                            <div class="m-section__content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <partial name="_CampaignItemCountingPartial" model="@Model" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-2">
                                            <strong class="mr-2"> Mã chiến dịch:</strong><span>@Model.Code</span>
                                        </div>
                                        <div class="mb-2">
                                            <strong class="mr-2"> Tên chiên dịch:</strong><span>
                                                @Model.Title
                                            </span>
                                        </div>
                                        <div class="mb-2">
                                            <strong class="mr-2"> Trạng thái:</strong>
                                            <select campaign-id="@(Model.Id)" id="select-campaign-status" class="form-control m-input" asp-for="@Model.Status" asp-items="@ViewBag.CampaignStatus"></select>
                                        </div>

                                        @if (Model.Payment.TotalChargeAmount > 0)
                                        {
                                            <div class="mb-2">
                                                <strong class="mr-2">Tổng phí:</strong> <span class="text-danger">@Model.Payment.TotalChargeAmount.ToPriceText()</span>
                                            </div>
                                            <div class="mb-2">
                                                <strong class="mr-2">Đã thanh toán:</strong> <span class="text-success">@Model.Payment.TotalPaidAmount.ToPriceText()</span>
                                            </div>
                                            <div class="mb-2">
                                                <strong class="mr-2">Còn lại:</strong>  <span class="text-success">@Model.Payment.TotalChargeValue.ToPriceText()</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="mb-2">
                                                <strong class="mr-2">Tổng phí:</strong> <span class="text-danger">@Model.Payment.TotalPaidAmount.ToPriceText()</span>
                                            </div>
                                            <div class="mb-2">
                                                <strong class="mr-2">Đã thanh toán:</strong> <span class="text-success">@Model.Payment.TotalPaidAmount.ToPriceText()</span>
                                            </div>
                                            <div class="mb-2">
                                                <strong class="mr-2">Còn lại:</strong>  <span class="text-success">0 đ</span>
                                            </div>
                                        }



                                        <div class="mb-2">
                                            <strong class="mr-2">Ngày tạo:</strong> <span class="text-info">@Model.DateCreated.ToViDateTime()</span>
                                        </div>
                                        @if (Model.DateStart.HasValue)
                                        {

                                            <div class="mb-2">
                                                <strong class="mr-2"> Thời gian nhận đăng ký:</strong>
                                                <span class="text-info">@Model.DateStart.Value.ToViDateTime()</span> -
                                                <span class="text-info">
                                                    @Model.DateEnd.Value.ToViDateTime()
                                                </span>
                                            </div>
                                        }
                                        @if (Model.Type == CampaignType.ShareContentWithCaption || Model.Type == CampaignType.ReviewProduct)
                                        {
                                            if (Model.Type == CampaignType.ReviewProduct)
                                            {
                                                <div class="mb-2">
                                                    <strong class="mr-2"> Thời gian viết nội dung:</strong>
                                                    <span class="text-info">@Model.FeedbackStart.Value.ToViDateTime()</span> -
                                                    <span class="text-info">
                                                        @Model.FeedbackEnd.Value.ToViDateTime()
                                                    </span>
                                                </div>
                                            }
                                        }
                                        @if (Model.ExecutionStart.HasValue)
                                        {

                                            <div class="mb-2">
                                                <strong class="mr-2"> Thời gian thực hiện:</strong>
                                                <span class="text-info">@Model.ExecutionStart.Value.ToViDateTime()</span> -
                                                <span class="text-info">
                                                    @Model.ExecutionEnd.Value.ToViDateTime()
                                                </span>
                                            </div>
                                        }

                                        <div class="mb-2">
                                            <strong class="mr-2"> Loại chiến dịch:</strong>

                                            <span class="text-primary"> @Model.Type.ToDisplayName()</span>

                                            @if (Model.Type == CampaignType.ShareContentWithCaption)
                                            {
                                                if (Model.EnabledAccountChargeExtra)
                                                {
                                                    <small class="text-info"> Đính kèm hình ảnh cá nhân</small>
                                                }
                                            }
                                        </div>

                                        @if (Model.Type == CampaignType.ChangeAvatar)
                                        {

                                            <div class="mb-2">
                                                <strong class="mr-2">Thời gian yêu cầu để Avatar:</strong>
                                                <span class="text-primary">
                                                    @Model.AccountChargeTime Tuần
                                                </span>
                                            </div>

                                        }

                                        @if (Model.Type == CampaignType.ReviewProduct)
                                        {

                                            <div class="mb-2">
                                                <strong>
                                                    @Model.ReviewType.ToDisplayName()
                                                </strong>

                                                @if (Model.ReviewType == CampaignReviewType.GuiSanPham)
                                                {
                                                    @if (Model.ReviewPayback.HasValue)
                                                    {
                                                        if (Model.ReviewPayback.Value == true)
                                                        {

                                                            @if (!string.IsNullOrEmpty(Model.ReviewAddress))
                                                            {
                                                                <br />
                                                                <strong>Địa chỉ thu hồi sản phẩm:</strong>
                                                                <p>@Model.ReviewAddress</p>
                                                            }
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrEmpty(Model.ReviewAddress))
                                                    {
                                                        <br />
                                                        <strong>Địa chỉ:</strong>
                                                        <p>@Model.ReviewAddress</p>
                                                    }
                                                }




                                            </div>

                                        }


                                        @if (!string.IsNullOrEmpty(Model.Data))
                                        {
                                            <div class="mb-2">
                                                <strong> @Model.Type.ToDataText()</strong>:  <a href="@Model.Data" target="_blank">@Model.Data</a>
                                            </div>
                                            @if (Model.Type == CampaignType.JoinEvent || Model.Type == CampaignType.ReviewProduct ||
                                            Model.Type == CampaignType.ShareContentWithCaption || Model.Type == CampaignType.ShareStreamUrl)
                                            {
                                                <div class="mb-2">
                                                    <form action="/campaign/UpdateHrefCompare" method="post">
                                                        <input type="hidden" name="id" value="@Model.Id"/>                                                        
                                                        <strong>Link tham chiếu: </strong>:
                                                        <input class="form-control" type="url" name="HrefCompare" value="@Model.HrefCompare" required/>
                                                        <div class="text-right" style="padding-top:5px;">
                                                            <input type="submit" class="btn btn-primary btn-sm" value="Submit" />
                                                        </div>
                                                    </form>
                                                    
                                                </div>
                                            }
                                        }


                                        <div class="mb-2">
                                            <strong class="mr-2"> Giới thiệu ngắn gọn sản phẩm, dịch vụ chạy chiến dịch:</strong><br>
                                            <span>
                                                @Model.Description
                                            </span>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-2">
                                            <strong class="mr-2"> Số lượng người cần:</strong>
                                            <span>
                                                @Model.Quantity
                                            </span>
                                        </div>
                                        <div class="mb-2">
                                            <strong class="mr-2"> Chi phí tối thiểu:</strong>
                                            <span class="text-danger">
                                                @Model.AmountMin.ToPriceText()
                                            </span>
                                        </div>
                                        <div class="mb-2">
                                            <strong class="mr-2"> Chi phí tối đa:</strong>
                                            <span class="text-danger">
                                                @Model.AmountMax.ToPriceText()
                                            </span>
                                        </div>
                                        @if (Model.Type == CampaignType.ShareContentWithCaption ||
                                        Model.Type == CampaignType.ReviewProduct)
                                        {
                                            <div class="mb-2">
                                                <strong class="mr-2">KPIs yêu cầu tối thiểu cho mỗi người:</strong>
                                                <span>
                                                    @Model.InteractiveMin
                                                </span>
                                            </div>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.Requirement))
                                        {
                                            <div class="mb-2">
                                                <strong class="mr-2"> Yêu cầu về chiến dịch:</strong><br>
                                                <span>
                                                    @Model.Requirement
                                                </span>
                                            </div>

                                        }
                                        @if (!string.IsNullOrEmpty(Model.SampleContentText))
                                        {

                                            <div class="mb-2">
                                                <strong class="mr-2"> Nội dung mẫu:</strong><br>
                                                <span>

                                                    @Html.Raw(Model.SampleContentText)
                                                </span>
                                            </div>
                                        }
                                        @if (Model.SampleContent.Count > 0)
                                        {

                                            <div class="mb-2">
                                                <strong class="mr-2">  Ảnh mẫu:</strong><br>
                                                <ul class="list-inline">
                                                    @foreach (var imgItem in Model.SampleContent)
                                                    {
                                                        <li class="list-inline-item">
                                                            <img src="@AppHelpers.CurrentValue.GetImageUrl(imgItem)" class="img-thumbnail mr-2" style="height:120px" />
                                                        </li>
                                                    }

                                                </ul>
                                            </div>

                                        }
                                        @if (Model.Image.Count > 0)
                                        {

                                            <div>
                                                <strong class="mr-2">  Ảnh chiến dịch cung cấp:</strong><br>

                                                <ul class="list-inline">
                                                    @foreach (var imgItem in Model.Image)
                                                    {
                                                        <li class="list-inline-item">
                                                            <img src="@AppHelpers.CurrentValue.GetImageUrl(imgItem)" class="img-thumbnail mr-2" style="height:120px" />

                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }

                                        @if (Model.Hashtag.Count > 0)
                                        {

                                            <div class="mb-2">
                                                <strong class="mr-2"> HashTag:</strong><br>
                                                <span>
                                                    @foreach (var item in Model.Hashtag)
                                                    {
                                                        <span>#@item.Trim('#')</span>
                                                    }
                                                </span>
                                            </div>
                                        }
                                        <div class="mb-2">
                                            <strong class="mr-2">Đối tượng tham gia:</strong>
                                            <span>
                                                @foreach (var item in Model.AccountTypes)
                                                {
                                                    <strong>@item.ToDisplayName()</strong>
                                                }
                                            </span>
                                        </div>
                                        @if (Model.CountOption > 0)
                                        {
                                            <div class="mb-2">
                                                <strong class="mr-2">  Tiêu chí:</strong><br>
                                                <ul>
                                                    @if (Model.Gender.HasValue)
                                                    {
                                                        <li>Giới tính: @Model.Gender.Value.ToDisplayName()</li>
                                                    }
                                                    @if (Model.CityId.Count > 0)
                                                    {
                                                        var listcity = cities.Where(m => Model.CityId.Contains(m.Id));
                                                        if (listcity.Any())
                                                        {
                                                            <li>
                                                                Khu vực:

                                                                @foreach (var city in listcity)
                                                                {
                                                                    <strong>@city.Name</strong>
                                                                }

                                                            </li>
                                                        }
                                                    }
                                                    @if (Model.AgeStart.HasValue)
                                                    {
                                                        <li>Độ tuổi: <strong>@Model.AgeStart</strong> - <strong>@Model.AgeEnd</strong></li>
                                                    }

                                                    @if (Model.CategoryIds.Count > 0)
                                                    {
                                                        var cats = categories.Where(m => Model.CategoryIds.Contains(m.Id));

                                                        <li>
                                                            Lĩnh vực quan tâm/thế mạnh:
                                                            @foreach (var cat in cats)
                                                            {
                                                                <strong>@cat.Name</strong>
                                                            }
                                                        </li>
                                                    }


                                                    @if (Model.AccountTypes.Contains(AccountType.HotMom))
                                                    {

                                                        <li>
                                                            Con cái:

                                                            @(Model.ChildType == 0 ? "Tất cả giới tính " : Model.ChildType == 1 ? "Con trai" : Model.ChildType == 2 ? "Con gái" : "")

                                                            @if (Model.ChildAgeMin > 0 || Model.ChildAgeMax > 0)
                                                            {

                                                                <span>
                                                                    -  Độ tuổi @Model.ChildAgeMin  - @Model.ChildAgeMax
                                                                </span>
                                                            }

                                                        </li>
                                                    }

                                                </ul>
                                            </div>
                                        }
                                    </div>


                                </div>
                                <div class="row">

                                    @if (Model.Status != CampaignStatus.Canceled)
                                    {
                                        <div class="col-md-12">
                                            <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--info" role="tablist">
                                                <li class="nav-item m-tabs__item">
                                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                                                        Thực hiện chiến dịch
                                                    </a>
                                                </li>

                                                <li class="nav-item m-tabs__item">
                                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                                                        Theo dõi chiến dịch
                                                    </a>
                                                </li>
                                                <li class="nav-item m-tabs__item">
                                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab">
                                                        Thanh toán
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
                                                    <partial name="_DetailsAccountsProcessPartial" model="Model" />
                                                </div>
                                                <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                                                    <partial name="_DetailsAccountsReviewPartial" model="Model" />
                                                </div>
                                                <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">
                                                    <partial name="_DetailsAccountsPaymentPartial" model="Model" />
                                                </div>
                                            </div>
                                        </div>
                                    }


                                </div>



                            </div>
                        </div>
                    </div>

                    @*<div class="tab-pane" id="campaign-statistic" role="tabpanel">
                        3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.
                    </div>*@

                    <div class="tab-pane" id="campaign-transaction" role="tabpanel">
                        @if ((Model.Status == CampaignStatus.Started || Model.Status == CampaignStatus.Completed || Model.Status == CampaignStatus.Ended) && Model.Payment.TotalChargeAmount > 0)
                        {

                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Tổng phí chiến dịch: <span style="color:red;">@Model.Payment.TotalChargeAmount.ToPriceText()</span></strong>
                                    <div id="chart_div" style="width: 900px; height: 450px;margin: 0 auto;"></div>
                                </div>
                            </div>
                        }

                        <div class="row mt-5">
                            <div class="col-md-12">
                                <partial name="_DetailsCampaignTransaction" model="Model" />
                            </div>
                        </div>


                    </div>

                </div>




            </div>
            <!--end::Section-->

        </div>
    </div>
    <!--end::Portlet-->
</div>


<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Ghi chú thay đổi trạng thái chiến dịch
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body" style="margin:3px;">
                <iframe id="iframenotestatus" src="" height="480px" width="720px" frameborder="0" scrolling="no" style="overflow: hidden;"></iframe>
            </div>

        </div>
    </div>
</div>



@section Scripts{


    @if (Model.Status == CampaignStatus.Started || Model.Status == CampaignStatus.Completed || Model.Status == CampaignStatus.Ended)
    {
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="~/js/campaign_detail_chart.js" type="text/javascript"></script>

        <script type="text/javascript">
            load_campaign_detail_chart(@Context.Request.Query["campaignid"]);
        </script>

        

    }

    <script type="text/javascript">


        $(document).ready(function () {

                $('.m-section__content select').each(function (index, item) {
                $(item).change(function () {



                    var campaignid = $(this).attr('campaign-id');
                    var status = $(this).val();
                    var data = {};
                    data['id'] = campaignid;
                    data['status'] = status;

                    //3: Ended, 5: Canceled, 6: Error
                    var url = '/campaign/takenotechangestatus?id=' + campaignid + "&status=" + status;
                    $('#iframenotestatus').attr('src', url);
                    $('#m_modal_4').modal({ show: true });
                    $('#m_modal_4').on('hidden.bs.modal', function (e) {
                        document.location = document.location.href;
                    })


                    @*if (status == 3 || status == 5 || status == 6) {
                        var url = '/campaign/takenotechangestatus?id=' + campaignid + "&status=" + status;
                        $('#iframenotestatus').attr('src', url);
                        $('#m_modal_4').modal({ show: true });
                        $('#m_modal_4').on('hidden.bs.modal', function (e) {
                            document.location = document.location.href;
                        })
                    }
                    else {
                         $.ajax({
                            type: "POST",
                            url: '@Url.Action("ChangeStatus", "Campaign")',
                            data: data,
                            success: function (data) {

                                if (data.code == 1) {

                                    $('#item_' + campaignid).html(data.str_icon);
                                    Swal.fire(
                                        'Good job!',
                                        data.message,
                                        'success'
                                    );

                                }
                                else {
                                    Swal.fire({
                                        type: 'error',
                                        title: 'Oops...',
                                        text: data.message
                                    });
                                }

                            },
                            dataType: "json",
                            traditional: true
                        });
                    }*@

                });
            });



        });

    </script>
}




