
@{
    ViewData["Title"] = "TakeNoteChangeStatus";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}



@model CampaignViewModel

<div class="row">
    <div class="col-md-12">
        <form class="m-form m-form--fit m-form--label-align-right" method="post" action="/Campaign/TakeNoteChangeStatus">
            <input type="hidden" name="id" value="@Model.Id"/>
            <div class="m-portlet__body">
                <div class="form-group m-form__group">
                    <div><strong>Thông tin chiến dịch:</strong></div>
                    <div>
                        <span class="m-badge m-badge--info">
                            +
                        </span> Mã chiến dịch :<a href="/campaign/detail/?agencyid=@(Model.AgencyId)&campaignid=@(Model.Id)"> @Model.Code</a>
                    </div>
                    <div class="m--space-10"></div>
                    <div>
                        <span class="m-badge m-badge--info">
                            +
                        </span> Tên chiến dịch: @Model.Title
                    </div>
                    <div class="m--space-10"></div>
                    <div>
                        <span class="m-badge m-badge--info">
                            +
                        </span> Trạng thái chiến dịch: <span class="m-badge m-badge--info m-badge--wide">@Model.Status.ToString()</span>
                    </div>

                    <div class="m--space-10"></div>
                    <div><strong>Thanh toán:</strong></div>
                    @if (ViewBag.Payment != null)
                    {

                        <div class="m--space-10"></div>
                        <div>
                            <span class="m-badge m-badge--info">
                                +
                            </span> Đã thanh toán: <strong style="color:red;">@ViewBag.Payment.AmountToText</strong>
                        </div>
                        <div class="m--space-10"></div>
                        <div>
                            <span class="m-badge m-badge--info">
                                +
                            </span> Trạng thái: <strong style="color:red;">@ViewBag.Payment.StatusToText</strong>
                        </div>
                    }
                    else
                    {
                        <div>
                            <strong style="color:red;">Chưa có thông tin thanh toán</strong>
                        </div>
                    }

                </div>
                
                <div class="form-group m-form__group">
                    <label for="exampleInputPassword1">
                        Change Campaign Status To
                    </label>
                    <select campaign-id="@(Model.Id)" id="select-campaign-status" class="form-control m-input" asp-for="@Model.Status" asp-items="@ViewBag.CampaignStatus"></select>
                </div>
                <div class="form-group m-form__group">
                    <label for="exampleInputPassword1">
                        Note
                    </label>
                    <textarea class="form-control m-input" name="txt_note" rows="3"></textarea>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>             
                </div>
            </div>
        </form>
    </div>
</div>

