@model RechargeViewModel

@{
    var bankAccounts = AppOptions.CurrentValue.BankAccounts;
}

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form method="post" action="javascript:;" data-action="@Url.Action("Recharge","Wallet")" id="frmRecharge">
            <div class="modal-header">
                <h5 class="modal-title">Nạp tiền </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Amount"></label>
                    <input type="text" asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Method"></label> <br />
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" checked value="Trực tiếp" id="Method1" name="Method" class="custom-control-input">
                        <label class="custom-control-label" for="Method1">Trực tiếp</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" value="Chuyển khoản" id="Method2" name="Method" class="custom-control-input">
                        <label class="custom-control-label" for="Method2">Chuyển khoản</label>
                    </div>
                    <span asp-validation-for="Method" class="text-danger"></span>
                </div>
              <div id="bankWrap" class="d-none">
                    <div class="form-group">
                        <label asp-for="Bank"></label>
                        <select name="Bank" class="form-control" id="Bank">
                            <option>Chọn ngân hàng</option>
                            @foreach (var bankAccount in bankAccounts)
                            {
                                <option value="@bankAccount.BankCode">@bankAccount.BankName</option>
                            }
                        </select>
                        <span asp-validation-for="Bank" class="text-danger"></span>
                    </div>

                    @for (var i = 0; i < bankAccounts.Count; i++)
                    {
                        var bank = bankAccounts[i];
                        <div id="bankinfo@(bank.BankCode)" class="bankinfo d-none">
                            <p><b>@bank.BankName</b></p>
                            <p>Tài khoản: <span class="text-success">@bank.AccountName</span> </p>
                            <p>Số tài khoản: <span class="text-danger">@bank.AccountNumber</span> </p>
                            <p>Chi nhánh: <i>@bank.BankBranch</i></p>
                        </div>

                    }
                </div>
               
                <div class="form-group">
                    <label asp-for="Note"></label>
                    <textarea asp-for="Note" class="form-control"></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Huỷ</button>
                <input type="submit" value="Gửi" class="btn btn-submit btn-primary" />
            </div>
        </form>
    </div>
</div>
