@inject Microsoft.Extensions.Options.IOptions<Website.Code.AppOptions> appOptions
@model WithDrawViewModel

@{
    var amount = (long)ViewBag.Amount;
    var bankAccount = (ChangeBankAccountViewModel)ViewBag.BankAccount;
    var bankAccountInvalid = bankAccount != null && !string.IsNullOrEmpty(bankAccount.Bank);
}


<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Rút tiền </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @if (bankAccountInvalid)
        {
            <form method="post" action="javascript:;" data-action="@Url.Action("WithDraw","Wallet")" id="frmWithDraw">


                <div class="modal-body">

                    <div>
                        <label>Số dư ví: </label> <span class="text-danger">@amount.ToPriceText()</span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Amount"></label>
                        <input type="number" asp-for="Amount" class="form-control" min="1000" max="@amount" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Note"></label>
                        <textarea asp-for="Note" class="form-control"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                    <div class="alert alert-info">
                        <h5>Tài khoản nhận</h5>
                        <p>
                            Tài khoản: <span class="text-primary">@bankAccount.Name</span> <br />
                            Số Tài khoản: <span class="text-primary">@bankAccount.Number</span> <br />
                            Ngân hàng: <span class="text-primary">@bankAccount.Bank</span> <br />
                            Chi nhánh: <span class="text-primary">@bankAccount.Branch</span>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Huỷ</button>
                    <input type="submit" value="Gửi" class="btn btn-submit btn-primary" />
                </div>
            </form>
        }
        else
        {

            <div class="modal-body">
                <div class="alert alert-danger">
                    Bạn chưa cập nhật tài khoản ngân hàng. Vui lòng cập nhật thông tin tài khoản <a class="text-primary" asp-action="ChangeBankAccount" asp-controller="Account">tại đây</a>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
            </div>
        }

    </div>
</div>