
@{
    Layout = null;
}

@model List<WebServices.ViewModels.NotificationViewModel>


<span class="m-dropdown__arrow m-dropdown__arrow--center" style="margin-left:55px;"></span>
<div class="m-dropdown__inner">
    <div class="m-dropdown__header m--align-center" style="background: url(/assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
        <span class="m-dropdown__header-title">
            @(ViewBag.NumberNotification) New
        </span>
        <span class="m-dropdown__header-subtitle">
            User Notifications
        </span>
    </div>
    <div class="m-dropdown__body">
        <div class="m-dropdown__content">
            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">
                        Alerts
                    </a>
                </li>              
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                    <div class="m-list-timeline m-list-timeline--skin-light">
                        <div class="m-list-timeline__items">
                            @if (ViewBag.NumberNotification > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="m-list-timeline__item">
                                        <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                        <span class="m-list-timeline__text">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="@item.NotificationLink" style="color:#000000;text-decoration:none;" target="_blank">@item.Message</a>
                                                </li>
                                                <li>
                                                    <span class="m-badge m-badge--info m-badge--wide">@item.NotificationTypeToText</span>
                                                </li>
                                            </ul>

                                        </span>
                                        <span class="m-list-timeline__time">
                                            @item.Date.ToTimeAgo()
                                        </span>
                                    </div>
                                }
                            }
                            else
                            {

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
