
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebServices.ViewModels.ListNotificationViewModel 

@section Subheaders{
    <h3 class="m-subheader__title">
        Notifications
    </h3>
}

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <!--Begin::Portlet-->
        <div class="m-portlet m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Recent Notifications
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" style="margin-top:-20px;">
                <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--info" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link @(string.IsNullOrEmpty(Context.Request.Query["type"])?"active":"")" href="/notification">
                            TẤT CẢ
                        </a>
                    </li>

                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link @(Context.Request.Query["type"]=="Campaign"?"active":"")" href="/notification/?type=Campaign">
                            CHIẾN DỊCH
                        </a>
                    </li>

                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link @(Context.Request.Query["type"]=="Payment"?"active":"")" href="/notification/?type=Payment">
                            THANH TOÁN
                        </a>
                    </li>

                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link @(Context.Request.Query["type"]=="Influencer"?"active":"")" href="/notification/?type=Influencer">
                            NGƯỜI ẢNH HƯỞNG
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <!--Begin::Timeline 3 -->
                        <div class="m-timeline-3">
                            <div class="m-timeline-3__items" id="dashboard-notification">

                                @if (Model != null)
                                {
                                    foreach (var item in Model.Notifications)
                                    {
                                        <div class="m-timeline-3__item @(item.Status == NotificationStatus.Created?"m-timeline-3__item--info":"m-timeline-3__item--warning")">
                                            <span class="m-timeline-3__item-time">
                                                @string.Format("{0}:{1}", item.Date.Hour, item.Date.Minute)
                                            </span>
                                            <div class="m-timeline-3__item-desc">
                                                <span class="m-timeline-3__item-text">
                                                    <a href="@item.NotificationLink" style="color:#000000;text-decoration:none;" target="_blank">@item.Message</a>
                                                </span>
                                                <br />
                                                <span class="m-timeline-3__item-user-name">
                                                    <a href="javascript:;" class="m-link m-link--metal m-timeline-3__item-link">
                                                        @item.Date.ToTimeAgo()
                                                    </a>
                                                </span>
                                                <br />
                                                <span class="m-badge m-badge--info m-badge--wide">@item.NotificationTypeToText</span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <!--End::Timeline 3 -->
                        <div class="float-right">
                            <pagerservice pager="@Model.Pager" asp-action="Index" asp-route-type="@(Context.Request.Query["type"])"></pagerservice>
                            <br />
                            <br />
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--End::Portlet-->
    </div>


</div>

