@model UpdateAgencyViewModel
@{


    ViewBag.Title = "Cài đặt doanh nghiệp";

    var agencyTypes = StringHelper.GetEnumArray<AgencyType>();
}


@section Scripts{

    <script type="text/javascript">

        $().ready(function () {
            bindType();
            $('.form-Type').change(function () {
                bindType();
            });

            function bindType() {

                var type = $('.form-Type:checked').val();
                $('.dfor-Type').hide();

                $('.dfor-' + type).show();

            }
        });
    </script>

}



<partial name="_NavSettingPartial" model="0" />
<div class="tab-content mt-3">
    <div class="tab-pane fade show active">

        <form method="post" asp-action="UpdateAgency" enctype="multipart/form-data">

            <alert></alert>

            <div class="row">
                <div class="col-md-8">

                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <div>

                            @foreach (var item in agencyTypes)
                            {
                                var checkboxId = $"agencyType{item}";
                                <div>
                                    <div class="custom-control custom-radio custom-control">
                                        <input type="radio" @(Model.Type == item ? "checked" : "") value="@item"
                                               name="Type" id="@checkboxId" class="custom-control-input form-Type">
                                        <label class="custom-control-label" for="@checkboxId">
                                            @item.ToDisplayName()
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                        <span asp-validation-for="Type"></span>
                    </div>

                    @{
                        var dforDoanhNghiep = $"dfor-{AgencyType.DoanhNghiep} dfor-Type";
                        var dforHoKinhDoanh = $"dfor-{AgencyType.HoKinhDoanh} dfor-Type";

                    }
                    <div class="@dforDoanhNghiep @dforHoKinhDoanh">


                        <div class="form-group">
                            <label asp-for="Name">
                                Tên <span class="@dforDoanhNghiep">Doanh nghiệp</span>
                                <span class="@dforHoKinhDoanh">Hộ kinh doanh</span>
                            </label>
                            <input type="text" class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Phone"></label>
                            <input type="text" class="form-control" asp-for="Phone" />
                            <span asp-validation-for="Phone"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="text" class="form-control" asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>

                        <div class="form-group  @dforDoanhNghiep">
                            <label asp-for="TaxIdNumber"></label>
                            <input type="text" class="form-control" asp-for="TaxIdNumber" />
                            <span asp-validation-for="TaxIdNumber"></span>
                        </div>

                        <div class="form-group @dforDoanhNghiep">
                            <label asp-for="Address"></label>
                            <input type="text" class="form-control" asp-for="Address" />
                            <span asp-validation-for="Address"></span>
                        </div>


                        <div class="form-group @dforHoKinhDoanh">
                            <label asp-for="Description"></label>
                            <textarea type="text" class="form-control" asp-for="Description"></textarea>
                            <span asp-validation-for="Description"></span>
                        </div>


                        <div class="form-group">
                            <input type="submit" value="Cập nhật" class="btn btn-primary">
                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <div class="form-group">
                         
                        <input asp-for="Image" type="hidden" />

                        <div class="user-avatar">


                            <img src="@AppOptions.CurrentValue.GetImageUrl(CurrentUser.Avatar)" class="img-Image">



                            <label class="changeavatar" for="uploadimg01"></label>
                            <input type="file" class="custom-file-input  image-upload" id="uploadimg01" data-target="#Image" data-preview=".img-Image" name="file">


                        </div>

                        ​
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>
