@{ string title = Convert.ToString(ViewData["Title"]);}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @if (!string.IsNullOrEmpty(title))
    {
        <title>@title - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam</title>
    }
    else
    {
        <title>Người ảnh hưởng - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam</title>
    }
    <partial name="_StylePartial" />
    @RenderSection("Styles", required: false)
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon" />
</head>
<body>
    <div class="d-flex">
        <div class="navbar-m">
            <a href="" class="logo"><img src="/img/logo_influencer.png" alt=""></a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="sidebar">
            <partial name="_HeaderPartial" />
        </div>

        <main role="main" class="flex-grow-1 px-3">

            <div class="main container-fluid">

                <h1 class="page-title">Thông tin tài khoản</h1>

                @RenderSection("Nav", required: false)


                <div class="row mt-5">
                    <div class="col-lg-3 col-md-4">

                        <div class="user-avatar">


                            <img src="@AppOptions.CurrentValue.GetImageUrl(CurrentUser.Avatar)">

                            <form asp-action="ChangeAvatar" asp-controller="Account" enctype="multipart/form-data" id="frmChangeAvatar">


                                <label class="changeavatar" for="fileChangeAvatar"></label>
                                <input type="file" class="custom-file-input" id="fileChangeAvatar" name="file">

                            </form>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8">

                        @if (TempData["MessageSuccess"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                <strong>
                                    Success!
                                </strong>
                                @TempData["MessageSuccess"]
                            </div>
                        }

                        @if (TempData["MessageInfo"] != null)
                        {
                            <div class="alert alert-info" role="alert">
                                <strong>
                                    Info!
                                </strong>
                                @Html.Raw(TempData["MessageInfo"])
                            </div>
                        }


                        @if (TempData["MessageWarning"] != null)
                        {
                            <div class="alert alert-warning" role="alert">
                                <strong>
                                    Warning!
                                </strong>
                                @Html.Raw(TempData["MessageWarning"])
                            </div>
                        }

                        @if (TempData["MessageError"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <strong>
                                    Error!
                                </strong>
                                @TempData["MessageError"]
                            </div>
                        }

                        @RenderBody()
                    </div>
                </div>

            </div>
        </main>
    </div>




    <partial name="_FooterPartial" />


    @*<partial name="_CookieConsentPartial" />*@
    <partial name="_ScriptPartial" />

    @RenderSection("Scripts", required: false)

    <partial name="_MessageModalPartial" />

    <script>
        $(document).ready(function () {
            // active navbar of page current
            var urlcurrent = window.location.href;
            $(".sidebar-sticky ul li a[href$='" + urlcurrent + "']").addClass('active');

            $('.navbar-toggler').on('click', function () {
                $('.sidebar').toggleClass('is-show');
            });
            $('.sidebar .close').on('click', function () {
                $('.sidebar').removeClass('is-show');
            });
        });
    </script>

</body>
</html>
