<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebInfluencer</title>
    <partial name="_StylePartial" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/build/css/app.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <partial name="_HeaderPartial" />

    @RenderSection("Top", required: false)

    <div class="container-fluid">
        <alert></alert>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <partial name="_FooterPartial" />


    <partial name="_CookieConsentPartial" />
    <partial name="_ScriptPartial" />

    @RenderSection("Scripts", required: false)

    <partial name="_MessageModalPartial" />
</body>
</html>
