@{ string title = Convert.ToString(ViewData["Title"]);}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (!string.IsNullOrEmpty(title))
    {
        <title>@title - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam</title>
    }
    else
    {
        <title>Người ảnh hưởng - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam</title>
    }
    <partial name="_StylePartial" />
    @RenderSection("Styles", required: false)
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon" />
</head>
<body>    
    <div>



        <div class="d-flex">
            <div class="sidebar">
                <partial name="_HeaderPartial" />
            </div>

            <main role="main" class="flex-grow-1 px-3">

                <div class="main container-fluid">

                    <h1 class="page-title">Thông tin tài khoản</h1>

                    <alert></alert>

                    @RenderSection("Nav", required: false)


                    <div class="row mt-5">
                        <div class="col-md-3">

                            <div class="user-avatar">


                                <img src="@AppOptions.CurrentValue.GetImageUrl(CurrentUser.Avatar)">

                                <form asp-action="ChangeAvatar" asp-controller="Account" enctype="multipart/form-data" id="frmChangeAvatar">


                                    <label class="changeavatar" for="fileChangeAvatar"></label>
                                    <input type="file" class="custom-file-input" id="fileChangeAvatar" name="file">

                                </form>
                            </div>
                        </div>

                        <div class="col-md-9">

                            @RenderBody()
                        </div>
                    </div>

                </div>
            </main>
        </div>

    </div>




    <partial name="_FooterPartial" />


    @*<partial name="_CookieConsentPartial" />*@
    <partial name="_ScriptPartial" />

    @RenderSection("Scripts", required: false)

    <partial name="_MessageModalPartial" />
</body>
</html>
