<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebInfluencer</title>
    <partial name="_StylePartial" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-2 d-none d-md-block sidebar">

                <partial name="_HeaderPartial" />

            </div>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            
                <div class="main">
                    <h1 class="page-title">Thông tin tài khoản</h1>

                    <alert></alert>

                    @RenderSection("Nav", required: false)


                    <div class="row mt-5">
                        <div class="col-md-3">

                            <div class="user-avatar">


                                <img src="@AppOptions.CurrentValue.GetImageUrl(CurrentUser.Avatar)">

                                <form asp-action="ChangeAvatar" asp-controller="Account" enctype="multipart/form-data" id="frmChangeAvatar">


                                    <label class="changeavatar" for="fileChangeAvatar"></label>
                                    <input type="file" class="custom-file-input" id="fileChangeAvatar" name="file">

                                </form>
                            </div>
                        </div>

                        <div class="col-md-9">

                            @RenderBody()
                        </div>
                    </div>

                </div>
            </main>
        </div>

    </div>



    @*<partial name="_CookieConsentPartial" />*@
    <partial name="_ScriptPartial" />

    @RenderSection("Scripts", required: false)
</body>
</html>
