
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CategoryCreateEditModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Danh sách lĩnh vực
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/category" class="m-nav__link">
                <span class="m-nav__link-text">
                    Danh sách lĩnh vực
                </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        @if (Model.Id == 0)
        {
            <li class="m-nav__item">
                <a href="/category/add" class="m-nav__link">
                    <span class="m-nav__link-text">
                        Thêm mới lĩnh vực
                    </span>
                </a>
            </li>
        }
        else
        {
            <li class="m-nav__item">
                <a href="" class="m-nav__link">
                    <span class="m-nav__link-text">
                        Thay đổi lĩnh vực
                    </span>
                </a>
            </li>
        }


    </ul>
}

<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @(Model.Id == 0?"Thêm mới lĩnh vực":"Thay đổi lĩnh vực")
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right" method="post" asp-action="Edit">
                <input type="hidden" value="@Model.Id" name="Id" />                
                <div class="m-portlet__body">
                    <div asp-validation-summary=" All" class="text-danger"></div>
                    <div class="form-group m-form__group">
                        <label for="category_name">
                            Tên lĩnh vực
                        </label>
                        <input class="form-control m-input m-input--square" placeholder="Tên lĩnh vực" asp-for="Name">
                    </div>
                    <div class="m-form__group form-group">
                        <label for=""> Trạng thái </label>
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input asp-for="Published">
                                Hoạt động/Không hoạt động
                                <span></span>
                            </label>
                            <label class="m-checkbox">
                                <input asp-for="Deleted">
                                Xóa bỏ
                                <span></span>
                            </label>
                        </div>
                    </div>
                    @if (ViewBag.Influencers != null)
                    {
                        <div class="m-form__group form-group">
                            <label for="" style="text-align:left;">
                                @if (Model.Id > 0)
                                {
                                    <p>Có <span style="color:red;">@ViewBag.CountInfluencer </span>người ảnh hưởng thuộc lĩnh vực này</p>
                                }
                            </label>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Tên người ảnh hưởng
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Năm sinh
                                        </th>
                                        <th>
                                            Giới tính
                                        </th>
                                        <th>
                                            Khu vực
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int count = 1;}
                                    @foreach (var item in (IEnumerable<AccountCategory>)ViewBag.Influencers)
                                    {
                                    <tr>
                                        <td>@(count)</td>
                                        <td>@item.Account.Name</td>
                                        <td>@item.Account.Email</td>
                                        <td>@item.Account.Birthday</td>
                                        <td>@item.Account.Gender.ToDisplayName()</td>
                                        <td>@item.Account.City.Name</td>
                                    </tr>
                                        count++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    }

                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>