
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Category>

@section HorizontalMenu{

<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
    <li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown m-menu__item--hover" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
        <a href="javascript:;" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-add"></i>
            <span class="m-menu__link-text">
                Menu
            </span>
            <i class="m-menu__hor-arrow la la-angle-down"></i>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
            <span class="m-menu__arrow m-menu__arrow--adjust" style="left: 73px;"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item " aria-haspopup="true">
                    <a href="/category/add" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-file"></i>
                        <span class="m-menu__link-text">
                            Tạo mới lĩnh vực
                        </span>
                    </a>
                </li>                
            </ul>
        </div>
    </li>
</ul>

}

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Danh sách lĩnh vực
    </h3>
}

<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Danh sách lĩnh vực
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin::Section-->
                <div class="m-section">
                    <div class="m-section__content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Tên
                                    </th>
                                    <th>
                                        Người thay đổi
                                    </th>
                                    <th>
                                        Ngày thay đổi
                                    </th>
                                    <th>
                                        Hoạt động
                                    </th>
                                    <th>
                                        Xóa bỏ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int count = 0;
                                    foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>
                                                <a href="/category/edit/?id=@item.Id">@item.Name</a>
                                            </td>
                                            <td>@item.UserModified</td>
                                            <td>@item.DateModified</td>
                                            <td>@item.Published</td>
                                            <td>@item.Deleted</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Section-->
            </div>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

