
@{
    ViewData["Title"] = "Chuyển tiền Influencer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ListGroupTransactionViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Chuyển tiền Influencer
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>

        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/transaction" class="m-nav__link">
                <span class="m-nav__link-text">
                    Transaction
                </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/transaction/accountpayback" class="m-nav__link">
                <span class="m-nav__link-text">
                    Chuyển tiền Influencer
                </span>
            </a>
        </li>
    </ul>
}

<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--tabs">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Chuyển tiền Influencer
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--right m-tabs-line-danger" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "Regular"?"active":"")" href="/transaction/accountpayback?type=Regular&payoutid=@(Context.Request.Query["payoutid"])" role="tab">
                                Regular
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "HotTeen"?"active":"")" href="/transaction/accountpayback?type=HotTeen&payoutid=@(Context.Request.Query["payoutid"])" role="tab">
                                HotTeen
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "HotMom"?"active":"")" href="/transaction/accountpayback?type=HotMom&payoutid=@(Context.Request.Query["payoutid"])" role="tab">
                                HotMom
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "HotFacebooker"?"active":"")" href="/transaction/accountpayback?type=HotFacebooker&payoutid=@(Context.Request.Query["payoutid"])" role="tab">
                                HotFacebooker
                            </a>
                        </li>
                        @*<li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "Kols"?"active":"")" href="/transaction/accountpayback?type=Kols" role="tab">
                            Kols
                        </a>
                    </li>*@
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active show">

                        @if (Model.Transactions.Count() > 0)
                        {

                        <div class="mb-5 pull-right">
                            @if (ViewBag.PayoutExport != null)
                            {
                                var PayoutExport = (WebServices.ViewModels.PayoutExportViewModel)ViewBag.PayoutExport;
                                if (PayoutExport.IsExport && PayoutExport.IsUpdateWallet == false)
                                {
                                    <a href="/transaction/accountsubtractwallet?type=@(Context.Request.Query["type"].ToString()==""?"All":Context.Request.Query["type"].ToString())&payoutid=@(PayoutExport.Id)" class="btn btn-danger m-btn--wide">Subtract Wallet Cashout Done</a>
                                }
                                else
                                {
                                    <a href="/transaction/exportaccountpayback?type=@(Context.Request.Query["type"].ToString()==""?"All":Context.Request.Query["type"].ToString())&payoutid=@(PayoutExport.Id)" class="btn btn-primary m-btn--wide mr-3">Export To Excel</a>
                                }
                            }

                        </div>


                            <div class="m-section">
                                <div class="m-section__content">
                                    <table class="table">
                                        <thead class="thead-inverse">
                                            <tr>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    Tài khoản ngân hàng
                                                </th>
                                                <th>
                                                    Số tài khoản
                                                </th>
                                                <th>
                                                    Tiền trả Influencer
                                                </th>
                                                <th>
                                                    Thông tin ví
                                                </th>
                                                <th>Ghi chú</th>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                long total_amount = 0;
                                                int count = 0;
                                            }
                                            @foreach (var item in Model.Transactions)
                                            {
                                                count++;
                                                total_amount = item.TotalCashOut;
                                                <tr>
                                                    <td>@(count)</td>
                                                    <td>
                                                        <a href="/microkol/detail?id=@(item.Account.Id)">@item.Account.BankAccountName</a>
                                                        <br />
                                                        <span>@item.Account.BankAccountBank</span>
                                                        <br />
                                                        <span>Chi nhánh: @(item.Account.BankAccountBranch)</span>


                                                    </td>
                                                    <td>@item.Account.BankAccountNumber</td>
                                                    <td>
                                                        <span style="font-weight:bold;color:red;">@total_amount.ToPriceText()</span>
                                                    </td>
                                                    <td>Số dư: <span style="font-weight:bold;color:red;">@item.Wallet.Balance.ToPriceText()</span> | <a href="/wallet/transactioninfluencer?walletid=@(item.Wallet.Id)">Wallet Transactions</a></td>
                                                    <td>
                                                        @if (item.Wallet.Balance < total_amount)
                                                        {
                                                            <span style="font-weight:bold;color:red;">Ví không đủ để thực hiện việc tất toán</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a href="/transaction/accountpaybackdetail?accountid=@(item.Account.Id)" class="btn btn-primary btn-sm" style="font-family:roboto;">Chi tiết</a>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        }
                        else
                        {
                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="m-demo__preview">
                                    Sorry, do not have transaction for binding!
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
            <div class="m-portlet__foot">                
                    <pager pager="@Model.Pager" asp-route-type="@(Context.Request.Query["type"])" asp-route-payoutid="@(Context.Request.Query["payoutid"])" asp-action="accountpayback"></pager>                                
            </div>

        </div>
    </div>
</div>


