
@{
    ViewData["Title"] = "AccountPayback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<GroupTransactionViewModel>

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Account Payback
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>

        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/transaction" class="m-nav__link">
                <span class="m-nav__link-text">
                    Transaction
                </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/transaction/accountpayback" class="m-nav__link">
                <span class="m-nav__link-text">
                    Account Payback
                </span>
            </a>
        </li>
    </ul>
}

<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--tabs">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Account Payback
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--right m-tabs-line-danger" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "Regular"?"active":"")" href="/transaction/accountpayback?type=Regular" role="tab">
                                Regular
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "HotTeen"?"active":"")" href="/transaction/accountpayback?type=HotTeen" role="tab">
                                HotTeen
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "HotMom"?"active":"")" href="/transaction/accountpayback?type=HotMom" role="tab">
                                HotMom
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "HotFacebooker"?"active":"")" href="/transaction/accountpayback?type=HotFacebooker" role="tab">
                                HotFacebooker
                            </a>
                        </li>
                        @*<li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["type"] == "Kols"?"active":"")" href="/transaction/accountpayback?type=Kols" role="tab">
                                Kols
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active show">
                        
                        @if (Model.Count() > 0)
                        {
                            
                        <div class="mb-5 pull-right">

                            @if (ViewBag.PayoutExport != null)
                            {
                                var PayoutExport = (PayoutExport)ViewBag.PayoutExport;
                                if (PayoutExport.IsExport && PayoutExport.IsUpdateWallet == false)
                                {
                                    <a href="/transaction/accountsubtractwallet?type=@(Context.Request.Query["type"].ToString()==""?"All":Context.Request.Query["type"].ToString())" class="btn btn-danger m-btn--wide">Subtract Wallet Cashout Done</a>
                                }
                            }
                            else
                            {
                                <a href="/transaction/exportaccountpayback?type=@(Context.Request.Query["type"].ToString()==""?"All":Context.Request.Query["type"].ToString())" class="btn btn-primary m-btn--wide mr-3">Export To Excel</a>
                            }
                        </div>
                            foreach (var item in Model)
                            {

                                <div class="m-section">                                    
                                    <div class="m-section__content">
                                        <table class="table">
                                            <thead class="thead-inverse">
                                                <tr>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        DATETIME
                                                    </th>
                                                    <th>
                                                        AMOUNT CASHOUT
                                                    </th>
                                                    <th>
                                                        STATUS CASHOUT
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @{
                                            int count = 1;
                                            long total_amount = 0;
                                        }
                                            <tr>
                                                <td>NAME</td>
                                                <td>@item.Account.BankAccountName</td>
                                                <td>BANK NUMBER</td>
                                                <td>@item.Account.BankAccountNumber</td>
                                            </tr>
                                            @foreach (var transaction in item.Transactions)
                                            {
                                                            <tr>
                                                                <td>@(count)</td>
                                                                <td>@transaction.DateModified</td>
                                                                <td>@transaction.Amount</td>
                                                                <td>@(transaction.IsCashOut.HasValue ? transaction.IsCashOut.Value : false)</td>
                                                            </tr>
                                                            count++;
                                                            total_amount += transaction.Amount;
                                            }
                                            <tr>
                                                <td colspan="2"><span style="color:red;font-weight:bold;" class="pull-right">TOTAL</span></td>
                                                <td colspan="2"><span style="color:red;font-weight:bold;" class="pull-right">@total_amount</span></td>                                                        
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="m-demo__preview">
                                    Sorry, do not have transaction for binding!
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


