
@{
    ViewData["Title"] = "AccountCharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ListTransactionViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
    Phí trả Influencer
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>

        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/transaction" class="m-nav__link">
                <span class="m-nav__link-text">
                    Transaction
                </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/transaction/accountcharge" class="m-nav__link">
                <span class="m-nav__link-text">
                    Phí trả Influencer
                </span>
            </a>
        </li>
    </ul>
}

<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--tabs">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Phí trả Influencer
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--right m-tabs-line-danger" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["status"] == "Created"?"active":"")" href="/transaction/accountcharge?status=Created" role="tab">
                                @TransactionStatus.Created.ToDisplayName()
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["status"] == "Canceled"?"active":"")" href="/transaction/accountcharge?status=Canceled" role="tab">                                
                                @TransactionStatus.Canceled.ToDisplayName()
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["status"] == "Processing"?"active":"")" href="/transaction/accountcharge?status=Processing" role="tab">                                
                                @TransactionStatus.Processing.ToDisplayName()
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["status"] == "Completed"?"active":"")" href="/transaction/accountcharge?status=Completed" role="tab">
                                @TransactionStatus.Completed.ToDisplayName()
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link @(Context.Request.Query["status"] == "Error"?"active":"")" href="/transaction/accountcharge?status=Error" role="tab">                                
                                @TransactionStatus.Error.ToDisplayName()
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active show">

                        @if (Model != null)
                        {

                            @await Html.PartialAsync("~/Views/Transaction/_TransactionItem.cshtml", Model)
                        }
                        else
                        {
                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="m-demo__preview">
                                    Sorry, do not have transaction for binding!
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="m-portlet__foot">
                <pager pager="@Model.Pager" asp-route-status="@(Context.Request.Query["status"])" asp-action="accountcharge"></pager>
            </div>
        </div>
    </div>
</div>


