@model ListTransactionHistoryViewModel
@inject WebServices.Interfaces.ICampaignService  CampaignService
@{

}
<div class="card">


    <div class="card-header d-flex">
        <div class="mr-auto">
            Lịch sử giao dịch
        </div>
    </div>
    <div class="card-body">

        @*<div class="mb-3">
                <form method="get" action="#">
                    <div class="input-group">

                        <input type="text" name="daterange" autocomplete="off" class="form-control form-daterangepicker" value="@ViewBag.DateRange" />

                        <div class="input-group-append">


                            <button type="submit" class="btn btn-outline-secondary">
                                <i class="fal fa-search"></i>
                            </button>

                        </div>
                    </div>
                </form>
            </div>*@
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Mã giao dịch</th>
                        <th>Số tiền</th>
                        <th>Còn lại</th>
                        <th>Nội dung</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.TransactionHistories)
                    {
                        var textcolor = item.Amount >= 0 ? "text-success" : "text-danger";
                        var textsyl = item.Amount > 0 ? "+" : "";
                        <tr>
                            <td>@item.Code</td>
                            <td class="@textcolor">@textsyl @item.Amount.ToPriceText()</td>
                            <td class="text-primary">@item.Balance.ToPriceText()</td>


                            <td data-refid="@item.RefId">
                                @{ 
                                    var url = "";
                                    if(CurrentUser.Type== EntityType.Account)
                                    {
                                        url = Url.Action("Details", "AccountCampaign", new { id = item.RefId });
                                    }
                                    else
                                    {
                                        url = Url.Action("Details", "AgencyCampaign", new { id = item.RefId });
                                    }
                                }
                            

                                @if (item.Type.ToString().Contains("Campaign"))
                                {
                                    var code = await CampaignService.GetCampaignCode(item.RefId);
                                    <a href="@url"> @item.Type.ToDisplayName() chiến dịch @code</a>

                                }
                                else
                                {
                                    <span>@item.Type.ToDisplayName()</span>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
                @*<tfoot>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                    </tfoot>*@
            </table>
        </div>

    </div>

</div>
