@model MarketPlaceViewModel
@inject WebServices.Interfaces.IAccountService AccountService
@inject WebServices.Interfaces.ICampaignAccountCaptionService CampaignAccountCaptionService
@inject WebServices.Interfaces.ICampaignAccountContentService CampaignAccountContentService
@{

    var campaignAccount = Model.CampaignAccounts.FirstOrDefault(m => m.AccountId == CurrentUser.Id);

    var campaignType = Model.Campaign.Type;
}



@if (Model.Campaign.Status == CampaignStatus.Canceled)
{
}
else
{
    if (campaignAccount != null)
    {
        <div class="card" style="border:none;">
            <div class="card-body">

                @*<button class="btn btn-info btn-updaterefimages" data-url="@Url.Action("UpdateCampaignAccountRefImages",
                                                new {campaignid = Model.Campaign.Id, campaigntype = Model.Campaign.Type })">
                    Hình ảnh thực hiện chiến dịch của bạn
                </button>

                <button class="btn btn-warning btn-rounded btn-block btn-updateref" data-url="@Url.Action("UpdateCampaignAccountRef", new {campaignid = Model.Campaign.Id, campaigntype = Model.Campaign.Type })">
                    Cập nhật thông tin công việc
                </button>*@



                @if (campaignAccount.Status == CampaignAccountStatus.Canceled)
                {
                    <div class="alert alert-info">Bạn đã từ chối không tham gia chiến dịch</div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.AgencyCanceled)
                {
                    <div class="alert alert-info">Doanh nghiệp từ chối vì bạn không phù hợp</div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Unfinished || campaignAccount.Status == CampaignAccountStatus.NeedToCheckExcecuteCampaign)
                {
                    <div class="alert alert-warning">
                        <p>Cám ơn bạn đã thực hiện chiến dịch</p>

                        @if (!string.IsNullOrEmpty(campaignAccount.Note))
                        {
                            <p>Ghi chú từ hệ thống: @(campaignAccount.Note)</p>
                        }



                        @{var fbPost = await AccountService.GetAccountFbPost(CurrentUser.Id, campaignAccount.RefId); }


                        @if (!string.IsNullOrEmpty(Model.Campaign.Data))
                        {
                            <p>
                                Link chiến dịch: <a href="@Model.Campaign.Data" target="_blank">@Model.Campaign.Data</a>
                            </p>
                            <p>
                                Link bạn chia sẻ: <a href="@(campaignAccount.RefUrl)" target="_blank">@(campaignAccount.RefUrl)</a>
                            </p>
                        }

                        @if (fbPost != null)
                        {
                            <p>
                                Facebook post của bạn: <a href="@(fbPost.Permalink)" target="_blank">@(fbPost.Permalink)</a>
                            </p>
                            <p>
                                <span>
                                    @fbPost.LikeCount <i class="fal fa-thumbs-up"></i>
                                </span>
                                <span class="px-2">
                                    @fbPost.ShareCount <i class="fal fa-share"></i>
                                </span>
                                <span>
                                    @fbPost.CommentCount <i class="fal fa-comment"></i>
                                </span>
                            </p>
                        }

                        @if (!string.IsNullOrEmpty(campaignAccount.RefImage) && Model.Campaign.Type == CampaignType.JoinEvent)
                        {
                            <p>
                                Hình ảnh check-in của bạn:
                            </p>
                            <p>
                                @{
                                    string[] _imageURLs = campaignAccount.RefImage.Split(new string[] { "|" }, StringSplitOptions.None);
                                }
                                @foreach (var url in _imageURLs)
                                {
                                    <span>
                                        <a href="@AppOptions.CurrentValue.GetImageUrl(url)" data-lightbox="Ảnh mẫu" data-title="Ảnh mẫu">
                                            <img src="@AppOptions.CurrentValue.GetImageUrl(url)" style="height:80px" />
                                        </a>
                                    </span>
                                }
                            </p>
                        }



                    </div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.NeedToCheckExcecuteCampaign) // trường hợp phải kiểm tra lại
                {

                }
                else if (campaignAccount.Status == CampaignAccountStatus.AgencyRequest)
                {
                    <div class="alert alert-info">Bạn đã được mời tham gia chiến dịch </div>

                }
                else if (campaignAccount.Status == CampaignAccountStatus.AccountRequest)
                {
                    <div class="alert alert-info">Bạn đã yêu cầu tham gia chiến dịch thành công. Vui lòng chờ doanh nghiệp xác nhận</div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Finished)
                {
                    if (Model.Campaign.Status == CampaignStatus.Completed)
                    {

                        @if (!string.IsNullOrEmpty(campaignAccount.RefId) && !string.IsNullOrEmpty(campaignAccount.RefUrl))
                        {
                            <div class="alert alert-info">
                                <p>
                                    Bạn đã thực hiện chiến dịch.
                                </p>
                                @{var fbPost = await AccountService.GetAccountFbPost(CurrentUser.Id, campaignAccount.RefId);}
                                @if (fbPost != null)
                                {
                                    @if (!string.IsNullOrEmpty(Model.Campaign.Data))
                                    {
                                        <p>Bài viết đã thực hiện:<a href="@campaignAccount.RefUrl" target="_blank"> @campaignAccount.RefUrl</a></p>

                                    }
                                    <p></p>
                                    <p>Facebook thực hiện: <a href="@fbPost.Permalink" target="_blank"> <i class="fab fa-facebook"></i> @fbPost.Permalink</a></p>

                                    <p>
                                        <span>
                                            @fbPost.LikeCount <i class="fal fa-thumbs-up"></i>
                                        </span>
                                        <span class="px-2">
                                            @fbPost.ShareCount <i class="fal fa-share"></i>
                                        </span>
                                        <span>
                                            @fbPost.CommentCount <i class="fal fa-comment"></i>
                                        </span>
                                    </p>
                                }
                                @if (!string.IsNullOrEmpty(campaignAccount.RefImage) && Model.Campaign.Type == CampaignType.JoinEvent)
                                {
                                    <p>
                                        Hình ảnh check-in của bạn:
                                    </p>
                                    <p>
                                        @{
                                            string[] _imageURLs = campaignAccount.RefImage.Split(new string[] { "|" }, StringSplitOptions.None);
                                        }
                                        @foreach (var url in _imageURLs)
                                        {
                                            <span>
                                                <a href="@AppOptions.CurrentValue.GetImageUrl(url)" data-lightbox="Ảnh mẫu" data-title="Ảnh mẫu">
                                                    <img src="@AppOptions.CurrentValue.GetImageUrl(url)" style="height:80px" />
                                                </a>
                                            </span>
                                        }
                                    </p>
                                }
                            </div>
                        }


                    }
                    else
                    {
                            <div class="alert alert-info">
                                <p>
                                    Bạn đã thực hiện chiến dịch.
                                </p>

                                @if (!string.IsNullOrEmpty(campaignAccount.RefId) && !string.IsNullOrEmpty(campaignAccount.RefUrl))
                                {

                                    var fbPost = await AccountService.GetAccountFbPost(CurrentUser.Id, campaignAccount.RefId);
                                    @if (fbPost != null)
                                    {

                                        <p>Bài viết đã thực hiện: <a href="@campaignAccount.RefUrl" target="_blank">  @campaignAccount.RefUrl</a></p>
                                        <p>Facebook thực hiện: <a href="@fbPost.Permalink" target="_blank"> <i class="fab fa-facebook"></i> @fbPost.Permalink</a></p>

                                        <p>
                                            <span>
                                                @fbPost.LikeCount <i class="fal fa-thumbs-up"></i>
                                            </span>
                                            <span class="px-2">
                                                @fbPost.ShareCount <i class="fal fa-share"></i>
                                            </span>
                                            <span>
                                                @fbPost.CommentCount <i class="fal fa-comment"></i>
                                            </span>
                                        </p>


                                    }


                                }
                                @if (!string.IsNullOrEmpty(campaignAccount.RefImage) && Model.Campaign.Type == CampaignType.JoinEvent)
                                {
                                    <p>
                                        Hình ảnh check-in của bạn:
                                    </p>
                                    <p>
                                        @{
                                            string[] _imageURLs = campaignAccount.RefImage.Split(new string[] { "|" }, StringSplitOptions.None);
                                        }
                                        @foreach (var url in _imageURLs)
                                        {
                                            <span>
                                                <a href="@AppOptions.CurrentValue.GetImageUrl(url)" data-lightbox="Ảnh mẫu" data-title="Ảnh mẫu">
                                                    <img src="@AppOptions.CurrentValue.GetImageUrl(url)" style="height:80px" />
                                                </a>
                                            </span>
                                        }
                                    </p>
                                }
                                <p>
                                    @if (Model.Campaign.Type == CampaignType.ChangeAvatar || Model.Campaign.Type == CampaignType.JoinEvent)
                                    {
                                        <text>Ngay sau khi chiến dịch kết thúc đúng thời gian và yêu cầu bạn sẽ nhận được thanh toán vào tài khoản.</text>
                                    }
                                    else
                                    {
                                        <text>Ngay sau khi chiến dịch kết thúc bạn sẽ nhận được thanh toán vào tài khoản.</text>
                                    }



                                </p>

                            </div>

                    }
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Confirmed ||
                                        campaignAccount.Status == CampaignAccountStatus.ApprovedContent
                        || campaignAccount.Status == CampaignAccountStatus.UpdatedContent)
                {

                    var showProccess = true;

                    var hasCaption = Model.Campaign.Type.IsHasCaption();
                    if (hasCaption)
                    {
                        showProccess = false;
                        var isvalid = await CampaignAccountCaptionService.IsValidCaption(campaignAccount.Id);
                        if (isvalid)
                        {
                            showProccess = true;
                        }
                        else
                        {
                            <div class="alert alert-info">Caption của bạn chưa có hoặc chưa được duyệt. Vui lòng kiểm tra lại <a href="@Url.Action("Details", new { id = Model.Campaign.Id, tab = 2 })"> tại đây</a> </div>
                        }
                    }
                    else if (Model.Campaign.Type.IsHasContent())
                    {

                        showProccess = false;
                        var isvalid = await CampaignAccountContentService.IsValidContent(campaignAccount.Id);
                        if (isvalid)
                        {
                            showProccess = true;
                        }
                        else
                        {
                            <div class="alert alert-info">Nội dung thực hiện của bạn chưa có hoặc chưa được duyệt. Vui lòng kiểm tra lại <a href="@Url.Action("Details", new { id = Model.Campaign.Id, tab = 3 })"> tại đây</a> </div>
                        }

                    }

                    if (showProccess)
                    {
                        if (Model.Campaign.Status == CampaignStatus.Started)
                        {



                            <div class="alert alert-info">

                                <p>
                                    Chiến dịch đã được bắt đầu thực hiện. <br />
                                    Hãy thực hiện ngay để nhận @campaignAccount.AccountChargeAmount.ToPriceText()
                                </p>
                            </div>

                            <div>
                                @if (Model.Campaign.Type.IsShareCampaign())
                                {
                                    @*<button id="btn-facebook-share" class="btn btn-primary btn-rounded btn-block btn-shareui" data-urlsubmit="@Url.Action("SubmitCampaignAccountSharedContent")" data-caption="@campaignAccount.RefContent" data-href="@Model.Campaign.Data">

                <i class="fab fa-facebook"></i> Chia sẻ trên Facebook
            </button>

            <hr>*@
                                }


                                @if (Model.Campaign.Type == CampaignType.JoinEvent)
                                {

                                    if (Model.Campaign.FeedbackStart.HasValue && Model.Campaign.FeedbackEnd.HasValue)
                                    {
                                            if (Model.Campaign.FeedbackStart.Value <= DateTime.Now && Model.Campaign.FeedbackEnd.Value >= DateTime.Now)
                                            {

                                                <strong>Bước 1:</strong>
                                                if (string.IsNullOrEmpty(campaignAccount.RefImage))
                                                {

                                                    <button class="btn btn-info btn-updaterefimages btn-block" data-url="@Url.Action("UpdateCampaignAccountRefImages",
                                                    new {campaignid = Model.Campaign.Id, campaigntype = Model.Campaign.Type })">
                                                        Chụp lại màn hình post check-in của bạn
                                                    </button>
                                                }
                                            }

                                            @if (!string.IsNullOrEmpty(campaignAccount.RefImage))
                                            {
                                                <p>
                                                    Hình ảnh check-in của bạn:
                                                </p>
                                                <p>
                                                    @{
                                                        string[] _imageURLs = campaignAccount.RefImage.Split(new string[] { "|" }, StringSplitOptions.None);
                                                    }
                                                    @foreach (var url in _imageURLs)
                                                    {
                                                        <span>
                                                            <a href="@AppOptions.CurrentValue.GetImageUrl(url)" data-lightbox="Ảnh mẫu" data-title="Ảnh mẫu">
                                                                <img src="@AppOptions.CurrentValue.GetImageUrl(url)" style="height:80px" />
                                                            </a>
                                                        </span>
                                                    }
                                                </p>
                                            }
                                            <strong>Bước 2:</strong>
                                        }
                                        else
                                        {
                                            if (string.IsNullOrEmpty(campaignAccount.RefImage))
                                            {
                                                <strong>Đã hết thời gian gửi hình bài post tại thời điểm check-in </strong>
                                            }
                                        }

                                    <button class="btn btn-warning btn-rounded btn-block btn-updateref" 
                                            data-url="@Url.Action("UpdateCampaignAccountRef", new {campaignid = Model.Campaign.Id, campaigntype = Model.Campaign.Type })">
                                        Cập nhật link bài post để hoàn thành công việc
                                    </button>


                                }
                                else
                                {
                                    <button class="btn btn-warning btn-rounded btn-block btn-updateref" data-url="@Url.Action("UpdateCampaignAccountRef", new {campaignid = Model.Campaign.Id, campaigntype = Model.Campaign.Type })">
                                        Cập nhật thông tin công việc
                                    </button>
                                }



                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                Vui lòng chờ chiến dịch bắt đầu để thực hiện công việc. Chiến dịch sẽ bắt đầu thực hiện lúc  <strong>@Model.Campaign.ExecutionStart.Value.ToViDateTime()</strong>
                            </div>
                        }


                    }

                }
            </div>
        </div>



    }
}