@model MarketPlaceViewModel
<ul class="nav nav-tabs nav-campaign">
    <li class="nav-item">
        <a class="nav-link @(0 == ViewBag.Tab ? "active":"")" href="@Url.Action("Details",new {  id = Model.Campaign.Id, tab = 0})">Thông tin chung</a>
    </li>
    @*<li class="nav-item">
            <a class="nav-link @(1 == ViewBag.Tab ? "active":"")" href="@Url.Action("Details",new {  id = Model.Campaign.Id, tab = 1})">Thống kê</a>
        </li>*@
    @{ 
        var CurrentCampaignAccount = Model.CurrentCampaignAccount(CurrentUser.Id);
        
    }
    @if (Model.Campaign.Type.IsHasCaption())
    {
        if (CurrentCampaignAccount != null)
        {
            if (CurrentCampaignAccount.Status == CampaignAccountStatus.ApprovedContent || CurrentCampaignAccount.Status == CampaignAccountStatus.Confirmed)
            {
                <li class="nav-item">
                    <a class="nav-link @(2 == ViewBag.Tab ? "active" : "")" href="@Url.Action("Details", new { id = Model.Campaign.Id, tab = 2 })">Caption</a>
                </li>
            }
        }

    }
    else if (Model.Campaign.Type.IsHasContent())
    {
        if (CurrentCampaignAccount != null)
        {
            if (CurrentCampaignAccount.Status == CampaignAccountStatus.ApprovedContent || CurrentCampaignAccount.Status == CampaignAccountStatus.Confirmed)
            {
                <li class="nav-item">
                    <a class="nav-link @(3 == ViewBag.Tab ? "active" : "")" href="@Url.Action("Details", new { id = Model.Campaign.Id, tab = 3 })">Nội dung</a>
                </li>
            }
        }
    }



</ul>