@model MarketPlaceViewModel
@inject WebServices.Interfaces.IAccountService AccountService
@inject WebServices.Interfaces.ICampaignAccountCaptionService CampaignAccountCaptionService
@inject WebServices.Interfaces.ICampaignAccountContentService CampaignAccountContentService
@{

    var campaignAccount = Model.CampaignAccounts.FirstOrDefault(m => m.AccountId == CurrentUser.Id);
    var campaignType = Model.Campaign.Type;
}

@if (Model.Campaign.Status == CampaignStatus.Canceled)
{
}
else
{
    if (campaignAccount != null)
    {
        <div class="card ">
            <div class="card-body">


                @if (campaignAccount.Status == CampaignAccountStatus.Canceled)
                {
                    <div class="alert alert-info">Bạn đã từ chối không tham gia chiến dịch</div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Unfinished)
                {
                    <div class="alert alert-danger">Bạn đã không thực hiện công việc được giao</div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.AgencyRequest)
                {
                    <div class="alert alert-info">Bạn đã được mời tham gia chiến dịch </div>

                }
                else if (campaignAccount.Status == CampaignAccountStatus.AccountRequest)
                {
                    <div class="alert alert-info">Bạn đã yêu cầu tham gia chiến dịch thành công. Vui lòng chờ doanh nghiệp xác nhận</div>
                }

                else if (campaignAccount.Status == CampaignAccountStatus.Finished)
                {
                    if (Model.Campaign.Status == CampaignStatus.Completed)
                    {
                        <div class="alert alert-info">

                            <p>
                                Bạn thực hiện thành công  của chiến dịch.

                            </p>

                            @if (!string.IsNullOrEmpty(campaignAccount.RefId))
                            {
                                <p>Facebook Id thực hiện: @campaignAccount.RefId</p>
                            }
                            @if (!string.IsNullOrEmpty(campaignAccount.RefUrl))
                            {

                                var fbPost = await AccountService.GetAccountFbPost(CurrentUser.Id, campaignAccount.RefId);
                                <p>Bài viết đã thực hiện: <a href="@campaignAccount.RefUrl" target="_blank"> <i class="fab fa-facebook"></i> @campaignAccount.RefUrl</a></p>
                                <p>
                                    @if (fbPost != null)
                                    {
                                        <span>
                                            @fbPost.LikeCount <i class="fal fa-thumbs-up"></i>
                                        </span>
                                        <span class="px-2">
                                            @fbPost.ShareCount <i class="fal fa-share"></i>
                                        </span>
                                        <span>
                                            @fbPost.CommentCount <i class="fal fa-comment"></i>
                                        </span>
                                    }

                                </p>
                            }

                        </div>

                    }
                    else
                    {
                        <div class="alert alert-info">
                            <p>
                                Bạn thực hiện thành công  của chiến dịch.

                            </p>

                            @if (!string.IsNullOrEmpty(campaignAccount.RefId))
                            {
                                <p>Facebook Id thực hiện: @campaignAccount.RefId</p>
                            }
                            @if (!string.IsNullOrEmpty(campaignAccount.RefUrl))
                            {

                                var fbPost = await AccountService.GetAccountFbPost(CurrentUser.Id, campaignAccount.RefId);
                                <p>Bài viết đã thực hiện: <a href="@campaignAccount.RefUrl" target="_blank"> <i class="fab fa-facebook"></i> @campaignAccount.RefUrl</a></p>
                                <p>
                                    @if (fbPost != null)
                                    {
                                        <span>
                                            @fbPost.LikeCount <i class="fal fa-thumbs-up"></i>
                                        </span>
                                        <span class="px-2">
                                            @fbPost.ShareCount <i class="fal fa-share"></i>
                                        </span>
                                        <span>
                                            @fbPost.CommentCount <i class="fal fa-comment"></i>
                                        </span>
                                    }

                                </p>
                            }
                            <p>
                                Ngay sau khi chiến dịch kết thúc bạn sẽ nhận được tiền vào tài khoản
                            </p>
                            @*<p>
                                    <button class="btn btn-info btn-updaterefimages" data-url="@Url.Action("UpdateCampaignAccountRefImages", new {campaignid = Model.Campaign.Id, campaigntype = Model.Campaign.Type })">Thêm Hình ảnh thực hiện chiến dịch </button>
                                </p>*@
                        </div>

                    }
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Confirmed || campaignAccount.Status == CampaignAccountStatus.ApprovedContent
                        || campaignAccount.Status == CampaignAccountStatus.UpdatedContent)
                {

                    var showProccess = true;

                    var hasCaption = Model.Campaign.Type.IsHasCaption();
                    if (hasCaption)
                    {
                        showProccess = false;
                        var isvalid = await CampaignAccountCaptionService.IsValidCaption(campaignAccount.Id);
                        if (isvalid)
                        {
                            showProccess = true;
                        }
                        else
                        {
                            <div class="alert alert-info">Caption  của bạn chưa có hoặc chưa được duyệt. Vui lòng kiểm tra lại <a href="@Url.Action("Details", new { id = Model.Campaign.Id, tab = 2 })"> tại đây</a> </div>
                        }
                    }
                    else if (Model.Campaign.Type.IsHasContent())
                    {

                        showProccess = false;
                        var isvalid = await CampaignAccountContentService.IsValidContent(campaignAccount.Id);
                        if (isvalid)
                        {
                            showProccess = true;
                        }
                        else
                        {
                            <div class="alert alert-info">Nội dung thực hiện của bạn chưa có hoặc chưa được duyệt. Vui lòng kiểm tra lại <a href="@Url.Action("Details", new { id = Model.Campaign.Id, tab = 3 })"> tại đây</a> </div>
                        }

                    }

                    if (showProccess)
                    {
                        if (Model.Campaign.Status == CampaignStatus.Started)
                        {



                            <div class="alert alert-info">

                                <p>
                                    Chiến dịch đã được bắt đầu thực hiện. <br />
                                    Hãy thực hiện ngay để nhận @campaignAccount.AccountChargeAmount.ToPriceText()
                                </p>
                            </div>

                            <div>
                                @if (Model.Campaign.Type.IsShareCampaign())
                                {
                                    <button class="btn btn-primary btn-rounded btn-block btn-shareui" data-urlsubmit="@Url.Action("SubmitCampaignAccountSharedContent")" data-caption="@campaignAccount.RefContent" data-href="@Model.Campaign.Data">

                                        <i class="fab fa-facebook"></i> Chia sẻ trên Facebook
                                    </button>

                                    <hr>
                                }

                                <button class="btn btn-warning btn-rounded btn-block btn-updateref" data-url="@Url.Action("UpdateCampaignAccountRef", new {campaignid = Model.Campaign.Id, campaigntype = Model.Campaign.Type })">
                                    Cập nhật thông tin công việc
                                </button>

                            </div>
                        }

                        else
                        {
                            <div class="alert alert-info">
                                Vui lòng chờ chiến dịch bắt đầu để thực hiện công việc. Chiến dịch sẽ bắt đầu thực hiện lúc  <strong>@Model.Campaign.ExecutionStart.Value.ToViDateTime()</strong>
                            </div>
                        }


                    }

                }
            </div>
        </div>



    }
}