@model MarketPlaceViewModel
@inject WebServices.Interfaces.IAccountService AccountService
@{

    ViewData["Title"] = $"Chiến dịch {Model.Campaign.Code}";

    var hasNewContent = false;
    ListCampaignAccountContentViewModel Contents = null;

    var campaignAccount = Model.CampaignAccounts.FirstOrDefault(m => m.AccountId == CurrentUser.Id);
    var isjoin = campaignAccount != null;


    if (isjoin)
    {

        Contents = ViewBag.Contents != null ? (ListCampaignAccountContentViewModel)ViewBag.Contents : null;
        if (Contents != null)
        {
            var lastContent = Contents.CampaignAccountContents.FirstOrDefault(m => m.Status == CampaignAccountContentStatus.DaDuyet);
            if (lastContent == null)
            {
                hasNewContent = true;
            }
        }
        else
        {
            hasNewContent = true;
        }
    }



}
@section Scripts{


    <script type="text/javascript">
        $().ready(function () {

            var t = 0;
            $('#modal-campaign-form-Content').on('shown.bs.modal', function (e) {                
                if (t == 0) {
                    $('#dataImageFile').change(function () {
                        var id = $(this).attr('id');
                        var target = $(this).data('target');
                        var preview = $(this).data('preview');
                        var sizetype = $(this).data('sizetype');
                        var files = document.getElementById(id).files;
                        console.log("data image change");
                        AppCommon.uploadTempImage(files, function (datas) {
                            if (datas.length > 0) {

                                var strImages = '';
                                datas.forEach(function (item) {
                                    var html = '<div class="addonimage"><span class="remove"><i class="fal fa-times"></i></span> <img src="' + item.url + '" class="img-thumbnail mt-2" style="" /><input type="hidden" name="content_image" value="' + item.path + '" /></div>';
                                    strImages += strImages == '' ? item.path : '|' + item.path;
                                    $(target).append(html);
                                });

                                $(preview).val(strImages);

                                $('.addonimage .remove').unbind('click');
                                $('.addonimage .remove').click(function () {
                                    $(this).closest('.addonimage').remove();
                                });

                            }
                        }, sizetype);

                    });
                    t = 1;
                }

            })



        })
    </script>

}
@section Top{

    <partial name="_DetailBreadcrumbPartial" model="Model" />

}




<partial name="_DetailsNavPartial" model="Model" />
<div class="tab-content" id="myTabContent">

    <div class="tab-pane fade active show">
        <div class="card  border-0 card-body">

            <div class="d-flex bd-highlight my-3">
                <div class="mr-auto h2 text-primary">
                    Phản hồi duyệt nội dung
                </div>

                @if (hasNewContent)
                {
                    <div class="bd-highlight">
                        <button class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#modal-campaign-form-Content">Gửi nội dung</button>
                    </div>
                }


            </div>

            <div class="h4">@Model.Campaign.Type.ToText()</div>
            <div class="font-weight-bold text-primary">@Model.Campaign.Title</div>

            <hr />

            @if (campaignAccount == null)
            {
                <div class="alert alert-info">Bạn chưa tham gia chiến dịch</div>
            }
            else if (Contents != null)
            {


                foreach (var item in Contents.CampaignAccountContents)
                {

                    <div class="card border-0">
                        <div class="card-body">

                            <p>
                                @item.Content
                            </p>

                            @if (item.Image.Count > 0)
                            {
                                <ul class="list-inline">
                                    @foreach (var img in item.Image)
                                    {
                                        <li class="list-inline-item">
                                            <a data-lightbox="Ảnh mẫu" data-title="Ảnh mẫu" href="@AppOptions.CurrentValue.GetImageUrl(img)">
                                                <img src="@AppOptions.CurrentValue.GetImageUrl(img)" height="32">
                                            </a>
                                            
                                        </li>
                                    }
                                </ul>
                            }

                            <div class="d-flex mb-2">
                                <div class="mr-auto text-black-50 small">
                                    <i class="fa fa-clock"></i> @item.DateCreated.ToTimeAgo()
                                </div>
                                <div>
                                    @item.Status.ToBadge()
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(item.Note))
                            {
                                <p class="bg-info text-white p-3">
                                    <strong>Ghi chú từ doanh nghiệp</strong> <br />
                                    <em class="text-secondary">@item.Note</em>
                                </p>
                            }


                        </div>
                    </div>
                    <hr />

                }



                <pager pager="@Contents.Pager" asp-action="Details" asp-route-id="@Model.Campaign.Id" asp-route-tab="2"></pager>

            }
        </div>

    </div>
</div>


@*<div class="container">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">

            <partial name="_DetailSidebarPartial" model="Model" />


        </div>
    </div>
</div>*@



@if (hasNewContent)
{

    <!-- Modal -->
    <div class="modal fade" style="z-index: 999999;" id="modal-campaign-form-Content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gửi Content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form asp-action="CreateContent" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Nội dung Content</label>
                            <textarea class="form-control" rows="2" name="Content" required></textarea>
                        </div>
                        <div class="form-group">
                            @if (Model.Campaign.Type == CampaignType.ChangeAvatar)
                            {

                                <label>Ảnh Avatar</label>
                                @*<div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" multiple name="file">
                                        <label class="custom-file-label" for="customFile">Ảnh Avatar</label>
                                    </div>*@
                            }
                            else
                            {
                                <label>Ảnh nội dung</label>

                                @*<div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" multiple name="file">
                                        <label class="custom-file-label" for="customFile">Ảnh nội dung</label>
                                    </div>*@
                            }


                            <input type="file" id="dataImageFile" class="form-control" data-target="#list-images" data-preview="#strImages" multiple/>
                            <input type="hidden" id="strImages" name="strImages" />

                            <div id="list-images">
                                @*<img src="" id="imagePreview" class="img-thumbnail mt-2" style="max-height:400px" />*@
                            </div>



                        </div>
                        <div class="text-right">
                            <input type="hidden" name="CampaignId" value="@Model.Campaign.Id" />
                            <input type="hidden" name="CampaignAccountId" value="@campaignAccount.Id" />

                            <button class="btn btn-primary btn-rounded"  type="submit">Gửi</button>
                        </div>

                    </form>

                    <!--#################################-->
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>*@
            </div>
        </div>
    </div>
    <!-- Modal -->

}