@model MarketPlaceViewModel
@inject WebServices.Interfaces.IAccountService AccountService
@{

    ViewData["Title"] = $"Chiến dịch {Model.Campaign.Code}";
    ViewBag.IsDetails = true;

    var campaignAccount = Model.CampaignAccounts.FirstOrDefault(m => m.AccountId == CurrentUser.Id);

    var now = DateTime.Now;
    var campaignType = Model.Campaign.Type;

    var accountStatus = (AccountStatus)ViewBag.AccountStatus;
    var hasProccess = accountStatus == AccountStatus.SystemVerified;

    var hasApply = hasProccess && campaignAccount == null && Model.Campaign.Status != CampaignStatus.Canceled
        && Model.Campaign.DateStart.Value <= now && now <= Model.Campaign.DateEnd.Value;
    var hasConfirmJoin = hasProccess && Model.Campaign.Status != CampaignStatus.Canceled && campaignAccount != null && campaignAccount.Status == CampaignAccountStatus.AgencyRequest;
}

@section Top{

    <partial name="_DetailBreadcrumbPartial" model="Model" />
}

@if (hasProccess)
{
    <partial name="_DetailsNavPartial" model="Model" />
}

@if (!hasProccess)
{
    <div class="alert alert-info">Tài khoản chưa được duyệt. Vui lòng chờ quản trị viên duyệt để thực hiện chiến dịch</div>

}





<div class="tab-content" id="myTabContent">
    @{
        var formAction = "javascript:;";
        if (hasApply)
        {
            formAction = Url.Action("RequestJoinCampaign", "Campaign");
        }
        else if (hasConfirmJoin)
        {
            formAction = Url.Action("FeedbackJoinCampaign", "Campaign");

        }
    }


    <div class="tab-pane fade active show " id="campaign-info" role="tabpanel">
        <form action="@(formAction)" class="campaigndetails" name="formCampaignDetail">
            @if (hasProccess)
            {
                <partial name="_DetailSidebarPartial" model="Model" />
            }

            <partial name="_CampaignDetailPartial" model="Model" />


            <div class="card-body campaign-text ">

                <h5>Giới thiệu:</h5>
                <p>
                    @Model.Campaign.Description
                </p>
                <h5>Công việc cần làm:</h5>
                <p>
                    @Model.Campaign.Requirement
                </p>
                @if (!string.IsNullOrEmpty(Model.Campaign.Data))
                {
                    <h5>@Model.Campaign.Type.ToActionText():</h5>
                    <p>
                        <a target="blank" href="@Model.Campaign.Data">
                            @Model.Campaign.Data
                        </a>
                    </p>
                }
                @{
                    var images = Model.Campaign.Image.ToListString();
                    if (images.Count > 0)
                    {
                        <h5>Hình ảnh:</h5>
                        <ul class="list-inline">
                            @foreach (var imgItem in images)
                            {
                                <li class="list-inline-item">
                                    <img src="@AppOptions.CurrentValue.GetImageUrl(imgItem)" width="128" class="img-thumbnail">
                                </li>
                            }
                        </ul>
                    }
                }

                @{
                    var hashtags = Model.Campaign.Hashtag.ToListString();
                    if (hashtags.Count > 0)
                    {
                        <h5>Hashtag</h5>
                        <p>
                            @foreach (var item in Model.Campaign.Hashtag.Split('|'))
                            {
                                <span>#@item.Trim('#')</span>
                            }
                        </p>
                    }
                }



                @if (Model.Campaign.DateStart.HasValue && Model.Campaign.DateEnd.HasValue)
                {
                    <h5> Thời gian đăng ký</h5>
                    <p>
                    </p><ul class="list-unstyled">
                        <li>  @Model.Campaign.DateStart.Value.ToViDateTime() -  @Model.Campaign.DateEnd.Value.ToViDateTime()</li>
                    </ul>
                }

                @if (Model.Campaign.Type == CampaignType.ShareContentWithCaption || Model.Campaign.Type == CampaignType.ReviewProduct)
                {

                    if (Model.Campaign.FeedbackStart.HasValue && Model.Campaign.FeedbackEnd.HasValue)
                    {
                        if (Model.Campaign.Type == CampaignType.ReviewProduct)
                        {

                            <h5> Thời gian viết nội dung</h5>
                            <p></p>
                            <ul class="list-unstyled">
                                <li>  @Model.Campaign.FeedbackStart.Value.ToViDateTime() -  @Model.Campaign.FeedbackEnd.Value.ToViDateTime()</li>
                            </ul>
                        }
                        @*else
                            {
                                <strong> Thời gian &amp; địa điểm trải nghiệm sản phẩn/dịch vụ</strong>
                                <p>
                                </p><ul class="list-unstyled">
                                    <li>  @Model.Campaign.FeedbackStart.Value.ToViDateTime() -  @Model.Campaign.FeedbackEnd.Value.ToViDateTime()</li>

                                </ul>
                            }*@

                    }

                    if (Model.Campaign.Type == CampaignType.ReviewProduct)
                    {

                        <div class="mb-2">
                            <h5>
                                @Model.Campaign.ReviewType.ToDisplayName()
                            </h5>


                            @if (Model.Campaign.ReviewPayback.HasValue)
                            {
                                <p> - Trả lại sản phẩm sau khi trải nghiệm</p>
                            }

                            <h5 class="mr-2"> Địa điểm trả lại sản phẩm:</h5>
                            <p>@Model.Campaign.ReviewAddress</p>
                        </div>

                        @*<div>
                                @if (Model.Campaign.ReviewStart.HasValue && Model.Campaign.ReviewEnd.HasValue)
                                {
                                    <strong> Thời gian trải nghiệm</strong>

                                    <ul class="list-unstyled">
                                        <li>  @Model.Campaign.ReviewStart.Value.ToViDateTime() -  @Model.Campaign.ReviewEnd.Value.ToViDateTime()</li>
                                    </ul>
                                }
                                @if (!string.IsNullOrEmpty(Model.Campaign.ReviewAddress))
                                {
                                    <strong> Địa điểm trải nghiệm</strong>
                                    <p>
                                        @Model.Campaign.ReviewAddress
                                    </p>
                                }

                            </div>*@
                    }

                }

                @if (Model.Campaign.ExecutionStart.HasValue && Model.Campaign.ExecutionEnd.HasValue)
                {
                    <h5> Thời gian thực hiện chiến dịch</h5>
                    <p>
                    </p><ul class="list-unstyled">
                        <li>  @Model.Campaign.ExecutionStart.Value.ToViDateTime() -  @Model.Campaign.ExecutionEnd.Value.ToViDateTime()</li>
                    </ul>
                }


                @if (Model.Campaign.Type != CampaignType.ChangeAvatar && Model.Campaign.Type != CampaignType.JoinEvent && Model.Campaign.Type != CampaignType.ShareStreamUrl)
                {

                    <h5>KPIs tối thiểu mà doanh nghiệp yêu cầu bạn đạt được:</h5>

                    <ul class="list-unstyled">
                        @if (!hasApply && !hasConfirmJoin)
                        {
                            if (campaignAccount != null && campaignAccount.KPICommitted > 0)
                            {
                                <li>
                                    @campaignAccount.KPICommitted
                                </li>
                            }
                            @*else
                                if (Model.Campaign.InteractiveMin.HasValue)
                                {
                                    <li>
                                        @Model.Campaign.InteractiveMin.Value
                                    </li>
                                }*@
                            else
                            {
                                <li>
                                    @Model.Campaign.KPIMin
                                </li>
                            }
                            @*<li>@Model.InteractiveMin</li>*@
                        }
                        else
                        {
                            <li>
                                <input type="number" id="txtKPICommitted" name="KPICommitted"
                                       class="form-control" value="@Model.Campaign.InteractiveMin" min="@Model.Campaign.InteractiveMin" />
                            </li>

                        }
                    </ul>
                }
                else
                {

                    <input type="hidden" name="KPICommitted" class="form-control" value="0" />
                }


                @{
                    var amountMin = Model.Campaign.GetAccountAmountMin();
                    var amountMax = Model.Campaign.GetAccountAmountMax();
                }

                <h5>Số lượng doanh nghiệp cần:</h5>
                <p>
                    @Model.Campaign.Quantity
                </p>

                <h5>Chi phí doanh nghiệp sẽ trả cho bạn:</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        Chi phí tối thiểu: <span style="color: red">@amountMin.ToPriceText()</span>
                    </li>
                    <li class="list-inline-item">
                        Chi phí tối đa: <span style="color: red">@amountMax.ToPriceText()</span>
                    </li>
                </ul>
                @if (!hasApply && !hasConfirmJoin)
                {
                    if (campaignAccount != null)
                    {

                        <div style="margin-bottom:5px;">
                            <h5 class="mb-2">Thu nhập mong muốn của bạn</h5>

                            <div class="text-danger">
                                @campaignAccount.AccountChargeAmount.ToPriceText()
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="mb-3">
                        <h5 class="mb-2">Thu nhập mong muốn của bạn</h5>
                        <input type="number" name="AccountChargeAmount" class="form-control" value="@amountMin" min="@amountMin" max="@amountMax" />


                    </div>

                    if (Model.Campaign.Type == CampaignType.ReviewProduct)
                    {
                        if (true == Model.Campaign.ReviewPayback)
                        {
                        <div>
                            <strong class="mb-2">Địa chỉ nhận sản phẩm</strong>
                            @if (!string.IsNullOrEmpty(campaignAccount.ReviewAddress))
                            {
                                <p>@campaignAccount.ReviewAddress</p>
                            }
                            else
                            {
                                <input type="text" name="ReviewAddress" class="form-control" required value="" />
                            }

                        </div>
                        }
                    }
                }
                @{
                    var sampleimages = Model.Campaign.SampleContent.ToListString();
                    if (sampleimages.Count > 0)
                    {
                        <h5>Hình ảnh bạn cần đăng cùng nội dung :</h5>
                        <div>

                            @foreach (var item in sampleimages)
                            {
                                <img src="@AppOptions.CurrentValue.GetImageUrl(item)" style="height:80px" />
                            }
                        </div>
                    }
                }

                @if (!string.IsNullOrEmpty(Model.Campaign.SampleContentText))
                {

                    <h5>Nội dung mẫu  :</h5>

                    <div>
                        @Html.Raw(Model.Campaign.SampleContentText)
                    </div>
                }


                @if (hasApply || hasConfirmJoin)
                {

                    <div class="ml-auto mt-3">
                        @if (hasApply)
                        {
                            if (Model.Campaign.Type == CampaignType.ShareContentWithCaption)
                            {
                                <div class=" text-right">
                                    <button type="button" data-toggle="modal" data-target="#modal-campaign-apply-caption" class="btn btn-outline-primary">Apply</button>
                                </div>

                                <div class="modal fade" style="z-index: 999999;" id="modal-campaign-apply-caption" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Tham gia chiến dịch</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label>Nội dung caption bạn muốn chia sẻ</label>
                                                    <textarea class="form-control" rows="2" name="Caption"></textarea>
                                                </div>
                                                <div>
                                                    <button class="btn btn-rounded btn-primary" type="submit">Gửi và Tham gia chiến dịch</button>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <hr />
                                <div>
                                    <input type="hidden" name="Caption" value="none" />
                                    <button id="btn-campaign-apply" class="btn btn-rounded btn-primary" type="submit">Tham gia chiến dịch</button>
                                </div>
                            }
                        }

                        else if (hasConfirmJoin)
                        {
                            <hr />
                            <div class="text-right">
                                <button id="btn-campaign-apply" class="btn btn-primary btn-rounded" type="submit" name="type" value="1">Xác nhận tham gia chiến dịch</button>
                                <button class="btn btn-secondary btn-rounded" type="submit" name="type" value="0">Không đồng ý</button>
                            </div>
                        }


                        <input type="hidden" name="campaignid" value="@Model.Campaign.Id" />

                    </div>
                }


            </div>


        </form>
    </div>
    @*@if (campaignType == CampaignType.ReviewProduct)
        {
            if (true == Model.Campaign.ReviewPayback)
            {
                if (string.IsNullOrEmpty(campaignAccount.ReviewAddress))
                {

                <form asp-action="UpdateReviewAddress">
                    <div class="form-group">
                        <label>Địa chỉ nhận sản phẩm </label>
                        <input class="form-control" type="text" value="" placeholder="" required name="reviewaddress" />

                    </div>
                    <div class="form-group">
                        <input type="hidden" name="id" value="@campaignAccount.Id" />
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                    <div></div>
                </form>
                }
            }
        }*@
</div>


@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(function () {
            $("#txtKPICommitted").change(function () {
                //var max = parseInt($(this).attr('max'));
                var min = parseInt($(this).attr('min'));

                if ($(this).val() < min) {
                    $(this).val(min);
                }

                //if ($(this).val() > max) {
                //    $(this).val(max);
                //}
                //else if ($(this).val() < min) {
                //    $(this).val(min);
                //}
            });
        });
    </script>
}



