@model MarketPlaceViewModel
@inject WebServices.Interfaces.IAccountService AccountService
@{

    ViewData["Title"] = $"Chiến dịch {Model.Campaign.Code}";

    var hasNewCaption = false;
    ListCampaignAccountCaptionViewModel captions = null;

    var campaignAccount = Model.CampaignAccounts.FirstOrDefault(m => m.AccountId == CurrentUser.Id);
    var isjoin = campaignAccount != null && Model.Campaign.Status.IsHasAccountProcess();


    if (isjoin)
    {

        captions = ViewBag.Captions != null ? (ListCampaignAccountCaptionViewModel)ViewBag.Captions : null;
        if (captions != null)
        {
            var lastCaption = captions.CampaignAccountCaptions.FirstOrDefault(m => m.Status == CampaignAccountCaptionStatus.DaDuyet);
            if (lastCaption == null)
            {
                hasNewCaption = true;
            }
        }
        else
        {
            hasNewCaption = true;
        }
    }



}
@section Scripts{

}
@section Top{

    <partial name="_DetailBreadcrumbPartial" model="Model" />

}


<div class="container">
    <div class="row">
        <div class="col-md-8">


            <partial name="_DetailsNavPartial" model="Model" />
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade active show">
                    <div class="card mb-3 shadow border-0 card-body">

                        <div class="d-flex bd-highlight my-3">
                            <div class="mr-auto bd-highlight">
                                <h5>Phản hồi duyệt caption</h5>
                            </div>

                            @if (hasNewCaption)
                            {
                                <div class="bd-highlight">
                                    <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-campaign-form-caption">Gửi caption</button>
                                </div>
                            }


                        </div>
                        <h5>@Model.Campaign.Title</h5>
                        <p>
                            <i class="fab fa-facebook"></i> @Model.Campaign.Type.ToDisplayName()
                        </p>

                        @if (campaignAccount == null)
                        {
                            <div class="alert alert-info">Bạn chưa tham gia chiến dịch</div>
                        }
                        else if (captions != null)
                        {


                            foreach (var item in captions.CampaignAccountCaptions)
                            {

                                <div class="card shadow border-0 mb-2">
                                    <div class="card-body">
                                        <div class="text-right">
                                            <small>@item.DateCreated.ToViDateTime()</small>
                                        </div>
                                        <p>
                                            @item.Content
                                        </p>
                                        @if (!string.IsNullOrEmpty(item.Note))
                                        {
                                            <p>
                                                <strong>Ghi chú từ doanh nghiệp</strong> <br />
                                                <em class="text-secondary">@item.Note</em>
                                            </p>
                                        }
                                        <div class="text-right">
                                            @item.Status.ToBadge()
                                        </div>
                                    </div>
                                </div>

                            }



                            <pager pager="@captions.Pager" asp-action="Details" asp-route-id="@Model.Campaign.Id" asp-route-tab="2"></pager>

                        }
                    </div>

                </div>
            </div>



        </div>
        <div class="col-md-4">

            <partial name="_DetailSidebarPartial" model="Model" />


        </div>
    </div>
</div>



@if (hasNewCaption)
{

    <!-- Modal -->
    <div class="modal fade" style="z-index: 999999;" id="modal-campaign-form-caption" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gửi Caption</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form asp-action="CreateCaption" method="post">
                        <div class="form-group">
                            <label>Nội dung caption</label>
                            <textarea class="form-control" rows="2" name="Content" required></textarea>
                        </div>
                        <div class="text-right">
                            <input type="hidden" name="CampaignId" value="@Model.Campaign.Id" />
                            <input type="hidden" name="CampaignAccountId" value="@campaignAccount.Id" />

                            <button class="btn btn-outline-primary" type="submit">Gửi</button>
                        </div>

                    </form>

                    <!--#################################-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

}