@model ListMarketPlaceViewModel
@inject WebServices.Interfaces.IAccountService AccountService
@{
    ViewData["Title"] = "MarketPlace";

    var campaignTypes = StringHelper.GetEnumArray<CampaignType>();

    var kw = (string)ViewBag.Kw;
    var type = (CampaignType?)ViewBag.type;
}



<form method="get">
    <div class="form-group mb-4">
        <div class="form-row">
            <div class="col-md-4">
                <select class="custom-select custom-select-lg" name="type">
                    <option value="">Tất cả loại</option>
                    @foreach (var campaignType in campaignTypes)
                    {
                        <!option value="@campaignType" @(type == campaignType ? "selected" : "")>@campaignType.ToDisplayName()</!option>
                    }
                </select>
            </div>
            <div class="col-md-5">
                <input type="text" name="kw" value="@kw" class="form-control form-control-lg" placeholder="Tìm kiếm chiến dịch">


            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-rounded btn-lg">Tìm kiếm</button>
            </div>
        </div>

    </div>
</form>

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model.MarketPlaces)
    {
        <div class="col mb-4">
           <partial name="_CampaignPartial" model="item" />
        </div>
    }


</div>


<pager pager="@Model.Pager" asp-action="MarketPlace" asp-route-kw="@kw" asp-route-type="@type"></pager>
