
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ListWalletViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Wallet Listing
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
    </ul>
}

<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Wallet Listing
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="m_portlet_tab_1_1">
                        @await Html.PartialAsync("~/Views/Wallet/_FilterPartial.cshtml", Model)
                    </div>
                </div>
                <!--begin::Section-->
                <div class="m-section">
                    <div class="m-section__content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        ENTITY
                                    </th>
                                    <th>
                                        NAME
                                    </th>
                                    <th>
                                        BALANCE
                                    </th>
                                    <th>
                                        DATE CREATED
                                    </th>
                                    <th>
                                        TYPE
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int count = 0;
                                    foreach (var item in Model.Wallets)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.EntityType.ToString()</td>
                                            <td>@item.Name</td>
                                            <td>
                                                <h6 class="m--font-danger">
                                                    @item.Balance.ToPriceText()
                                                </h6>
                                            </td>
                                            <td>@item.DateCreated</td>
                                            <td>@item.Type</td>
                                            <td><a class="btn btn-sm btn-info" href="/wallet/transaction?walletid=@(item.Id)">TRANSACTIONS</a></td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                        <pager pager="@Model.Pager" asp-action="Index"></pager>
                    </div>
                </div>
                <!--end::Section-->
            </div>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>