@model CampaignDetailsViewModel
@{
    ViewData["Title"] = $"Chiến dịch {Model.Id}";
    var campaignAccount = (CampaignAccountViewModel)ViewBag.CampaignAccount;

    var facebookid = (string)ViewBag.FacebookId;

}


@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Chiến dịch</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}



<div class="mt-3"></div>
<alert></alert>
<div class="row ">
    <div class="col-md-6">
        <div>
            Doanh nghiệp: @Model.UserCreated
        </div>
        <div>
            Ngày tạo: <span class="text-muted">@Model.DateCreated.ToViDateTime() </span>
        </div>

        <div>
            @campaignAccount.Status.ToBadge()
        </div>
        <div>
            Số tiền nhận: <span class="text-danger">@campaignAccount.AccountChargeAmount.ToPriceText()</span>
        </div>



    </div>
    <div class="col-md-6">
        <div>
            Công việc: <span> @Model.Type.ToDisplayName()</span>
            @if (Model.Type == CampaignType.ShareContent || Model.Type == CampaignType.ShareContentWithCaption)
            {
                if (Model.EnabledAccountChargeExtra)
                {
                    <small class="text-info">Đính kèm hình ảnh cá nhân</small>
                }
            }
        </div>


        @if (!string.IsNullOrEmpty(Model.Data))
        {
            <div>
                @Model.Type.ToDataText():  <a href="@Model.Data" target="_blank">@Model.Data</a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div>
                Mô tả:  @Model.Description
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <div>
                <img src="@AppOptions.CurrentValue.GetImageUrl(Model.Image)" class="img-thumbnail" style="height:200px" />
            </div>
        }



    </div>
</div>
<hr />


@if (string.IsNullOrEmpty(facebookid))
{
    <partial name="_LinkFacebookPartial" />
}
else
{
    <div>

        <div class="mb-2 text-break">

            @if (!string.IsNullOrEmpty(campaignAccount.RefContent))
            {
                <div>Nội dung Caption: <span class="text-info" target="_blank">@campaignAccount.RefContent</span></div>
            }


            @if (!string.IsNullOrEmpty(campaignAccount.RefId))
            {
                <div>Facebook Id thực hiện: @campaignAccount.RefId</div>
            }
            @if (!string.IsNullOrEmpty(campaignAccount.RefUrl))
            {
                <div>Link thực hiện: <a href="@campaignAccount.RefUrl" target="_blank">@campaignAccount.RefUrl</a></div>
            }

        </div>
        <div>
            <div>
                @if (campaignAccount.Status == CampaignAccountStatus.AccountRequest)
                {
                    <span class="btn btn-outline-secondary">Chờ doanh nghiệp duyệt yêu cầu tham gia chiến dịch của bạn</span>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.AgencyRequest)
                {
                    <form asp-action="ConfirmJoinCampaign">
                        <input type="hidden" value="@Model.Id" name="campaignid" />
                        <button class="btn btn-outline-primary">Xác nhận tham gia </button>
                    </form>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Confirmed)
                {
                    if (Model.Status == CampaignStatus.Started)
                    {

                        <div>
                            <div class="mb-2">
                                Chiến dịch đã được bắt đầu thực hiện. <br />
                                Hãy thực hiện ngay để nhận @campaignAccount.AccountChargeAmount.ToPriceText()
                            </div>

                            <div>
                                <button class="btn btn-primary btn-updateref" data-url="@Url.Action("UpdateCampaignAccountRef", new {campaignid = Model.Id, campaigntype =Model.Type })">
                                
                                @Model.Type.ToActionText() ngay</button>

                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">Chờ doanh nghiệp bắt đầu chiến dịch để thực hiện công việc</div>
                    }

                }
                else if (campaignAccount.Status == CampaignAccountStatus.Submitted)
                {
                    <div>
                        Đã gửi nội dung thông điệp để doanh nghiệp duyệt
                    </div>
                    <span class="btn btn-outline-secondary">Chờ doanh nghiệp duyệt</span>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Approved)
                {
                    <div class="mb-2">
                        Doanh nghiệp Đã duyệt nội dung Caption
                    </div>

                    <div>
                        <button class="btn btn-info btn-shareui" data-caption="@campaignAccount.RefContent" data-href="@Model.Data" > Chia sẻ ngay</button>

                        <button class="btn btn-primary btn-updateref" data-url="@Url.Action("UpdateCampaignAccountRef", new {campaignid = Model.Id, campaigntype =Model.Type })"> @Model.Type.ToActionText() ngay</button>

                    </div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Declined)
                {
                    <span class="btn btn-outline-danger">Đã từ chối - Hãy thực hiện lại</span>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Finished)
                {
                    <span class="btn btn-outline-success">Hoàn thành thực hiện</span>
                }

            </div>


        </div>
    </div>



    /**/

}
