@model CampaignDetailsViewModel
@{
    ViewData["Title"] = $"Chiến dịch {Model.Id}";
    var campaignAccount = (CampaignAccountViewModel)ViewBag.CampaignAccount;

    var facebookid = (string)ViewBag.FacebookId;
    var categories = (List<CategoryViewModel>)ViewBag.Categories;
    var cities = (List<EntityViewModel>)ViewBag.Cities;

}


@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Chiến dịch</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}



<div class="mt-3"></div>
<alert></alert>

<fieldset>
    <legend>Thông tin chiến dịch</legend>

    @{
        var col1 = "col-md-3";
        var col2 = "col-md-9";

    }

    <div class=" mb-4">
        <div class="row">
            <div class="@col1">Trạng thái:</div>
            <div class="@col2"><span>@Model.Status.ToBadge()</span></div>
        </div>
        <div class="row">
            <div class="@col1">Doanh nghiệp:</div>
            <div class="@col2"><span>@Model.UserCreated</span></div>
        </div>
        <div class="row">
            <div class="@col1">Công việc:</div>
            <div class="@col2"> <strong class="text-primary">@Model.Type.ToDisplayName()</strong></div>
        </div>

        <div class="row">
            <div class="@col1">Số tiền nhận:</div>
            <div class="@col2"><span class="text-danger">@campaignAccount.AccountChargeAmount.ToPriceText()</span></div>
        </div>
        @if (Model.DateStart.HasValue && Model.DateEnd.HasValue)
        {
            <div class="row">
                <div class="@col1">Thời gian thực hiện:</div>
                <div class="@col2"> <span class="text-info">@Model.DateStart.Value.ToViDateTime()</span>  - <span class="text-info">@Model.DateEnd.Value.ToViDateTime()</span> </div>
            </div>
        }



        @if (Model.CountOption > 0)
        {
            <div class="row">
                <div class="@col1">Tiêu chí:</div>
                <div class="@col2">
                    <ul class="list-unstyled">
                        @if (Model.Gender.HasValue)
                        {
                            <li>Giới tính: @Model.Gender.Value.ToDisplayName()</li>
                        }
                        @if (Model.CityId.Count > 0)
                        {
                            var listcity = cities.Where(m => Model.CityId.Contains(m.Id));
                            if (listcity.Any())
                            {
                                <li>
                                    Khu vực:

                                    @foreach (var city in listcity)
                                    {
                                        <strong>@city.Name</strong>
                                    }

                                </li>
                            }
                        }
                        @if (Model.AgeStart.HasValue)
                        {
                            <li>Độ tuổi: <strong>@Model.AgeStart</strong> - <strong>@Model.AgeEnd</strong></li>
                        }

                        @if (Model.CategoryIds.Count > 0)
                        {
                            var cats = categories.Where(m => Model.CategoryIds.Contains(m.Id));

                            <li>
                                Lĩnh vực quan tâm/thế mạnh:
                                @foreach (var cat in cats)
                                {
                                    <strong>@cat.Name</strong>
                                }
                            </li>
                        }


                        @if (Model.AccountTypes.Contains(AccountType.HotMom))
                        {

                            <li>
                                Con cái:

                                @(Model.ChildType == 0 ? "Tất cả giới tính " : Model.ChildType == 1 ? "Con trai" : Model.ChildType == 2 ? "Con gái" : "")

                                -  Độ tuổi @Model.ChildAgeMin  - @Model.ChildAgeMax
                            </li>
                        }

                    </ul>
                </div>
            </div>



        }



        @*@if (Model.Type.IsShareCampaign())
            {
                <div class="row">
                    <div class="@col1">Link chương trình</div>
                    <div class="@col2">
                        <a href="@Model.Data" target="_blank">@Model.Data</a>
                    </div>

                </div>
            }

            @if (Model.Type == CampaignType.ShareContentWithCaption && !string.IsNullOrEmpty(campaignAccount.RefContent))
            {
                <div class="row">
                    <div class="@col1">Nội dung Caption</div>
                    <div class="@col2">
                        @campaignAccount.RefContent
                    </div>

                </div>

            }*@


        @if (campaignAccount.DateFinished.HasValue)
        {
            <div class="row">
                <div class="@col1">Thời điểm hoàn thành</div>
                <div class="@col2">
                    @campaignAccount.DateFinished.Value.ToViDateTime()
                </div>
            </div>
        }


        @if (campaignAccount.Rating.HasValue)
        {
            <div class="row">
                <div class="@col1">Đánh giá của doanh nghiệp</div>
                <div class="@col2">
                    <span class="badge badge-danger">@campaignAccount.Rating.Value.ToDisplayName()</span>
                </div>

            </div>
        }


    </div>



    @*<p>
            Mã chiến dịch: <strong>@Model.Code</strong>
            <br />
            Doanh nghiệp: <strong class="text-primary"> @Model.UserCreated</strong>
            <br>
            Ngày tạo: <span class="text-muted">@Model.DateCreated.ToViDateTime() </span>
            <br>
            Số tiền nhận: <span class="text-danger">@campaignAccount.AccountChargeAmount.ToPriceText()</span>
        </p>*@
    <legend>Nội dung công việc</legend>
    <div>
        Công việc: <span> @Model.Type.ToDisplayName()</span>
        @if (Model.Type == CampaignType.ShareContent || Model.Type == CampaignType.ShareContentWithCaption)
        {
            if (Model.EnabledAccountChargeExtra)
            {
                <span>-</span> <span>Đính kèm hình ảnh cá nhân</span>
            }
        }
    </div>

    @if (!string.IsNullOrEmpty(Model.Data))
    {
        <div>
            @Model.Type.ToDataText():  <a href="@Model.Data" target="_blank">@Model.Data</a>
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div>
            Mô tả:  @Model.Description
        </div>
    }

    @if (Model.Image.Count > 0)
    {
        <div>
            @foreach (var imgItem in Model.Image)
            {
                <img src="@AppOptions.CurrentValue.GetImageUrl(imgItem)" class="img-thumbnail mr-2" style="height:120px" />
            }
        </div>
    }



    @if (!string.IsNullOrEmpty(campaignAccount.RefContent))
    {
        <div>Nội dung Caption: <span class="text-info" target="_blank">@campaignAccount.RefContent</span></div>
    }


</fieldset>
<hr />


@if (string.IsNullOrEmpty(facebookid))
{
    <partial name="_LinkFacebookPartial" />
}
else if (Model.Status == CampaignStatus.Created)
{

    <div class="alert alert-info">
        Vui lòng chờ chiến dịch được phê duyệt để thực hiện
    </div>
}
else
{
    <div>

        <div class="mb-2 text-break">



            @if (!string.IsNullOrEmpty(campaignAccount.RefId))
            {
                <div>Facebook Id thực hiện: @campaignAccount.RefId</div>
            }
            @if (!string.IsNullOrEmpty(campaignAccount.RefUrl))
            {
                <div>Link thực hiện: <a href="@campaignAccount.RefUrl" target="_blank">@campaignAccount.RefUrl</a></div>
            }
            @if (campaignAccount.RefImage.Count > 0)
            {
                <div>
                    Hình ảnh:

                    @foreach (var imgItem in campaignAccount.RefImage)
                    {
                        <img src="@AppOptions.CurrentValue.GetImageUrl(imgItem)" style="height:60px" />
                    }
                </div>
            }
        </div>
        <div>
            <div>
                @if (campaignAccount.Status == CampaignAccountStatus.AccountRequest)
                {
                    <div class="alert alert-info">
                        Bạn đã gửi yêu cầu tham gia chiến dịch. <br />
                        Vui lòng chờ doanh nghiệp duyệt yêu cầu tham gia chiến dịch của bạn
                    </div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.AgencyRequest)
                {

                    <div class="alert alert-info">
                        Doanh nghiệp đã mời bạn tham gia chiến dịch

                        <hr />

                        <form asp-action="FeedbackJoinCampaign">
                            <input type="hidden" value="@Model.Id" name="campaignid" />
                            <button class="btn btn-primary" name="type" value="1">Đồng ý tham gia </button>
                            <button class="btn btn-secondary" name="type" value="0">Không đồng ý </button>
                        </form>
                    </div>


                }
                else if (campaignAccount.Status == CampaignAccountStatus.Confirmed || campaignAccount.Status == CampaignAccountStatus.ApprovedContent
                    || campaignAccount.Status == CampaignAccountStatus.UpdatedContent)
                {

                    if (Model.Type != CampaignType.ShareContentWithCaption || campaignAccount.Status == CampaignAccountStatus.ApprovedContent
                        || campaignAccount.Status == CampaignAccountStatus.UpdatedContent)
                    {
                        if (Model.Status == CampaignStatus.Started)
                        {
                            <div class="alert alert-info">

                                <p>
                                    Chiến dịch đã được bắt đầu thực hiện. <br />
                                    Hãy thực hiện ngay để nhận @campaignAccount.AccountChargeAmount.ToPriceText()
                                </p>
                                @if (campaignAccount.Status == CampaignAccountStatus.ApprovedContent || campaignAccount.Status == CampaignAccountStatus.UpdatedContent)
                                {
                                    <p>
                                        Doanh nghiệp Đã duyệt nội dung Caption
                                    </p>
                                }
                                <div>
                                    @if (Model.Type.IsShareCampaign())
                                    {
                                        <button class="btn btn-primary btn-shareui" data-urlsubmit="@Url.Action("SubmitCampaignAccountSharedContent")" data-caption="@campaignAccount.RefContent" data-href="@Model.Data"> <i class="fab fa-facebook"></i> Chia sẻ ngay</button>
                                    }
                                    <button class="btn btn-info btn-updateref" data-url="@Url.Action("UpdateCampaignAccountRef", new {campaignid = Model.Id, campaigntype = Model.Type })"> Bạn đã thực hiện công việc </button>

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                <p>
                                    Vui lòng chờ chiến dịch bắt đầu để thực hiện công việc
                                </p>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <div>
                                <button class="btn btn-info btn-updateref" data-url="@Url.Action("UpdateCampaignAccountRef", new {campaignid = Model.Id, campaigntype = Model.Type })"> Bắt đầu bằng việc viết Caption chiến dịch </button>

                            </div>
                        </div>
                    }

                }

                else if (campaignAccount.Status == CampaignAccountStatus.SubmittedContent)
                {
                    <div class="alert alert-info">
                        Đã gửi nội dung Caption. Vui lòng chờ doanh nghiệp duyệt nội dung
                    </div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.DeclinedContent)
                {
                    <div class="alert alert-danger">
                        <p>
                            Doanh nghiệp yêu cầu sửa lại  Nội dung Caption
                        </p>
                        <div>
                            <button class="btn btn-info btn-updateref" data-url="@Url.Action("UpdateCampaignAccountRef", new {campaignid = Model.Id, campaigntype = Model.Type })"> Gửi lại nội dung Caption </button>

                        </div>
                    </div>
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Finished)
                {
                    if (Model.Status == CampaignStatus.Completed)
                    {
                        <div class="alert alert-info">Chiến dịch đã kết thúc</div>

                    }
                    else
                    {
                        <div class="alert alert-info">Bạn đã hoàn thành công việc. Ngay sau khi chiến dịch kết thúc bạn sẽ nhận được tiền vào tài khoản</div>
                    }
                }
                else if (campaignAccount.Status == CampaignAccountStatus.Unfinished)
                {

                    <div class="alert alert-danger">Bạn đã không thực hiện công việc được giao</div>


                }
                else if (campaignAccount.Status == CampaignAccountStatus.Canceled)
                {

                    <div class="alert alert-info">Bạn đã từ chối không tham gia chiến dịch</div>


                }
            </div>


        </div>
    </div>



    /**/

}
