@model ListCampaignWithAccountViewModel
@{
    ViewData["Title"] = "Chiến dịch";

    var kw = (string)ViewBag.Kw;
}

@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Chiến dịch</a></li>

                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}

@{ 
    var type = ViewBag.Type!= null ? (int)ViewBag.Type :  0;
    var arrType = new string[] { "Tất cả","Chiến dịch mới", "Đang thực hiện", "Đã thực hiện", "Đã hủy" };
}

    <ul class="nav nav-tabs nav-linetabs">
        @for (var i = 0; i < arrType.Length; i++)
        {
            <li class="nav-item">
                <a class="nav-link @(type== i? "active":"")" asp-action="Index" asp-route-type="@i">@arrType[i]</a>
            </li>
        }

    </ul>



<div class="tab-content mt-3">
    <div class="tab-pane fade show active">

        <div class="row mb-3 justify-content-between">
            <div class="col-md-6">
                <form method="get" asp-action="Index">
                    <div class="form-row">

                        <div class="col">

                            <div class="input-group">

                                <input type="text" name="kw" class="form-control" value="@kw" placeholder="Tìm kiếm">

                                <div class="input-group-append">

                                    <button type="submit" class="btn btn-outline-secondary">
                                        <i class="fal fa-search"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Campaigns)
            {
                <div class="col-md-6">
                    <partial name="_CampaignItemPartial" model="item" />
                </div>
            }
        </div>
        <pager pager="@Model.Pager" asp-action="Index" asp-route-kw="@kw"></pager>



    </div>
</div>