@model ListMarketPlaceViewModel
@{
    ViewData["Title"] = "Chiến dịch";

    var kw = (string)ViewBag.Kw;
}

@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="MarketPlace">Chiến dịch</a></li>

                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}




<div class="tab-content mt-3">
    <div class="tab-pane fade show active">

        <div class="row mb-3 justify-content-between">
            <div class="col-md-6">
                <form method="get" asp-action="Index">
                    <div class="form-row">

                        <div class="col">

                            <div class="input-group">

                                <input type="text" name="kw" class="form-control" value="@kw" placeholder="Tìm kiếm">

                                <div class="input-group-append">

                                    <button type="submit" class="btn btn-outline-secondary">
                                        <i class="fal fa-search"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <div class="">
            @foreach (var item in Model.MarketPlaces)
            {
                <div class="card card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="@AppOptions.CurrentValue.GetImageUrl(item.Agency.Image)" class="img-fluid" />
                        </div>

                        <div class="col-10">
                            <h4 class="h5">

                                <a asp-action="MarketPlaceDetails" asp-route-id="@item.Campaign.Id" data-id="@item.Campaign.Id">@item.Campaign.Title</a>
                                
                            </h4>
                            <hr />
                            <p class="text-black-50">@item.Campaign.Description</p>

                            <div class="row">
                                <div class="col-6">
                                    <span class="text-dark"> @item.CountApplied </span> tham gia <br />
                                    <span class="text-dark"> @item.CountAccepted </span> / <span class="text-dark"> @item.Campaign.Quantity </span> thực hiện

                                </div>
                                <div class="col-6">

                                    @item.Campaign.AccountFeedbackBefore.Value.ToTimeAgo()

                                </div>
                            </div>
                            <hr />

                            <div class="d-flex">
                                <div class="mr-2">
                                    <i class="fab fa-facebook text-primary fa-3x"></i>
                                </div>
                                <div class="mr-auto">

                                    <div>@item.Campaign.Type.ToText()</div>
                                    <div class="text-success">
                                        @item.Amount.ToPriceText()
                                    </div>

                                </div>
                                <div>
                                    @{
                                        var campaignAccount = item.CampaignAccounts.FirstOrDefault(m => m.AccountId == CurrentUser.Id);
                                        if (campaignAccount != null)
                                        {
                                            if (!string.IsNullOrEmpty(campaignAccount.RefUrl))
                                            {
                                                <a class="btn btn-light" href="@campaignAccount.RefUrl" target="_blank" data-toggle="tooltip" title="Bài viết đã thực hiện theo chiến dịch">

                                                      <i class="fab fa-facebook-f"></i>


                                                </a>
                                            }
                                            <a class="btn btn-primary" asp-action="MarketPlaceDetails"  asp-route-id="@item.Campaign.Id" data-id="@item.Campaign.Id">Chi tiết</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-primary"  asp-action="MarketPlaceDetails" asp-route-id="@item.Campaign.Id" data-id="@item.Campaign.Id">Tham gia</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <pager pager="@Model.Pager" asp-action="Index" asp-route-kw="@kw"></pager>



    </div>
</div>