@model ListNotificationViewModel
@{
    ViewData["Title"] = "Thông báo";
    var type = (NotificationTypeGroup?)ViewBag.type;
    var arrType = Common.Helpers.StringHelper.GetEnumArray<NotificationTypeGroup>();

    var daterange = (string)ViewBag.daterange;
}




<form method="get" asp-action="Index">
    <div class="form-group mb-4">
        <div class="form-row">
            <div class="col-md-3">
                <select class="custom-select custom-select-lg" name="type">
                    <option value="">Tất cả</option>
                    @foreach (var item in arrType)
                    {
                        <!option value="@item" @(item == type ? "selected" : "")>@item.ToText()</!option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control form-control-lg form-daterangepicker" name="daterange" value="@daterange" placeholder="Từ ngày ... đến ngày">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-lg">Tìm kiếm</button>
            </div>
        </div>

    </div>
</form>


<ul class="nav nav-tabs nav-campaign">
    <li class="nav-item">
        <a class="nav-link @(!type.HasValue ? "active" : "")" href="@Url.Action("Index", new { type = ""})">Tất cả</a>
    </li>
    @foreach (var item in arrType)
    {
        <li class="nav-item">
            <a class="nav-link  @(item == type ? "active" : "")" href="@Url.Action("Index", new { type =  item })">@item.ToText()</a>
        </li>

    }
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" role="tabpanel">
        @if (Model != null && Model.Notifications.Count > 0)
        {
            <ul class="list-unstyled mt-3">
                @foreach (var item in Model.Notifications)
                {
                    <li>
                        <div class="card shadow border-0 mb-3">
                            <div class="card-body">
                                <div class="text-right">
                                    <small><i class="fas fa-clock"></i> @item.Date.ToTimeAgo()</small>
                                </div>
                                <span>
                                    <a href="@Url.GetNotificationUrl(item)">
                                        @item.Message
                                    </a>
                                </span>
                                <div class="text-right">
                                    @item.TypeGroup.ToBadge()
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <nav class="mt-4">
                <pager pager="@Model.Pager" asp-controller="Notification" asp-action="Index"
                       asp-route-pagesize="@ViewBag.PageSize" asp-route-type="@type" asp-route-daterange="@daterange"></pager>
            </nav>


        }


    </div>
</div>
