@model CampaignAccountViewModel



<div class="media">
    <img class="mr-3" src="@AppOptions.CurrentValue.GetImageUrl(Model.Account.Avatar)" width="50">
    <div class="media-body">
        <h5 class="mt-0 h6">@Model.Account.Name</h5>
        <div class="mb-2">
            Chi phí: <span class="text-danger">@Model.AccountChargeAmount.ToPriceText()</span>
        </div>
        <div class="mt-2">
            @if (Model.Status == CampaignAccountStatus.AccountRequest)
            {
                <div>
                    <span class="badge badge-secondary">Thành viên yêu cầu tham gia chiến dịch</span>
                </div>
                <div>
                    <button class="btn btn-outline-secondary btn-sm">Duyệt yêu cầu</button>
                </div>

            }
            else if (Model.Status == CampaignAccountStatus.AgencyRequest)
            {
                <span class="badge badge-secondary">Đã gửi yêu cầu mời tham gia chiến dịch  - Đang chờ thành viên đồng ý</span>
            }
            else if (Model.Status == CampaignAccountStatus.Confirmed)
            {
                <span class="badge badge-secondary">Đã tham gia - Chờ thực hiện chiến dịch</span>
            }

            else if (Model.Status == CampaignAccountStatus.Submitted)
            {
                <div class="mb-2">
                    Nội dung chiến dịch: <span class="text-info"> @Model.RefContent</span>
                </div>
                <div>
                    <form asp-action="FeedbackCampaignAccountRefContent" method="post">
                        <input type="hidden" name="campaignid" value="@Model.CampaignId" />
                        <input type="hidden" name="accountid" value="@Model.AccountId" />
                        <button class="btn btn-outline-success btn-sm" type="submit" name="type" value="1">Duyệt nội dung</button>
                        <button class="btn btn-outline-secondary btn-sm" type="submit" name="type" value="0">Không duyệt nội dung</button>
                    </form>
                </div>
            }
            else if (Model.Status == CampaignAccountStatus.Declined)
            {
                <span class="badge badge-secondary">Đã từ chối nội dung <span class="text-info"> @Model.RefContent</span> - Chờ thành viên nhập lại</span>

            }
            else if (Model.Status == CampaignAccountStatus.Approved)
            {
                <span class="badge badge-secondary">Đã duyệt nội dung <span class="text-info"> @Model.RefContent</span> - Chờ thành viên thực hiện chiến dịch</span>

            }
            else if (Model.Status == CampaignAccountStatus.Finished)
            {
                <div>
                    Đã thực hiện công việc
                </div>

                <div>

                    <span>Link theo dõi</span>
                    <a href="@Model.RefUrl" target="_blank">@Model.RefUrl</a>
                </div>

            }
            else if (Model.Status == CampaignAccountStatus.Canceled)
            {
                <span class="badge badge-secondary">Không đồng ý tham gia</span>

            }


        </div>

    </div>

</div>