@model CampaignViewModel
<div class="row mb-2 pb-2 border-bottom no-gutters">

    <div class="col-11">
        <h3 class="h5">
            <a asp-action="Details" asp-route-id="@Model.Id">@Model.Type.ToDisplayName()</a>
        </h3>
        <div>

            @Model.Status.ToBadge()

            @if (Model.AccountTypes.Count > 0)
            {

                @foreach (var accountType in Model.AccountTypes)
                {
                    <span class="badge badge-info">@accountType.ToDisplayName()</span>
                }

            }

        </div>
        <div>
            Ngày tạo: <span class="text-secondary">@Model.DateCreated.ToViDateTime() </span>
        </div>

    </div>
    <div class="col-1">
        @*<a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm">
            Chi tiết
        </a>*@

    </div>
</div>