@model CampaignAccountViewModel



<div class="media mb-2">
    <img class="mr-3" src="@AppOptions.CurrentValue.GetImageUrl(Model.Account.Avatar)" width="60">
    <div class="media-body">
        <h5 class="mt-0 h6">@Model.Account.Name  @Model.Account.Type.ToBadge() </h5>

        <div>
            Chi phí: <span class="text-danger">@Model.AccountChargeAmount.ToPriceText()</span> 
        </div>
        <div class="mt-2">
            @Model.Status.ToAgencyBadge()
        </div>
        @if (Model.Status == CampaignAccountStatus.SubmittedContent)
        {
            <div class="mt-2">
                Nội dung: <span class="text-info"> @Model.RefContent</span>
            </div>
        }
        else if (Model.Status == CampaignAccountStatus.Finished)
        {
            <div>
                <span>Link theo dõi</span>
                <a href="@Model.RefUrl" target="_blank">@Model.RefUrl</a>
            </div>
        }
    </div>
    <div class="mr-auto">
        @if (Model.Status == CampaignAccountStatus.AccountRequest)
        {
            <div>
                <form asp-action="FeedbackAccountJoinCampaign" method="post">
                    <input type="hidden" name="campaignid" value="@Model.CampaignId" />
                    <input type="hidden" name="accountid" value="@Model.AccountId" />

                    <button class="btn btn-outline-success btn-sm" name="type" value="1"> Đồng ý</button>
                    <button class="btn btn-outline-danger btn-sm" name="type" value="0">Từ chối</button>
                </form>
            </div>
        }
        else if (Model.Status == CampaignAccountStatus.AgencyRequest)
        {
            <form asp-action="FeedbackAccountJoinCampaign" method="post">
                <input type="hidden" name="campaignid" value="@Model.CampaignId" />
                <input type="hidden" name="accountid" value="@Model.AccountId" />

                <button class="btn btn-outline-danger btn-sm" value="0">Hủy yêu cầu</button>
            </form>
        }
        else if (Model.Status == CampaignAccountStatus.SubmittedContent)
        {
            <form asp-action="FeedbackCampaignAccountRefContent" method="post">
                <input type="hidden" name="campaignid" value="@Model.CampaignId" />
                <input type="hidden" name="accountid" value="@Model.AccountId" />
                <button class="btn btn-outline-success btn-sm" type="submit" name="type" value="1">Duyệt nội dung</button>
                <button class="btn btn-outline-secondary btn-sm" type="submit" name="type" value="0">Không duyệt nội dung</button>
            </form>
        }
    </div>

</div>