@model CreateCampaignViewModel
@{
    ViewData["Title"] = "Thêm chiến dịch";

    var campaignTypes = StringHelper.GetEnumArray<CampaignType>();
    var categories = (List<CategoryViewModel>)ViewBag.Categories;
    var cities = (List<EntityViewModel>)ViewBag.Cities;
    var campaignTypePrices = (List<CampaignTypePriceViewModel>)ViewBag.CampaignTypePrices;
}

<h1 class="h3">@ViewData["Title"]</h1>




<alert></alert>

<form method="post" asp-action="Create" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input type="text" class="form-control" asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea type="text" class="form-control" asp-for="Description" rows="6"></textarea>
                <span asp-validation-for="Description"></span>
            </div>

        </div>
        <div class="col-md-6">



            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DateStart"></label>
                        <input type="text" class="form-control form-datepicker" asp-for="DateStart" />
                        <span asp-validation-for="DateStart"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DateEnd"></label>
                        <input type="text" class="form-control form-datepicker" asp-for="DateEnd" />
                        <span asp-validation-for="DateEnd"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <br />
                @{ var i = 0;}
                @foreach (var campaignType in campaignTypes)
                {


                    var campaignTypePrice = campaignTypePrices.FirstOrDefault(m => m.Type == campaignType);
                    if (campaignTypePrice != null)
                    {
                        var radioId = $"CampaignType${campaignType}";
                        <div class="custom-control custom-radio custom-control">
                            <input type="radio" @(i == 0 ? "checked" : "") value="@campaignType" name="Type" id="@radioId" class="custom-control-input">
                            <label class="custom-control-label" for="@radioId">@campaignType.ToDisplayName()
                            
                                - Phí dịch vụ: @campaignTypePrice.ServicePrice.ToPriceText()
                            
                                 - Phí: @campaignTypePrice.AccountPrice.ToPriceText() @campaignTypePrice.Type.ToPriceLabel()
                            
                            </label>
                        </div>


                    }
                    i++;
                }

                <span asp-validation-for="Type"></span>
            </div>


        </div>
    </div>


    <hr />
    <h6>Thêm tiêu chí</h6>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" data-toggle="collapse" data-target='#collapseEnabledGender' asp-for="EnabledGender">
                    <label class="custom-control-label" asp-for="EnabledGender"></label>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="collapseEnabledGender" class="collapse">
                <div class="form-group">
                    @{
                        var genderList = Common.Helpers.StringHelper.GetEnumArray<Core.Entities.Gender>();
                        i = 0;
                    }
                    @foreach (var gender in genderList)
                    {
                        var radioId = $"Gender{gender}";
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" @(i == 0 ? "checked" : "") value="@gender" name="Gender" id="@radioId" class="custom-control-input">
                            <label class="custom-control-label" for="@radioId">@gender.ToDisplayName()</label>
                        </div>
                        i++;
                    }
                    <span asp-validation-for="Gender"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" data-toggle="collapse" data-target='#collapseEnabledAgeRange' asp-for="EnabledAgeRange">
                    <label class="custom-control-label" asp-for="EnabledAgeRange"></label>
                </div>
            </div>
        </div>
        <div class="col">

            <div id="collapseEnabledAgeRange" class="collapse">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <div class="form-group">
                            <input type="number" class="form-control" asp-for="AgeStart" />
                            <span asp-validation-for="AgeStart"></span>
                        </div>
                    </div>
                    <div class="col-auto"> 
                        -
                    </div>
                    <div class="col-auto">
                        <div class="form-group">
                            <input type="number" class="form-control" asp-for="AgeEnd" />
                            <span asp-validation-for="AgeEnd"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" data-toggle="collapse" data-target='#collapseEnabledCity' asp-for="EnabledCity">
                    <label class="custom-control-label" asp-for="EnabledCity"></label>
                </div>
            </div>

        </div>
        <div class="col">


            <div id="collapseEnabledCity" class="collapse">
                <div>
                    <select asp-for="CityId" class="form-control">
                        <option>Chọn khu vực</option>
                        @foreach (var city in cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }

                    </select>
                    <span asp-validation-for="CityId"></span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" data-toggle="collapse" data-target="#collapseEnabledCategory" asp-for="EnabledCategory">
                    <label class="custom-control-label" asp-for="EnabledCategory"></label>
                </div>
            </div>
        </div>
        <div class="col">

            <div id="collapseEnabledCategory" class="collapse">
                <div class="form-group">
                    <select asp-for="CategoryId" multiple class="form-control form-select2">
                        @foreach (var category in categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }

                    </select>
                    <span asp-validation-for="CategoryId"></span>
                </div>
            </div>

        </div>
    </div>



    <div class="form-group">
        <input type="submit" value="Thêm mới" class="btn btn-primary">
    </div>
</form>

