@model CreateCampaignViewModel
@{
    ViewData["Title"] = "Thêm chiến dịch";

    var campaignTypes = StringHelper.GetEnumArray<CampaignType>();
    var accountTypes = StringHelper.GetEnumArray<AccountType>();

    var categories = (List<CategoryViewModel>)ViewBag.Categories;
    var cities = (List<EntityViewModel>)ViewBag.Cities;
    var campaignTypeCharges = (List<CampaignTypeChargeViewModel>)ViewBag.CampaignTypeCharges;

    
    var i = 0;
}

<h1 class="h3">@ViewData["Title"]</h1>




<alert></alert>
<div asp-validation-summary="ModelOnly" class="text-danger"> </div>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" value="@AppSettings.CampaignExtraOptionChargePercent" id="settingExtraOptionCharge" />
    <input type="hidden" value="@AppSettings.CampaignServiceChargePercent" id="settingServiceCharge" />
    <div class="form-group row">
        <label asp-for="Type" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <div class="mb-2">
                <select asp-for="Type" class="form-control">
                    @foreach (var campaignType in campaignTypes)
                    {
                        var campaignTypePrice = campaignTypeCharges.FirstOrDefault(m => m.Type == campaignType);
                        if (campaignTypePrice != null)
                        {
                            var accountPriceText = $"{campaignTypePrice.AccountChargeAmount.ToPriceText()}{campaignTypePrice.Type.ToPriceLabel()}";
                            <option value="@campaignType"
                                    data-serviceprice="@campaignTypePrice.ServiceChargeAmount"
                                    data-accountprice="@campaignTypePrice.AccountChargeAmount"
                                    data-accountextrapricepercent="@campaignTypePrice.AccountChargeExtraPercent"
                                    data-accountpricetext="@accountPriceText">
                                @campaignType.ToDisplayName()
                            </option>
                        }
                    }
                </select>
            </div>
            <div class="mb-2 d-none" id="enabledExtraTypeWrap">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="EnabledExtraType" />
                    <label class="custom-control-label" asp-for="EnabledExtraType"></label>
                </div>
            </div>
            <div class="mb-2 d-none" id="requirementWrap">
                <textarea asp-for="Requirement" class="form-control"></textarea>
                <span asp-validation-for="Requirement"></span>
            </div>
            <span asp-validation-for="Type"></span>
        </div>

    </div>

    <div class="form-group row">

        <label asp-for="AccountType" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">

            <div id="accountTypeWrap">
                @foreach (var accountType in accountTypes)
                {
                    var checkboxId = $"CampaignType{accountType}";
                    <div class="d-flex">
                        <div>
                            <div class="custom-control custom-checkbox custom-control">
                                <input type="checkbox" @(Model.AccountType.Contains(accountType) ? "checked" : "") value="@accountType" 
                                       name="AccountType" id="@checkboxId" class="custom-control-input">
                                <label class="custom-control-label" for="@checkboxId">
                                    @accountType.ToDisplayName()
                                </label>
                            </div>
                        </div>
                        <div class="ml-4 d-flex">
                            @if (accountType == AccountType.Regular)
                            {
                                <label asp-for="AccountChargeAmount" class="mb-0"></label>

                                <div class="pl-2" id="editAccountPriceWrap">
                                    <span></span>
                                    <input type="number" class="form-control " asp-for="AccountChargeAmount" />
                                </div>

                            }

                        </div>
                    </div>
                }
                <span asp-validation-for="AccountType"></span>
            </div>

        </div>
    </div>


    <div class="form-group row">
        <label asp-for="NumberOfAccount" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <input type="text" class="form-control" asp-for="NumberOfAccount" />
            <span asp-validation-for="NumberOfAccount"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <textarea type="text" class="form-control" asp-for="Description" ></textarea>
            <span asp-validation-for="Description"></span>
        </div>
    </div>

    <div id="campaignOptions" class="row">

        <label class="col-md-2"> Thêm tiêu chí</label>
        <div class="col-md-10">
            <div class="d-flex py-1">

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target='#collapseEnabledGender' asp-for="EnabledGender">
                    <label class="custom-control-label" asp-for="EnabledGender"></label>
                </div>

                <div id="collapseEnabledGender" class="collapse ml-4">
                    <div>
                        @{
                            var genderList = Common.Helpers.StringHelper.GetEnumArray<Core.Entities.Gender>();
                            i = 0;
                        }
                        @foreach (var gender in genderList)
                        {
                            var radioId = $"Gender{gender}";
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" @(i == 0 ? "checked" : "") value="@gender" name="Gender" id="@radioId" class="custom-control-input">
                                <label class="custom-control-label" for="@radioId">@gender.ToDisplayName()</label>
                            </div>
                            i++;
                        }
                        <span asp-validation-for="Gender"></span>
                    </div>
                </div>
            </div>
            <div class="d-flex py-1">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target='#collapseEnabledAgeRange' asp-for="EnabledAgeRange">
                    <label class="custom-control-label" asp-for="EnabledAgeRange"></label>
                </div>
                <div id="collapseEnabledAgeRange" class="collapse ml-4">
                    <div class="form-row align-items-center">
                        <div class="col-auto">

                            <input type="number" class="form-control  " asp-for="AgeStart" />
                            <span asp-validation-for="AgeStart"></span>

                        </div>
                        <div class="col-auto">
                            -
                        </div>
                        <div class="col-auto">

                            <input type="number" class="form-control  " asp-for="AgeEnd" />
                            <span asp-validation-for="AgeEnd"></span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex py-1">

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target='#collapseEnabledCity' asp-for="EnabledCity">
                    <label class="custom-control-label" asp-for="EnabledCity"></label>
                </div>
                <div class=" ml-4 flex-grow-1">
                    <div id="collapseEnabledCity" class="collapse">


                        <select asp-for="CityId" class="form-control form-select2 ">
                            @foreach (var city in cities)
                            {
                                <option value="@city.Id">@city.Name</option>
                            }

                        </select>
                        <span asp-validation-for="CityId"></span>

                    </div>
                </div>
            </div>
            <div class="d-flex py-1">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledCategory" asp-for="EnabledCategory">
                    <label class="custom-control-label" asp-for="EnabledCategory"></label>
                </div>
                <div class=" ml-4 flex-grow-1">
                    <div id="collapseEnabledCategory" class="collapse">
                        <select asp-for="CategoryId" multiple class="form-control form-select2">
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                        <span asp-validation-for="CategoryId"></span>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <hr />
    <div class="form-group row">
        <div class="col-md-2">Chi phí</div>
        <div class="col-md-10">
            <span id="totalServicePrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">Phí dịch vụ (<span class="text-success">@AppSettings.CampaignServiceChargePercent %</span>)</div>
        <div class="col-md-10">
            <span id="serviceCharge" class="text-success"></span>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">Tổng chi phí</div>
        <div class="col-md-10">
            <span id="totalServiceCharge" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Thêm mới" class="btn btn-primary">
        </div>
    </div>
</form>

