@model CampaignDetailsViewModel

@{
    ViewData["Title"] = $"Chiến dịch {Model.Id}";
    var categories = (List<CategoryViewModel>)ViewBag.Categories;
    var cities = (List<EntityViewModel>)ViewBag.Cities;
}



@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Danh sách chiến dịch</a></li>

                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>

            <div class="pt-2">
                @if (Model.Status == CampaignStatus.Created)
                {
                    <button class="btn btn-danger" data-toggle="modal" data-target="#cancelModal">Hủy chiến dịch</button>


                    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form asp-action="UpdateCampaignStatus" method="post">
                                    <div class="modal-body">
                                        Bạn có chắc chắn muốn hủy chiến dịch?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        <button type="submit" class="btn btn-danger">Xác nhận hủy</button>
                                        <input type="hidden" name="status" value="@CampaignStatus.Canceled" />
                                        <input type="hidden" name="campaignid" value="@Model.Id" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
}



<div class="mt-3"></div>

<alert></alert>

<div>


    <div class="row">

        <div class="col-md-6">


            <div>
                Mã chiến dịch:  <strong class="text-primary">@Model.Id</strong>
            </div>

            <div>
                Trạng thái:  @Model.Status.ToBadge()
            </div>
            @if (Model.DateStart.HasValue)
            {
                <div>
                    Bắt đầu:  <span class="text-info">@Model.DateStart.Value.ToViDate()</span>
                </div>
            }


            @if (Model.DateEnd.HasValue)
            {
                <div>
                    Kết thúc:
                    <span class="text-info">
                        @Model.DateEnd.Value.ToViDate()
                    </span>

                </div>
            }
            <div>
                Đối tượng: @foreach (var accountType in Model.AccountTypes)
                {
                    <span class="badge badge-info">@accountType.ToDisplayName()</span>
                }
            </div>

            <div class="mt-3">

                <div>
                    Tổng phí: <span class="text-danger">@Model.Payment.TotalChargeAmount.ToPriceText()</span>
                    ( Phí dịch vụ: <span class="text-danger">@Model.Payment.ServiceChargeAmount.ToPriceText()</span>

                    - Phí thành viên: <span class="text-danger">@Model.Payment.AccountChargeAmount.ToPriceText() </span>)
                </div>

                <div>Đã thanh toán: <span class="text-success">@Model.Payment.TotalPaidAmount.ToPriceText()</span> </div>
                @if (Model.Payment.TotalChargeValue > 0)
                {
                    <div>Còn thiếu: <span class="text-success">@Model.Payment.TotalChargeValue.ToPriceText()</span> </div>
                }

            </div>


        </div>
        <div class="col-md-6">
            <div class="mb-2">
                <span class="text-primary"> @Model.Type.ToDisplayName()</span>
                @if (Model.Type == CampaignType.ShareContent || Model.Type == CampaignType.ShareContentWithCaption)
                {
                    if (Model.EnabledAccountChargeExtra)
                    {
                        <br /> <small class="text-info"> Đính kèm hình ảnh cá nhân</small>
                    }
                }

            </div>
           


            @if (!string.IsNullOrEmpty(Model.Data))
            {
                <div>
                    @Model.Type.ToDataText():  <a href="@Model.Data" target="_blank">@Model.Data</a>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div>
                    Mô tả:  @Model.Description
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <div>
                    <img src="@AppOptions.CurrentValue.GetImageUrl(Model.Image)" class="img-thumbnail" style="height:200px" />
                </div>
            }


            @if (Model.CountOption > 0)
            {
                <h6>Tiêu chí</h6>
                <ul>
                    @if (Model.Gender.HasValue)
                    {
                        <li>Giới tính: @Model.Gender.Value.ToDisplayName()</li>
                    }
                    @if (Model.CityId.HasValue)
                    {
                        var city = cities.FirstOrDefault(m => m.Id == Model.CityId.Value);
                        if (city != null)
                        {
                            <li>Khu vực: <strong>@city.Name</strong></li>
                        }
                    }
                    @if (Model.AgeStart.HasValue)
                    {
                        <li>Độ tuổi: <strong>@Model.AgeStart</strong> - <strong>@Model.AgeEnd</strong></li>
                    }

                    @if (Model.CategoryIds.Count > 0)
                    {
                        var cats = categories.Where(m => Model.CategoryIds.Contains(m.Id));

                        <li>
                            Lĩnh vực quan tâm/thế mạnh:
                            @foreach (var cat in cats)
                            {
                                <strong>@cat.Name</strong>
                            }
                        </li>
                    }

                </ul>

            }


        </div>
    </div>


</div>

<hr />

@{
    if (Model.Status == CampaignStatus.Canceled)
    {
        <div class="alert alert-danger">Chiến dịch đã bị hủy</div>


    }
    else
    {


        var steps = new List<string>() { "Thanh toán phí dịch vụ", "Thành viên tham gia", "Bắt đầu chiến dịch", "Kết thúc chiến dịch", "Hoàn thành chiến dịch" };

        var activestepIdx = 0;
        if (Model.Status == CampaignStatus.Created)
        {
            if (Model.Payment.IsValidServiceCharge)
            {
                activestepIdx = 0;
            }
            else
            {
                activestepIdx = 1;
            }
        }
        else if (Model.Status == CampaignStatus.Started)
        {
            activestepIdx = 2;
        }
        else if (Model.Status == CampaignStatus.Ended || Model.Status == CampaignStatus.Error)
        {
            activestepIdx = 3;
        }
        else if (Model.Status == CampaignStatus.Completed)
        {
            activestepIdx = 4;
        }
        <ul class="stepper stepper-vertical m-0 p-0">

            @for (var i = 0; i < steps.Count; i++)
            {
                var stepCssClass = i < activestepIdx ? "completed" : i == activestepIdx ? "active" : "";
                <li class="@stepCssClass">
                    <a href="javascript:;">
                        <span class="circle">@(i + 1)</span>
                        <span class="label">@steps[i]</span>
                    </a>
                    @if (i == activestepIdx)
                    {

                        var stepPartial = $"_DetailsStepperStep{activestepIdx}Partial";
                        <div class="step-content">
                            <partial name="@stepPartial" model="Model" />
                        </div>
                    }
                </li>

            }
        </ul>
    }
}

