@model CampaignDetailsViewModel

@{
    ViewData["Title"] = $"Chiến dịch {Model.Code}";
    var categories = (List<CategoryViewModel>)ViewBag.Categories;
    var cities = (List<EntityViewModel>)ViewBag.Cities;
}



@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Danh sách chiến dịch</a></li>

                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>

            <div class="pt-2">
                @if (Model.Status == CampaignStatus.WaitToConfirm || Model.Status == CampaignStatus.AddAccount)
                {
                    <button class="btn btn-danger" data-toggle="modal" data-target="#cancelModal">Hủy chiến dịch</button>


                    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form asp-action="UpdateCampaignStatus" method="post">
                                    <div class="modal-body">
                                        Bạn có chắc chắn muốn hủy chiến dịch?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        <button type="submit" class="btn btn-danger">Xác nhận hủy</button>
                                        <input type="hidden" name="status" value="@CampaignStatus.Canceled" />
                                        <input type="hidden" name="campaignid" value="@Model.Id" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
}

<div class="mt-3">
    <alert></alert>
    <div class="row">
        <div class="col-md-6">
            <div>
                Mã chiến dịch:  <strong class="text-primary">@Model.Code</strong>
            </div>
            <div>Tên chiến dịch: <span>@Model.Title</span></div>
            <div>
                Trạng thái:  @Model.Status.ToBadge()
            </div>




            <div>

                <div>
                    Tổng phí: <span class="text-danger">@Model.Payment.TotalChargeAmount.ToPriceText()</span>
                    ( Phí dịch vụ: <span class="text-danger">@Model.Payment.ServiceChargeAmount.ToPriceText()</span>

                    - Phí thành viên: <span class="text-danger">@Model.Payment.AccountChargeAmount.ToPriceText() </span>)
                </div>

                <div>Đã thanh toán: <span class="text-success">@Model.Payment.TotalPaidAmount.ToPriceText()</span> </div>
                @if (Model.Payment.TotalChargeValue > 0)
                {
                    <div>Còn thiếu: <span class="text-success">@Model.Payment.TotalChargeValue.ToPriceText()</span> </div>
                }

            </div>

            <div>
                Ngày khởi tạo:  <span class="text-info">@Model.DateCreated.ToViDate()</span>
            </div>
            @if (Model.DateStart.HasValue)
            {
                <div>
                    Ngày bắt đầu:  <span class="text-info">@Model.DateStart.Value.ToViDate()</span>
                </div>
            }


            @if (Model.DateEnd.HasValue)
            {
                <div>
                    Ngày kết thúc:
                    <span class="text-info">
                        @Model.DateEnd.Value.ToViDate()
                    </span>

                </div>
            }



        </div>
        <div class="col-md-6">
            <div class="mb-2">
                <span class="text-primary"> @Model.Type.ToDisplayName()</span>
                @if (Model.Type == CampaignType.ShareContent || Model.Type == CampaignType.ShareContentWithCaption)
                {
                    if (Model.EnabledAccountChargeExtra)
                    {
                        <br /> <small class="text-info"> Đính kèm hình ảnh cá nhân</small>
                    }
                }
            </div>

            @if (!string.IsNullOrEmpty(Model.Data))
            {
                <div>
                    @Model.Type.ToDataText():  <a href="@Model.Data" target="_blank">@Model.Data</a>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div>
                    Mô tả:  @Model.Description
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <div>
                    <img src="@AppOptions.CurrentValue.GetImageUrl(Model.Image)" class="img-thumbnail" style="height:200px" />
                </div>
            }


            @if (Model.CountOption > 0)
            {
                <h6>Tiêu chí</h6>
                <ul>
                    @if (Model.Gender.HasValue)
                    {
                        <li>Giới tính: @Model.Gender.Value.ToDisplayName()</li>
                    }
                    @if (Model.CityId.HasValue)
                    {
                        var city = cities.FirstOrDefault(m => m.Id == Model.CityId.Value);
                        if (city != null)
                        {
                            <li>Khu vực: <strong>@city.Name</strong></li>
                        }
                    }
                    @if (Model.AgeStart.HasValue)
                    {
                        <li>Độ tuổi: <strong>@Model.AgeStart</strong> - <strong>@Model.AgeEnd</strong></li>
                    }

                    @if (Model.CategoryIds.Count > 0)
                    {
                        var cats = categories.Where(m => Model.CategoryIds.Contains(m.Id));

                        <li>
                            Lĩnh vực quan tâm/thế mạnh:
                            @foreach (var cat in cats)
                            {
                                <strong>@cat.Name</strong>
                            }
                        </li>
                    }

                </ul>

            }


        </div>
    </div>


</div>

<hr />

@{
    if (Model.Status == CampaignStatus.Canceled)
    {
        <div class="alert alert-danger">Chiến dịch đã bị hủy</div>
    }
    else if (Model.Status == CampaignStatus.WaitToConfirm)
    {
        <div class="alert alert-info">Hệ thống đang kiểm tra lại thông tin nạp tiền của quý khách. Quý khách sẽ nhận được thông báo tiếp tục thực hiện chiến dịch ngay khi hệ thống xác nhận việc nạp tiền</div>
    }
    else if (Model.Status == CampaignStatus.AddAccount)
    {
        
        <partial name="_DetailsStepperStep1Partial" model="Model" />

    }
}

