@model CampaignDetailsViewModel

@{
    ViewData["Title"] = $"Chiến dịch {Model.Id}";
    var categories = (List<CategoryViewModel>)ViewBag.Categories;
    var cities = (List<EntityViewModel>)ViewBag.Cities;
}


<div class="row">
    <div class="col-md-6">

        @*@if (Model.DateStart.HasValue)
            {
                <div>
                    Thời gian: @Model.DateStart.Value.ToViDate()  -  @Model.DateEnd.Value.ToViDate()
                </div>
            }*@
        <div>
            Mã chiến dịch:  <strong class="text-primary">@Model.Id</strong>
        </div>
        <div>
            Chiến dịch: <span class="text-primary"> @Model.Type.ToDisplayName()</span>
            @if (Model.Type == CampaignType.ShareContent || Model.Type == CampaignType.ShareContentWithCaption)
            {

                if (Model.EnabledAccountChargeExtra)
                {
                    <span> - </span> <span>Đính kèm hình ảnh cá nhân</span>
                }
            }
        </div>
        <div>
            Trạng thái:  @Model.Status.ToBadge()
        </div>

        <div>
            Đối tượng: @foreach (var accountType in Model.AccountTypes)
            {
                <span class="badge badge-info">@accountType.ToDisplayName()</span>
            }
        </div>
        <div>
            Mô tả:  @Model.Description
        </div>

        @if (Model.CountOption > 0)
        {
            <h6>Tiêu chí</h6>
            <ul>
                @if (Model.Gender.HasValue)
                {
                    <li>Giới tính: @Model.Gender.Value.ToDisplayName()</li>
                }
                @if (Model.CityId.HasValue)
                {
                    var city = cities.FirstOrDefault(m => m.Id == Model.CityId.Value);
                    if (city != null)
                    {
                        <li>Khu vực: <strong>@city.Name</strong></li>
                    }
                }
                @if (Model.AgeStart.HasValue)
                {
                    <li>Độ tuổi: <strong>@Model.AgeStart</strong> - <strong>@Model.AgeEnd</strong></li>
                }

                @if (Model.CategoryIds.Count > 0)
                {
                    var cats = categories.Where(m => Model.CategoryIds.Contains(m.Id));

                    <li>
                        Lĩnh vực quan tâm/thế mạnh:
                        @foreach (var cat in cats)
                        {
                            <strong>@cat.Name</strong>
                        }
                    </li>
                }

            </ul>

        }



    </div>
    <div class="col-md-6">

        <div>Tổng phí: <span class="text-danger">@Model.Payment.TotalChargeAmount.ToPriceText()</span> </div>

        <div>Đã thanh toán: <span class="text-success">@Model.Payment.TotalPaidAmount.ToPriceText()</span> </div>

    </div>
</div>


@if (Model.Payment.IsValidServiceCharge)
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Thông báo</h4>
        <div>
            Bạn chưa thanh toán phí dịch vụ. Vui lòng thanh toán phí dịch vụ để chọn thành viên
        </div>
        <hr>
        <div>
            <btnpayment campaign-id="Model.Id"></btnpayment>
        </div>
    </div>
}
else
{

    <div class="card">
        <div class="card-header">
            Thành viên đã tham gia
        </div>
        <div class="card-body">
            <div class="mb-3">
                <button class="btn btn-primary"> <i class="fal fa-plus"></i> Thành viên mới</button>
            </div>

            @foreach (var campaignAccount in Model.CampaignAccounts)
            {
                <partial name="_CampaignAccountPartial" model="campaignAccount" />
            }


        </div>
    </div>
  
}
