@model ChangeAccountTypeViewModel
@{
    ViewBag.Title = "Cài đặt";

    var ignoreCampaignTypes = (List<CampaignType>)ViewBag.IgnoreCampaignTypes;

    var accountTypeArr = Common.Helpers.StringHelper.GetEnumArray<AccountType>().Where(m => m != AccountType.All);

    if (Model.Type == AccountType.Regular)
    {
        // accountTypeArr = accountTypeArr.Where(m => m != AccountType.Regular);
    }
    else
    {
        accountTypeArr = accountTypeArr.Where(m => m == Model.Type);
    }

}

@section Scripts {

    @if (Model.Type == AccountType.HotMom)
    {

        <script type="text/javascript">

            $().ready(function () {

                var datas = $.parseJSON($('#modelHotMomData').html());

                var vm = new Vue({
                    el: '#dataHotMom',
                    data: {
                        childrens: []
                    },
                    created() {
                        this.childrens = datas;
                    },
                    methods: {
                        createItem: function () {
                            this.childrens.push({
                                Gender: 1,
                                Age: 0,
                                AgeType: 2
                            });
                        },
                        removeItem: function (idx) {
                            this.data.splice(idx, 1);
                        }

                    }
                });
            });
        </script>
        @*<script type="text/template">
                <select class="form-control" name="HotMomData.Gender">
                    <option value="@Gender.Male">@Gender.Male.ToDisplayName()</option>
                    <option value="@Gender.Female">@Gender.Female.ToDisplayName()</option>
                </select>

                <input type="number" name="HotMomData.Age" class="form-control" />
            </script>*@
        <script type="text/template" id="modelHotMomData">
            @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.HotMomData))
        </script>
    }
}

@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a asp-action="Index">Tài khoản</a></li>
                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}

<partial name="_SettingNavPartial" model="5" />
<div class="tab-content mt-3">
    <div class="tab-pane fade show active">

        <alert></alert>

        <form method="post" asp-action="ChangeAccountType" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="Type"></label>
                @foreach (var accountType in accountTypeArr)
                {
                    var radioId = $"radio{accountType}";
                    var attrChecked = accountType == Model.Type ? "checked" : "";


                    <div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="@radioId" value="@accountType" name="Type" @attrChecked class="custom-control-input">
                            <label class="custom-control-label" for="@radioId">@accountType.ToDisplayName()</label>
                        </div>
                        <div class="ml-3 pl-5">

                            @if (accountType == AccountType.HotMom)
                            {

                                <div id="dataHotMom" class="d-none">

                                    <h6 class="mb-2">
                                        Danh sách con cái
                                    </h6>
                                    <div class="mb-2">
                                        <button v-on:click="createItem()" type="button" class="btn btn-primary btn-sm">
                                            <span class="fal fa-plus"></span> Thêm con cái
                                        </button>
                                    </div>
                                    <div class="d-flex mb-2" v-for="(item,idx) in childrens">

                                        <div class="mr-auto form-inline">

                                            <select class="form-control" v-bind:name="'HotMomData['+idx+'].Gender'" v-model="item.Gender">
                                                <option value="1">@Gender.Male.ToDisplayName()</option>
                                                <option value="2">@Gender.Female.ToDisplayName()</option>
                                            </select>

                                            <input type="number" placeholder="Tuổi" class="form-control mx-sm-2" v-bind:name="'HotMomData['+idx+'].Age'" v-model="item.Age" />
                                            <select class="form-control" name="HotMomData.AgeType" v-bind:name="'HotMomData['+idx+'].AgeType'" v-model="item.AgeType">
                                                <option value="1">Tháng</option>
                                                <option value="2">Tuổi</option>
                                            </select>
                                        </div>

                                    </div>


                                </div>
                            }
                        </div>
                    </div>



                }
                <span asp-validation-for="Type"></span>
            </div>


            @if (Model.Type == AccountType.Regular || Model.Type == AccountType.HotMom)
            {

                <div class="form-group">
                    <input type="submit" value="Đồng ý" class="btn btn-primary">
                </div>
            }
        </form>
    </div>

    @if (ViewBag.AccountCampaignCharges != null)
    {
        var accountCampaignCharges = (List<AccountCampaignChargeViewModel>)ViewBag.AccountCampaignCharges;
        <hr />
        <h5 class="mb-3"> Nhập chi phí tối thiểu bạn muốn nhận cho mỗi hoạt động của bạn</h5>

        <form asp-action="UpdateAccountCampaignCharge">
            <div>
                @foreach (var accountCampaignCharge in accountCampaignCharges)
                {
                    <div class="row my-2">
                        <label class="col-md-4">@accountCampaignCharge.Type.ToDisplayName()</label>
                        <div class="col-md-6">

                            <input type="number" max="@int.MaxValue" min="0" name="AccountChargeAmount" value="@accountCampaignCharge.AccountChargeAmount" class="form-control" />

                            <input type="hidden" name="Type" value="@accountCampaignCharge.Type" />
                            <input type="hidden" name="Id" value="@accountCampaignCharge.Id" />
                        </div>

                        <div class="col-md-2">
                            @{
                                var switchid = $"switch{accountCampaignCharge.Type}";
                                var ischecked = ignoreCampaignTypes.Contains(accountCampaignCharge.Type);
                                var checkedstr = ischecked ? "" : "checked=checked";
                            }
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" id="@switchid" @checkedstr
                                       data-url="@Url.Action("UpdateIgnoreCampaignTypes","Account", new {  type = accountCampaignCharge.Type, removed = !ischecked})" />
                                <label class="custom-control-label" for="@switchid">Đồng ý</label>
                            </div>


                        </div>
                    </div>

                }

                <div class="row">

                    <div class="col-md-6 offset-4">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    }

    @if (ViewBag.CampaignTypeCharges != null)
    {
        var campaignTypeCharges = (List<CampaignTypeChargeViewModel>)ViewBag.CampaignTypeCharges;
        <hr />
        <h5 class="mb-3"> Bạn sẽ nhận được khoản thu nhập khi tham gia chiến dịch của chúng tôi</h5>

        @foreach (var campaignTypeCharge in campaignTypeCharges)
        {
            if (campaignTypeCharge.Type == CampaignType.CustomService) { continue; }

            <div class="row my-2">
                <label class="col-md-4">@campaignTypeCharge.Type.ToDisplayName()</label>
                <div class="col-md-6">

                    <input type="number" disabled value="@campaignTypeCharge.AccountChargeAmount" class="form-control" />



                </div>
                <div class="col-md-2">
                    @{
                        var switchid = $"switch{campaignTypeCharge.Type}";
                        var ischecked = ignoreCampaignTypes.Contains(campaignTypeCharge.Type);
                        var checkedstr = ischecked ? "" : "checked=checked";
                    }
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" id="@switchid" @checkedstr
                               data-url="@Url.Action("UpdateIgnoreCampaignTypes","Account", new {  type = campaignTypeCharge.Type, removed = !ischecked})" />
                        <label class="custom-control-label" for="@switchid">Đồng ý</label>
                    </div>


                </div>
            </div>

        }

    }

</div>
