@model ChangeInformationViewModel
@{
    ViewBag.Title = "Cài đặt";
    var categories = (List<CategoryViewModel>)ViewBag.Categories;
}



@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a asp-action="Index">Tài khoản</a></li>
                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}

@section Scripts{ 

    <script type="text/javascript">
        $().ready(function(){
        
        $('#CategoryId').select2({
            maximumSelectionLength: 5,
            theme: "bootstrap4" 
        });

        });
    </script>

}


<partial name="_SettingNavPartial" model="0" />
<div class="tab-content mt-3">
    <div class="tab-pane fade show active">


        <form method="post" asp-action="ChangeInfo" enctype="multipart/form-data">

            <alert></alert>


            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="Birthday"></label>

                <input type="text" class="form-control form-datepicker" asp-for="Birthday" />
                <span asp-validation-for="Birthday"></span>
            </div>

            @{
                var genderArr = Common.Helpers.StringHelper.GetEnumArray<Core.Entities.Gender>();
            }
            <div class="form-group">
                <label asp-for="Gender"></label>

                <div>
                    @foreach (var item in genderArr)
                    {
                        var radioId = $"genderRadio{item}";
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="@radioId" name="Gender" class="custom-control-input" value="@item" @(Model != null && item == Model.Gender ? "checked" : "")>
                            <label class="custom-control-label" for="@radioId">@item.ToDisplayName()</label>
                        </div>
                    }
                </div>

                <span asp-validation-for="Gender"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId"></label>

                <select asp-for="CategoryId" multiple class="form-control">
                    @foreach (var category in categories)
                    {
                        var isselected = Model.CategoryId != null && Model.CategoryId.Contains(category.Id);
                        <!option value="@category.Id" @(isselected ?"selected":"")>@category.Name</!option>
                    }
                </select>
                <span asp-validation-for="CategoryId"></span>
            </div>
         

            @{
                var maritalStatusArr = Common.Helpers.StringHelper.GetEnumArray<Core.Entities.MaritalStatus>();
            }
            <div class="form-group">
                <label asp-for="MaritalStatus"></label>
                <div>
                    @foreach (var item in maritalStatusArr)
                    {
                        var radioId = $"MaritalStatus{item}";
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="@radioId" name="MaritalStatus" class="custom-control-input" value="@item" @(Model != null && item == Model.MaritalStatus ? "checked" : "")>
                            <label class="custom-control-label" for="@radioId">@item.ToDisplayName()</label>
                        </div>

                    }

                </div>

                <span asp-validation-for="MaritalStatus"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Đồng ý" class="btn btn-primary">
            </div>
        </form>



    </div>

</div>

