@model ChangeInformationViewModel
@{
    ViewBag.Title = "Cài đặt";
}



<h2>@ViewBag.Title</h2>

<partial name="_SettingNavPartial" model="0" />
<div class="tab-content mt-3">
    <div class="tab-pane fade show active">


        <form method="post" asp-action="ChangeInfo" enctype="multipart/form-data">

            <alert></alert>


            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="Birthday"></label>

                <input type="text" class="form-control form-datepicker" asp-for="Birthday" />
                <span asp-validation-for="Birthday"></span>
            </div>

            @{
                var genderArr = Common.Helpers.StringHelper.GetEnumArray<Core.Entities.Gender>();
            }
            <div class="form-group">
                <label asp-for="Gender"></label>

                <div>
                    @foreach (var item in genderArr)
                        {
                            var radioId = $"genderRadio{item}";
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="@radioId" name="Gender" class="custom-control-input" value="@item" @(Model != null && item == Model.Gender ? "checked" : "")>
                            <label class="custom-control-label" for="@radioId">@item.ToDisplayName()</label>
                        </div>
                    }
                    </div>
               
                <span asp-validation-for="Gender"></span>
            </div>
            @{
                var maritalStatusArr = Common.Helpers.StringHelper.GetEnumArray<Core.Entities.MaritalStatus>();
            }
            <div class="form-group">
                <label asp-for="MaritalStatus"></label>
                <div>
                    @foreach (var item in maritalStatusArr)
                    {
                        var radioId = $"MaritalStatus{item}";
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="@radioId" name="MaritalStatus" class="custom-control-input" value="@item" @(Model != null && item == Model.MaritalStatus ? "checked" : "")>
                            <label class="custom-control-label" for="@radioId">@item.ToDisplayName()</label>
                        </div>

                    }

                </div>
                <select name="MaritalStatus" id="MaritalStatus" class="form-control">
                    @foreach (var item in maritalStatusArr)
                    {
                        <!option value="@item" @(Model != null && item == Model.MaritalStatus ? "selected=selected" : "")>
                            @item.ToDisplayName()
                        </!option>
                    }
                </select>
                <span asp-validation-for="MaritalStatus"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Đồng ý" class="btn btn-primary">
            </div>
        </form>



    </div>

</div>

