@model ChangeContactViewModel
@{
    ViewBag.Title = "Cài đặt";
}



@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a asp-action="Index">Tài khoản</a></li>
                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}

<partial name="_SettingNavPartial" model="3" />
<div class="tab-content mt-3">
    <div class="tab-pane fade show active">


        <form method="post" action="@Url.Action("ChangeContact")" enctype="multipart/form-data">

            <alert></alert>


            <div class="form-group">
                <label asp-for="Phone"></label>
                <input type="text" class="form-control" asp-for="Phone" />
                <span asp-validation-for="Phone"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>

                <input type="text" class="form-control" asp-for="Address" />

                <span asp-validation-for="Address"></span>
            </div>

            @{

                var citites = (List<EntityViewModel>)ViewBag.Cities;
                var districts = (List<EntityViewModel>)ViewBag.Districts;
            }
            <div class="form-group">

                <label asp-for="CityId"></label>

                <select name="CityId" id="CityId" data-district="@Model.DistrictId" class="form-control">
                    @foreach (var c in citites)
                    {
                        <!option value="@c.Id" @(Model != null && c.Id == Model.CityId ? "selected=selected" : "")>
                            @c.Name
                        </!option>
                    }
                </select>
            </div>
            <div class="pdistrict form-group" style="display:none">

                <label asp-for="DistrictId"></label>
                <select name="DistrictId" id="DistrictId" class="form-control"></select>

            </div>

            <p class="small text-danger">
                * Bạn cẩn đảm bảo thông tin mình khai báo là chính xác. Hệ thống sẽ dựa vào thông tin bạn khai báo để gửi thông báo cũng như thanh toán cho các chiến dịch mà bạn thực hiện.
                Nếu khai báo sai bạn có thể không nhận được thanh toán hoặc thông báo chiến dịch mới. Chúng tôi không chịu trách nhiệm nếu sự cố do bạn khai báo 
            </p>
            <div class="form-group">
                <input type="submit" value="Xác nhận" class="btn btn-primary">
            </div>
        </form>



    </div>

</div>

