@model AccountViewModel
@inject Website.Interfaces.IWalletService WalletService
@{
    ViewData["Title"] = "Tài khoản";

    var counter = (CampaignCounterViewModel)ViewBag.Counter;
    var fbPosts = (ListAccountFbPostViewModel)ViewBag.FbPosts;
    var accounts = (List<AccountViewModel>)ViewBag.Accounts;

}
@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Tài khoản</a></li>
                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}



@*<ul class="nav nav-tabs nav-linetabs">
        <li class="nav-item">
            <a class="nav-link active" asp-action="Index">Tài khoản</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="FbPost">Facebook Post</a>
        </li>

    </ul>*@


<section class="row mt-3 profilesection">
    <div class="col-md-4">

        <div class="media">
            <div class="img mr-3">
                <img src="@AppOptions.CurrentValue.GetImageUrl(Model.Avatar)" />


                <i class="fab fa-facebook-square"></i>
            </div>

            <div class="media-body">
                <h5 class="mt-0">
                    @Model.Name

                </h5>
                <div>

                    @Model.AccountCounting.FriendsCount.ToPriceText(" bạn") -
                    <a href="@ViewBag.ProfileUrl" class="btn btn-sm btn-link"> Liên kết <i class="fal fa-external-link-square"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="counting col">
                <h3>@Model.AccountCounting.AvgLikeCount</h3>
                <div class="small">lượt thích trung bình</div>
            </div>
            <div class="counting col">
                <h3>@Model.AccountCounting.AvgShareCount</h3>
                <div class="small">lượt chia sẻ trung bình</div>
            </div>
            <div class="counting col">
                <h3>@Model.AccountCounting.AvgCommentCount</h3>
                <div class="small">lượt bình luận trung bình</div>
            </div>
        </div>
    </div>

</section>

<hr>
<section class="fbpostSection">
    <h5>Bài chia sẻ <i class="fal fa-angle-down"></i></h5>
    <div class="owl-carousel fbpost-carousel owl-theme">
        @foreach (var post in fbPosts.Posts)
        {
            <div class="item">

                <partial name="_FbPostItemPartial" model="@post" />
            </div>
        }
    </div>
</section>

<hr>
<div class="row mt-4">
    <div class="col-md-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="text-danger wallet-balance">0</h3>
                            <span>Trong ví</span>
                        </div>
                        <div class="align-self-center">
                            <i class="fal fa-wallet fa-2x float-right text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="text-primary">@counter.Total</h3>
                            <span>Chiến dịch tham gia</span>
                        </div>
                        <div class="align-self-center">
                            <i class="fal fa-object-group fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<section class="accountSection">
    <h5> <i class="fal fa-star"></i> Thành viên nổi bật</h5>
    <div class="owl-carousel fbpost-carousel owl-theme">
        @foreach (var account in accounts)
        {
            if (string.IsNullOrEmpty(account.AccountCounting.FacebookLink))
            {
                continue;
            }

            var balance = await WalletService.GetAmount(EntityType.Account, account.Id);
            <div class="item">

                <div class="card mb-3 card-fbpost">
                    <div class="img card-img-top" style="height:250px;">
                        <img src="@account.Avatar" alt="">
                    </div>

                    <div class="card-body py-3">

                        <h6 class="mt-0">
                            <a href="@account.AccountCounting.FacebookLink" target="_blank" class="text-primary">

                                <i class="fab fa-facebook"></i>
                                @account.Name
                            </a>

                        </h6>
                        <div class="row">
                            <div class="col-6">
                                <i class="fal fa-users"></i>
                                <span class="text-info">
                                    @account.AccountCounting.FriendsCount    bạn
                                </span>
                             
                            </div>
                            <div class="col-6">
                                <i class="fal fa-wallet"></i>
                                <span class="text-danger">@balance.ToPriceText()</span>
                            </div>

                        </div>
                        <div class="row small mt-2">
                            <div class="col-4">
                                <span>
                                    @account.AccountCounting.AvgLikeCount
                                </span>
                                <i class="fal fa-thumbs-up"></i>
                            </div>
                            <div class="col-4">
                                <span>
                                    @account.AccountCounting.AvgShareCount
                                </span> <i class="fal fa-share"></i>
                            </div>

                            <div class="col-4">
                                <span>

                                    @account.AccountCounting.AvgCommentCount
                                </span> <i class="fal fa-comment"></i>
                            </div>




                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</section>
<hr>
<div class="row mt-4">

    <div class="col-md-8">
        @await Component.InvokeAsync("TransactionHistory")
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("AccountBankAccount")
    </div>


</div>