@model ListTransactionHistoryViewModel

@{
    var type = (TransactionType)ViewBag.Type;
    ViewData["Title"] = "Lịch sử";
}
@section Scripts{
    <script type="text/javascript">
        $().ready(function () {
            AppWallet.HandlerRecharge();
        });
    </script>
}

<h2 class="mb-3">Payment</h2>
<h3 class="mt-3 mb-4">@ViewData["Title"]</h3>
<div class="mb-5 bg-white rounded">
    <div class="payment">
        <div class="row">
            <div class="col-lg-12">
                <nav>

                    <div class="nav nav-tabs nav-campaign" id="nav-tab" role="tablist">
                        @if (type == TransactionType.WalletRecharge)
                        {
                            <a class="nav-item nav-link " href="@Url.Action("Recharge")">NẠP TIỀN</a>

                        }
                        else if (type == TransactionType.WalletWithdraw)
                        {

                            <a class="nav-item nav-link " href="@Url.Action("Withdraw")">NẠP TIỀN</a>
                        }

                        <a class="nav-item nav-link active" href="@AbsoluteUrl">LỊCH SỬ</a>


                    </div>
                </nav>
                <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active">
                        <table class="table table-bordered shadow">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mã Giao Dịch</th>
                                    <th scope="col">Số Tiền</th>
                                    <th scope="col">Còn lại</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Nội dung</th>
                                    <th scope="col">
                                        Ngày thanh toán
                                        @*<small style="color: red">Cho filter khi click</small>*@
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    var no = 0;
                                }
                                @foreach (var item in Model.TransactionHistories)
                                        {
                                            no++;
                                    <tr>
                                        <th scope="row">@no</th>
                                        <td>@item.Code</td>
                                        <td class="text-danger">@item.Amount.ToPriceText()</td>
                                        <td class="text-success">@item.Balance.ToPriceText()</td>
                                        <td>
                                        @item.Status.ToBadge() </td>
                                        <td>@item.Note</td>
                                        <td>@item.DateCreated.ToViDateTime()</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <strong>Tổng:</strong>
                                    </li>
                                    <li class="list-inline-item">
                                        @{
                                          var  total = (long)ViewBag.Total;
                                        }
                                        <strong style="color: red">@total.ToPriceText()</strong>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-sm-6">

                                <pager pager="@Model.Pager" asp-action="History"  asp-route-type="@type"></pager>

                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

