@model WithDrawViewModel

@{

    ViewData["Title"] = "Rút tiền";
    var amount = (long)ViewBag.Amount;
}

@section Scripts{
    <script type="text/javascript">
        $().ready(function () {
            AppWallet.HandlerWithDraw();
        });
    </script>
}

<h2 class="mb-3">Payment</h2>
<h3 class="mt-3 mb-4">@ViewData["Title"]</h3>
<div class="mb-5 bg-white rounded">
    <div class="payment">
        <div class="row">
            <div class="col-lg-12">
                <nav>
                    <div class="nav nav-tabs nav-campaign" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" href="">RÚT TIỀN</a>

                        <a class="nav-item nav-link" href="@Url.Action("History", new { type = TransactionType.WalletWithdraw })">LỊCH SỬ</a>
                    </div>
                </nav>
                <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-8">
                                <form method="post" action="@Url.Action("WithDraw","Wallet")" id="frmWithDraw">

                                    <alert></alert>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="h4">
                                        <label>Số dư ví: </label> <span class="text-danger">@amount.ToPriceText()</span>
                                    </div>



                                    <div class="form-group">
                                        <label asp-for="Amount"></label>
                                        <input type="number" asp-for="Amount" class="form-control" min="10000" max="@amount" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>

                                    <h6>Thông tin tài khoản</h6>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Name"></label>
                                                <input type="text" asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Number"></label>
                                                <input type="text" asp-for="Number" class="form-control" />
                                                <span asp-validation-for="Number" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Bank"></label>
                                                <input type="text" asp-for="Bank" class="form-control" />
                                                <span asp-validation-for="Bank" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Branch"></label>
                                                <input type="text" asp-for="Branch" class="form-control" />
                                                <span asp-validation-for="Branch" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Note"></label>
                                        <textarea asp-for="Note" class="form-control"></textarea>
                                        <span asp-validation-for="Note" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Rút tiền" class="btn btn-submit btn-primary " />
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

