@model CreateCampaignPaymentViewModel

@{
    var payment = (CampaignPaymentModel)ViewBag.Payment;
    var amount = (int)ViewBag.Amount;
}

<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            @if (payment.TotalPayback > 0)
            {
                <h5 class="modal-title">Rút tiền thừa </h5>
            }
            else
            {
                <h5 class="modal-title">Thanh toán </h5>
            }

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @if (payment == null)
        {
            <div class="modal-body">
                <div class="alert alert-danger">Thông tin giao dịch không đúng</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
            </div>
        }
        else if (payment.TotalPayback == 0 && payment.TotalChargeAmount == 0)
        {
            <div class="modal-body">
                <div class="alert alert-success">Chiến dịch đã được thanh toán đủ</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
            </div>
        }
        else if (ViewBag.IsRutTienExist!= null && ViewBag.IsRutTienExist == true)
        {
            <div class="modal-body">
                <div class="alert alert-success">Bạn đã gửi yêu cầu rút tiền thừa. Vui lòng ban quản trị duyệt yêu cầu rút tiền</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
            </div>
        }
        else
        {
            <form method="post" action="javascript:;" data-action="@Url.Action("CampaignPayment","Payment")" id="frmPayment">

                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-4">Số tiền trong ví</label>
                        <div class="col-8 text-success">
                            @amount.ToPriceText()
                        </div>
                    </div>

                    <hr />

                    <div class="form-group row">
                        <label class="col-4">Mã Chiến dịch</label>
                        <div class="col-8">
                            @payment.CampaignCode
                        </div>
                    </div>

                    @if (payment.TotalChargeAmount > 0)
                    {

                        <div class="form-group row">
                            <label class="col-4">Chi phí thanh toán cho influencer</label>
                            <div class="col-8 text-danger">
                                @payment.TotalOriginalChargeAmount.ToPriceText()
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4">Phí hệ thống <span style="color:red;">@payment.ServiceChargePercent %</span></label>
                            <div class="col-8 text-danger">
                                @payment.AmountSeparateServiceCharge.ToPriceText()
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4">Tổng phí dịch vụ</label>
                            <div class="col-8 text-danger">
                                @payment.AmountSeparateVAT.ToPriceText()
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4">VAT <span style="color:red;">@payment.ServiceVATPercent %</span></label>
                            <div class="col-8 text-danger">
                                @(((payment.AmountSeparateVAT * 10)/100).ToPriceText())
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4">Tổng chi phí phải trả</label>
                            <div class="col-8 text-danger">
                                @payment.TotalChargeAmount.ToPriceText()
                            </div>
                        </div>
                    }

                    @if(payment.TotalPayback > 0)
                    {
                        //var val = 0 - payment.TotalChargeValue;
                        var val = payment.TotalPayback;
                        <div class="form-group row">
                            <label class="col-4">Số tiền rút</label>
                            <div class="col-8 text-danger">
                                @val.ToPriceText()
                            </div>
                        </div>

                    }

                    <div class="form-group row">
                        <label asp-for="Note" class="col-4 col-form-label"></label>
                        <div class="col-8">

                            <textarea asp-for="Note" class="form-control"></textarea>
                            <span asp-validation-for="Note" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Huỷ</button>
                    <input type="hidden" asp-for="CampaignId" />
                    <input type="submit" value="Xác nhận thanh toán" class="btn btn-submit btn-primary" />
                </div>
            </form>
        }

    </div>
</div>
<script type="text/javascript">
    AppPayment.HandlerPayment();
</script>