
@{
    ViewData["Title"] = "UpdateQnA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebServices.ViewModels.QnAViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        QnA Listing
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/landingpage/qna" class="m-nav__link">
                <span class="m-nav__link-text">
                    QnA Listing
                </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        @if (Model.Id == 0)
        {
            <li class="m-nav__item">
                <a href="/landingpage/createqna" class="m-nav__link">
                    <span class="m-nav__link-text">
                        Add QnA
                    </span>
                </a>
            </li>
        }
        else
        {
            <li class="m-nav__item">
                <a href="" class="m-nav__link">
                    <span class="m-nav__link-text">
                        Edit QnA
                    </span>
                </a>
            </li>
        }

    </ul>
}

<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @(Model.Id == 0 ? "Add QnA" : "Edit QnA")
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right" method="post" asp-action="UpdateQnA">
                <input type="hidden" value="@Model.Id" name="Id" />
                <div class="m-portlet__body">
                    <div asp-validation-summary=" All" class="text-danger"></div>
                    <div class="form-group m-form__group">
                        <label for="question">
                            Câu hỏi
                        </label>
                        <input class="form-control m-input m-input--square" placeholder="Nhập câu hỏi" asp-for="Question">
                    </div>
                    <div class="form-group m-form__group">
                        <label for="answer">
                            Câu trả lời
                        </label>
                        <textarea rows="5" class="form-control m-input m-input--square" placeholder="Nhập câu trả lời" asp-for="Answer">
                        </textarea>
                    </div>
                    <div class="form-group m-form__group">
                        <label for="answer">
                            Thuộc loại
                        </label>
                        <select asp-for="Type" class="form-control">
                            <!option value="1" @(Model.Type == QnAType.General?"selected":"")>Câu hỏi chung</!option>
                            <!option value="2" @(Model.Type == QnAType.Merchant?"selected":"")>Doanh nghiệp</!option>
                            <!option value="3" @(Model.Type == QnAType.Influencer?"selected":"")>Người ảnh hưởng</!option>
                        </select>
                    </div>
                    <div class="m-form__group form-group">
                        <label for=""> Status </label>
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input asp-for="IsActive">
                                Hoạt động/Không hoạt động
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>






