
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebServices.ViewModels.EditBankAccountSystemViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Thay đổi tài khoản ngân hàng của hệ thống
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/BankAccountSystem" class="m-nav__link">
                <span class="m-nav__link-text">
                    Danh sách tài khoản ngân hàng của hệ thống
                </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/BankAccountSystem/Create" class="m-nav__link">
                <span class="m-nav__link-text">
                    Thay đổi tài khoản ngân hàng của hệ thống
                </span>
            </a>
        </li>

    </ul>
}

<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Thay đổi tài khoản ngân hàng của hệ thống
                        </h3>
                    </div>

                </div>


            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right" method="post" asp-action="Edit">
                <input type="hidden" value="@Model.Id" name="Id" />
                <div class="m-portlet__body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group m-form__group">
                        @Html.LabelFor(b => b.BankAccountName)
                        @Html.TextBoxFor(b => b.BankAccountName, new { @class = "form-control m-input m-input--square" })
                        @Html.ValidationMessageFor(b => b.BankAccountName)
                    </div>
                    <div class="form-group m-form__group">
                        @Html.LabelFor(b => b.BankAccountNumber)
                        @Html.TextBoxFor(b => b.BankAccountNumber, new { @class = "form-control m-input m-input--square" })
                        @Html.ValidationMessageFor(b => b.BankAccountNumber)
                    </div>
                    <div class="form-group m-form__group">
                        @Html.LabelFor(b => b.BankName)
                        @Html.TextBoxFor(b => b.BankName, new { @class = "form-control m-input m-input--square" })
                        @Html.ValidationMessageFor(b => b.BankName)
                    </div>
                    <div class="form-group m-form__group">
                        @Html.LabelFor(b => b.BankBranch)
                        @Html.TextBoxFor(b => b.BankBranch, new { @class = "form-control m-input m-input--square" })
                        @Html.ValidationMessageFor(b => b.BankBranch)
                    </div>
                    <div class="m-form__group form-group">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox">
                                <input type="checkbox" asp-for="@(Model.IsActive)">
                                Hoạt động/Không hoạt động
                                <span></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

