@model ListTransactionHistoryViewModel
@inject WebServices.Interfaces.ICampaignService  CampaignService

@{
    ViewData["Title"] = "Thông tin ví";
    Layout = "_LayoutSetting";
}




@section Nav{
    <ul class="nav nav-tabs nav-campaign">
        <li class="nav-item">
            <a class="nav-link active" asp-action="Index">Lịch sử giao dịch</a>
        </li>
    </ul>
}

<div class="card">
    <div class="card-content">
        <div class="card-body">
            <div class="media d-flex">
                <div class="media-body text-left">
                    <h3 class="text-danger wallet-balance">0</h3>
                    <span>Trong ví</span>
                </div>
                <div class="align-self-center">
                    <i class="fal fa-wallet fa-2x float-right text-danger"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="form-group">
    <form asp-action="Index" method="get" class="form-inline">
        <input type="text" class="form-control form-daterangepicker" autocomplete="off" name="daterange" value="@ViewBag.DateRange" placeholder="Từ ngày ... đến ngày">
        <input type="submit" class="btn btn-outline-primary" value="Tìm kiếm" />
    </form>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>Mã giao dịch</th>
                <th>Số tiền</th>
                <th>Còn lại</th>
                <th width="200">Nội dung</th>
                <th>Thời gian</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.TransactionHistories)
            {
                var textcolor = item.Amount >= 0 ? "text-success" : "text-danger";
                var textsyl = item.Amount > 0 ? "+" : "";
                <tr>
                    <td>@item.Code</td>
                    <td class="@textcolor">@textsyl @item.Amount.ToPriceText()</td>
                    <td class="text-primary">@item.Balance.ToPriceText()</td>


                    <td data-refid="@item.RefId">
                        @{
                            var url = "";
                            if (CurrentUser.Type == EntityType.Account)
                            {
                                url = Url.Action("Details", "Campaign", new { id = item.RefId });
                            }
                            else
                            {
                                url = Url.Action("Details", "AgencyCampaign", new { id = item.RefId });
                            }
                        }


                        @if (item.Type.ToString().Contains("Campaign"))
                        {
                            //var code = await CampaignService.GetCampaignCode(item.RefId);
                            var _campaign = await CampaignService.GetCampaignById(item.RefId);

                            <a href="@url"> @item.Type.ToDisplayName() chiến dịch <span style="font-weight:bold;">"@_campaign.Title"</span></a>

                        }
                        else
                        {
                            <span>@item.Type.ToDisplayName()</span>
                        }

                    </td>
                    <td>
                        @item.DateCreated.ToViDateTime()
                    </td>
                </tr>
            }
        </tbody>
        @*<tfoot>
                <tr>
                    <td colspan="3"></td>
                </tr>
            </tfoot>*@
    </table>

    <pager pager="@Model.Pager" asp-action="Index" asp-route-daterange="@ViewBag.DateRange"></pager>

</div>
