
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ListAgencyViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Agency Listing
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
    </ul>
}

    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Agency Listing
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            NAME
                                        </th>
                                        <th>
                                            USER MODIFIED
                                        </th>
                                        <th>
                                            DATE MODIFIED
                                        </th>
                                        <th>
                                            PUBLISHED
                                        </th>
                                        <th>
                                            DELETED
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int count = 0;
                                        foreach (var item in Model.Agencies)
                                        {
                                            count++;
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.Name</td>
                                                <td>@item.UserModified</td>
                                                <td>@item.DateModified</td>
                                                <td>@item.Published</td>
                                                <td>@item.Deleted</td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>
                            <pager pager="@Model.Pager" asp-action="Index"></pager>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>