
@{
    Layout = null;
}

@model ListCampaignWithAccountViewModel
@inject WebServices.Interfaces.ICampaignService CampaignService



@if (Model != null)
{

    foreach (var item in Model.Campaigns)
    {
<div class="m-widget3__item">
    <div class="m-widget3__header">
        <div class="m-widget3__user-img">

            @if (item.CampaignAccount.Account.Avatar.Contains("http"))
            {
                <img class="m-widget3__img" src="@item.CampaignAccount.Account.Avatar" alt="">
            }
            else
            {
                <img class="m-widget3__img" src="@AppHelpers.CurrentValue.GetImageUrl(item.CampaignAccount.Account.Avatar)" alt="">
            }


        </div>
        <div class="m-widget3__info">

            <ul class="list-unstyled">
                <li>
                    <ul class="list-inline">
                        <li class="list-inline-item w-100">
                            <div class="float-left">
                                
                                    <a href="/microkol/campaignmicrokoldetail/?accountid=@item.CampaignAccount.AccountId">                                    
                                        @item.CampaignAccount.Account.Name
                                    </a>

                                    
                                    @if (item.CampaignAccount.Status == CampaignAccountStatus.Finished)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide">
                                            @item.CampaignAccount.Status.ToDisplayName()
                                        </span>
                                    }
                                    @if (item.CampaignAccount.Status == CampaignAccountStatus.AccountRequest)
                                    {
                                        <span class="m-badge m-badge--brand m-badge--wide">
                                            @item.CampaignAccount.Status.ToDisplayName()
                                        </span>
                                    }
                                    @if (item.CampaignAccount.Status == CampaignAccountStatus.AgencyRequest)
                                    {
                                        <span class="m-badge m-badge--primary m-badge--wide">
                                            @item.CampaignAccount.Status.ToDisplayName()
                                        </span>
                                    }
                                    @if (item.CampaignAccount.Status == CampaignAccountStatus.Confirmed)
                                    {
                                        <span class="m-badge m-badge--info m-badge--wide">
                                            @item.CampaignAccount.Status.ToDisplayName()
                                        </span>
                                    }
                                    @if (item.CampaignAccount.Status == CampaignAccountStatus.SubmittedContent)
                                    {
                                        <span class="m-badge m-badge--accent m-badge--wide">
                                            @item.CampaignAccount.Status.ToDisplayName()
                                        </span>
                                    }
                                    @if (item.CampaignAccount.Status == CampaignAccountStatus.DeclinedContent)
                                    {
                                        <span class="m-badge m-badge--focus m-badge--wide">
                                            @item.CampaignAccount.Status.ToDisplayName()
                                        </span>
                                    }
                                    @if (item.CampaignAccount.Status == CampaignAccountStatus.ApprovedContent ||
                                  item.CampaignAccount.Status == CampaignAccountStatus.UpdatedContent)
                                    {
                                        <span class="m-badge m-badge--focus m-badge--wide">
                                            @item.CampaignAccount.Status.ToDisplayName()
                                        </span>
                                    }
                                    @if (item.CampaignAccount.Status == CampaignAccountStatus.Canceled)
                                    {
                                        <span class="m-badge m-badge--warning m-badge--wide">
                                            @item.CampaignAccount.Status.ToDisplayName()
                                        </span>
                                    }
                                    @if (item.CampaignAccount.Status == CampaignAccountStatus.Unfinished)
                                    {
                                        <span class="m-badge m-badge--danger m-badge--wide">
                                            @item.CampaignAccount.Status.ToDisplayName()
                                        </span>
                                    }
                                    @item.Title
                                
                            </div>                            
                        </li>

                    </ul>
                </li>
                <li>
                    <span class="m-widget3__time">
                        @item.CampaignAccount.DateModified.ToTimeAgo()
                    </span>
                </li>
            </ul>




        </div>

    </div>
    

</div>
    }

}