
@{
    ViewData["Title"] = "CampaignCharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<AccountCampaignChargeViewModel>

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Danh sách người ảnh hưởng
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="/microkol" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/microkol" class="m-nav__link">
                <span class="m-nav__link-text">
                    Danh sách người ảnh hưởng
                </span>
            </a>
        </li>
        @if (ViewBag.Microkol != null)
        {
            <li class="m-nav__separator">
                -
            </li>
            <li class="m-nav__item">
                <a href="/microkol/detail?id=@(ViewBag.Microkol.Id)" class="m-nav__link">
                    <span class="m-nav__link-text">
                        @ViewBag.Microkol.Name
                    </span>
                </a>
            </li>
            <li class="m-nav__separator">
                -
            </li>
            <li class="m-nav__item">
                <a href="/microkol/campaigncharge?id=@(ViewBag.Microkol.Id)" class="m-nav__link">
                    <span class="m-nav__link-text">
                        Chi phí trả bởi chiến dịch
                    </span>
                </a>
            </li>
        }
    </ul>
}

@section HorizontalMenu{
    @*<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown m-menu__item--hover" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-add"></i>
                <span class="m-menu__link-text">
                    Menu
                </span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust" style="left: 73px;"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="/microkol/changepassword?id=@(ViewBag.Microkol.Id)" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                Thay đổi mật khẩu
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="/microkol/changetype?id=@(ViewBag.Microkol.Id)" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                Cấu hình loại người ảnh hưởng
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>*@
}

    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Campaign Charge "@(ViewBag.Microkol.Name)"
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" method="post" action="/microkol/campaigncharge">
                    <div class="m-portlet__body">

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="form-group m-form__group" id="group_data">
                                    <label for="exampleSelect1">
                                        @item.Type.ToText()
                                    </label>
                                    <input class="form-control m-input" value="@(item.AccountChargeAmount)" name="AccountChargeAmount">
                                    <input type="hidden" value="@(item.Id)" name="Id">
                                    <input type="hidden" value="@(item.AccountId)" name="AccountId">
                                    <input type="hidden" value="@(item.Type)" name="Type">
                                </div>
                            }
                        }

                    </div>
                    @if (ViewBag.Microkol.Type != 0)
                    {
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <button id="btnSubmit" type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    }

                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSubmit').click(function (e) {
                e.preventDefault();

                var data = [];
                $('.m-portlet__body #group_data').each(function (index, group) {
                    let item = {};
                    $(group).find('input').each(function (index, value) {
                        item['' + $(value).attr('name') + ''] = $(value).val();
                    });
                    data.push(item);
                });

                

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CampaignCharge", "Microkol")',
                    data: JSON.stringify(data),
                    success: function (data) {
                        if (data.state == 0) {
                            document.location.reload();
                        } 
                    },                    
                    contentType: 'application/json'                    
                });

            });
        });
    </script>
}