
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject WebServices.Interfaces.IAccountService accountService

@model ListAccountViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Danh sách người ảnh hưởng
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
    </ul>
}


<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tabs">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Danh sách người ảnh hưởng
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="m_portlet_tab_1_1">
                        @await Html.PartialAsync("~/Views/MicroKol/_FilterPartial.cshtml")
                    </div>
                </div>
                <!--begin::Section-->
                <div class="m-section">
                    <div class="m-section__content">

                        @if (Model != null)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Chiến dịch
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Số điện thoại
                                        </th>
                                        <th>
                                            Tên
                                        </th>
                                        <th>
                                            Ngày đăng ký
                                        </th>
                                        <th>
                                            Loại
                                        </th>
                                        <th>
                                            Hoạt động
                                        </th>
                                        <th>
                                            Xác thực
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = string.IsNullOrEmpty(Context.Request.Query["pageindex"]) ? 1 : ((Convert.ToInt32(Context.Request.Query["pageindex"]) - 1) * 25) == 0 ? 1 : ((Convert.ToInt32(Context.Request.Query["pageindex"]) - 1) * 25) + 1;
                                    }
                                    @foreach (var item in Model.Accounts)
                                    {
                                        
                                        var provider = await accountService.GetAccountProviderByAccount(item.Id, AccountProviderNames.Facebook);
                                        <tr>
                                            <td>@(count)</td>
                                            <td>
                                                <a href="/microkol/CampaignMicrokolDetail?accountid=@item.Id" class="btn btn-sm btn-primary" style="font-family:roboto;">Chiến dịch tham gia</a>
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                            <td>@item.Phone</td>
                                            <td>@item.Name</td>
                                            <td>@item.DateCreated.ToShortDateString()</td>
                                            <td>@item.Type.ToString()</td>

                                            <td>

                                                @(item.Actived == true ? "Hoạt động" : "Không hoạt động")

                                            </td>
                                            <td>

                                                @if (item.Status == AccountStatus.NeedVerified || item.Status == AccountStatus.Normal)
                                                {
                                                    <a href="/microkol/verify/?id=@item.Id">Cần xác thực</a>
                                                }
                                                else
                                                {
                                                    <span>Đã xác thực</span>
                                                }

                                            </td>


                                            <td>
                                                <a href="/microkol/detail?id=@item.Id" class="btn btn-sm btn-info" style="font-family:roboto;">Chi tiết</a>
                                                <a href="javascript:send_message(@item.Id, '@(item.Name)');" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                                    <i class="fa fa-bell"></i>
                                                </a>
                                            </td>
                                        </tr>

                                            <tr>
                                                <td colspan="10">
                                                    @if (!string.IsNullOrEmpty(provider.FbProfileLink))
                                                    {
                                                        <span>Facebook Profile: <a href="@(provider.FbProfileLink)" target="_blank">@provider.FbProfileLink</a></span>
                                                    }

                                                    <span style="color:red;">&nbsp; Friends: @(provider.FriendsCount)</span>
                                                </td>
                                            </tr>
                                        

                                        count++;
                                    }
                                </tbody>
                            </table>
                            <pager pager="@Model.Pager" asp-action="Index"></pager>
                        }
                    </div>
                </div>
                <!--end::Section-->
            </div>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>


<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="model-send-message">
                    
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body" style="margin:3px;">
                <iframe id="iframeInfluencer" src="" height="320px" width="720px" frameborder="0" scrolling="no" style="overflow: hidden;"></iframe>
            </div>

        </div>
    </div>
</div>

@section Scripts{ 
    <script type="text/javascript">
           function send_message(id, name) {
               var url = '/Microkol/SendNotification?id=' + id;
               $('#iframeInfluencer').attr('src', url);
               $('#model-send-message').html("Gửi tin nhắn tới Influencer:" + name);
                $('#m_modal_5').modal({ show: true });
                $('#m_modal_5').on('hidden.bs.modal', function (e) {
                    //document.location = document.location.href;
                });
            }

    </script>
}