
@{
    ViewData["Title"] = "Verify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AccountViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        MicroKOls Listing
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="/microkol" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/microkol" class="m-nav__link">
                <span class="m-nav__link-text">
                    Danh sách người ảnh hưởng
                </span>
            </a>
        </li>
        @if (Model != null && Model.Id > 0)
        {
            <li class="m-nav__separator">
                -
            </li>
            <li class="m-nav__item">
                <a href="/microkol/detail?id=@(Model.Id)" class="m-nav__link">
                    <span class="m-nav__link-text">
                        @Model.Name
                    </span>
                </a>
            </li>
        }
    </ul>
}


<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Thông tin @(Model != null ? string.Format("\"{0}\"", Model.Name) : "")
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit" action="/microkol/Verify" method="post">
                <input type="hidden" asp-for="Id">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">
                                1. Thông tin chung:
                            </h3>
                        </div>
                        <div class="form-group m-form__group">
                            <label for="example_input_full_name">
                                Tên đầy đủ:
                            </label>
                            <input class="form-control m-input" placeholder="Hãy nhập tên đầy đủ" asp-for="Name">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Địa chỉ Email:
                            </label>
                            <input class="form-control m-input" placeholder="Nhập địa chỉ Email" asp-for="Email">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Địa chỉ:
                            </label>
                            <input class="form-control m-input" placeholder="Địa chỉ" asp-for="Address">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Số điện thoại:
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <input class="form-control m-input" placeholder="Số điện thoại" asp-for="Phone">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-bell"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Giới tính:
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <span>@Model.Gender.ToDisplayName()</span>
                            </div>
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Ngày sinh:
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <span>@(Model.Birthday.HasValue == true ? Model.Birthday.Value.ToShortDateString() : "Chưa rõ")</span>
                            </div>
                        </div>
                        <div class="m-form__group form-group">
                            <label for="">
                                Trạng thái:
                            </label>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    <input type="checkbox" asp-for="Actived">
                                    Kích hoạt
                                    <span></span>
                                </label>
                                <label class="m-checkbox">
                                    <input type="checkbox" asp-for="Deleted">
                                    Hủy bỏ
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        @if (ViewBag.Influencer != null)
                        {
                            <div class="m-form__group form-group">
                                <label for="">
                                    Lĩnh vực quan tâm, sở thích:
                                </label>
                                <div>
                                    @{
                                        string str_category = "";
                                        ICollection<AccountCategory> _list = ((ICollection<AccountCategory>)ViewBag.Influencer.AccountCategory);
                                    }
                                    @foreach (var item in _list)
                                    {
                                        str_category += str_category == "" ? item.Category.Name : ", " + item.Category.Name;
                                    }
                                    <span>@str_category</span>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed"></div>
                    <div class="m-form__section m-form__section--last">
                        <div class="m-form__heading">

                            <h3 class="m-form__heading-title">
                                2. Chứng minh thư:
                            </h3>
                            @if ((string.IsNullOrEmpty(Model.IDCardImageBack) || string.IsNullOrEmpty(Model.IDCardImageFront))
                           && (Model.Status == AccountStatus.Normal || Model.Status == AccountStatus.NeedVerified))
                            {
                                <div class="alert alert-danger" role="alert">
                                    <strong>
                                        Error!
                                    </strong>
                                    Don't have enough information for Verify
                                </div>
                            }
                        </div>
                        <div class="form-group m-form__group">
                            <label for="example_input_full_name">
                                Tên:
                            </label>
                            <input class="form-control m-input" placeholder="Tên" asp-for="IDCardName">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Số chứng minh thư:
                            </label>
                            <input class="form-control m-input" placeholder="Số chứng minh thư" asp-for="IDCardNumber">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Ngày cấp:
                            </label>
                            <input class="form-control m-input" placeholder="Ngày cấp" asp-for="IDCardTime">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Thành phố:
                            </label>
                            <input class="form-control m-input" placeholder="Thành phố" asp-for="IDCardCity">
                        </div>
                        @if (!string.IsNullOrEmpty(Model.IDCardImageFront))
                        {
                            <div class="form-group m-form__group">
                                <label>
                                    Mặt trước :
                                </label>

                                <img src="@AppHelpers.CurrentValue.GetImageUrl(Model.IDCardImageFront)" width="640px" height="480px"/>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.IDCardImageBack))
                        {
                            <div class="form-group m-form__group">
                                <label>
                                    Mặt sau
                                </label>
                                <img src="@AppHelpers.CurrentValue.GetImageUrl(Model.IDCardImageBack)" width="640px" height="480px"/>
                            </div>
                        }

                        @if ((!string.IsNullOrEmpty(Model.IDCardImageBack) || !string.IsNullOrEmpty(Model.IDCardImageFront))
                             && (Model.Status == AccountStatus.Normal || Model.Status == AccountStatus.NeedVerified))
                        {
                            <div class="m-form__group form-group">
                                <div class="m-checkbox-list">
                                    <label class="m-checkbox">
                                        <input type="checkbox" name="chkConfirmVerify" value="1">
                                        Confirm Accept Verify
                                        <span></span>
                                    </label>

                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label>
                                    Sent Message:
                                </label>
                                <textarea name="txtMessage" rows="3" cols="3" class="form-control"></textarea>
                            </div>
                        }

                    </div>
                    
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        @if (!string.IsNullOrEmpty(Model.IDCardImageBack) || !string.IsNullOrEmpty(Model.IDCardImageFront))
                        {
                            <button type="submit" class="btn btn-primary">
                                Verified
                            </button>
                        }
                        <button type="reset" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>



