@model ListCampaignAccountViewModel


<table class="table table-borderless mt-3">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th scope="col">#</th>
            <th scope="col">Họ và Tên</th>
            <th scope="col">Bạn bè</th>
            <th scope="col">Thống kê trung bình</th>
            <th scope="col">Trạng thái</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" /></td>
            <th scope="row">1</th>
            <td><a href="#" class="kol-join"><img src="img/1.jpg" width="32" height="32">Mark</a></td>
            <td>123</td>
            <td class="statistic-social">
                <span title="Lượt thích trung bình">123 <i class="fa fa-thumbs-up"></i></span>
                <span class="px-2" title="Lượt chia sẻ trung bình">123 <i class="fa fa-share"></i></span>
                <span title="Lượt bình luận trung bình">123 <i class="fa fa-comment"></i></span>
            </td>
            <td><span class="badge badge-success">Đã tham gia</span></td>
            <td><button type="button" class="btn btn-danger btn-sm">Từ chối</button></td>
        </tr>
    </tbody>
    <tbody>
        @{ var stt = 0;}

        @foreach (var campaignAccount in Model.CampaignAccounts)
        {
            stt++;
        <tr>
            <td><input type="checkbox" /></td>
            <td>@stt</td>
            <td>
                <img src="@AppOptions.CurrentValue.GetImageUrl(campaignAccount.Account.Avatar)" width="32" height="32">
                @campaignAccount.Account.Name
            </td>

            <td>@campaignAccount.Account.AccountCounting.FriendsCount</td>
            <td class="statistic-social">
                <span title="Lượt thích trung bình">@campaignAccount.Account.AccountCounting.AvgLikeCount <i class="fa fa-thumbs-up"></i></span>
                <span class="px-2" title="Lượt chia sẻ trung bình">@campaignAccount.Account.AccountCounting.AvgShareCount <i class="fa fa-share"></i></span>
                <span title="Lượt bình luận trung bình">@campaignAccount.Account.AccountCounting.AvgCommentCount <i class="fa fa-comment"></i></span>
            </td>
            <td>@campaignAccount.Status.ToBadge()</td>
            <td>

            </td>
        </tr>
        }
    </tbody>
</table>