@model ListCampaignAccountViewModel
@inject WebServices.Interfaces.IAccountService AccountService
@inject WebServices.Interfaces.ICampaignService CampaignService
@{
    var currenturl = Url.Action("CampaignAccountPartial", new { campaignid = ViewBag.Campaignid, pageindex = Model.Pager.Page, pagesize = Model.Pager.PageSize });
}
@if (Model.CampaignAccounts.Count > 0)
{

    <div class="table-responsive">

        <table class="table table-borderless mt-3">
            <thead>
                <tr>
                    <th><input type="checkbox" class="cb-checkall" /></th>
                    <th>#</th>
                    <th>Họ và Tên</th>
                    <th>Bạn bè</th>
                    <th>Thống kê trung bình</th>
                    <th>Trạng thái</th>
                    <th>Chi phí phải trả</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var stt = 0; }

                @foreach (var campaignAccount in Model.CampaignAccounts)
                {
                    stt++;
                    var counting = await AccountService.GetAccountCounting(campaignAccount.AccountId);
                    var amount = await CampaignService.GetAgencyChagreAmount(campaignAccount.Id);
                    <tr>
                        <td><input type="checkbox" class="cb-checkitem cb-checkitem@(campaignAccount.Status)" value="@campaignAccount.AccountId" /></td>
                        <td>@stt</td>
                        <td>
                            <a href="@campaignAccount.Account.Link" target="_blank">
                                <img src="@AppOptions.CurrentValue.GetImageUrl(campaignAccount.Account.Avatar)" width="32" height="32">
                                @campaignAccount.Account.Name
                            </a>
                        </td>

                        <td>@counting.FriendsCount</td>
                        <td class="statistic-social">
                            <span title="Lượt thích trung bình">@counting.AvgLikeCount <i class="fa fa-thumbs-up"></i></span>
                            <span class="px-2" title="Lượt chia sẻ trung bình">@counting.AvgShareCount <i class="fa fa-share"></i></span>
                            <span title="Lượt bình luận trung bình">@counting.AvgCommentCount <i class="fa fa-comment"></i></span>
                        </td>
                        <td>@campaignAccount.Status.ToBadge()</td>
                        <td class="text-danger">
                            @amount.ToPriceText()
                        </td>
                        <td>
                            @if (campaignAccount.Status == CampaignAccountStatus.AccountRequest)
                            {
                                <form action="javascript:;" data-action="@Url.Action("FeedbackAccountJoinCampaign")" class="frmFeedback">

                                    <input type="hidden" name="returnurl" value="@currenturl" />
                                    <input type="hidden" name="campaignid" value="@ViewBag.CampaignId" />
                                    <input type="hidden" name="accountid" value="@campaignAccount.AccountId" />
                                    <button class="btn btn-sm btn-success" type="submit" name="type" value="1">Đồng ý</button>
                                    <button class="btn btn-sm btn-danger" type="submit" name="type" value="0">Từ chối</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <form action="javascript:;" data-action="@Url.Action("FeedbackAllAccountJoinCampaign")" class="frmFeedbackAll frmFeedback">

                    <input type="hidden" name="returnurl" value="@currenturl" />
                    <input type="hidden" name="campaignid" value="@ViewBag.CampaignId" />
                    <button class="btn btn-sm btn-success" type="submit" name="type" value="1">Đồng ý tất cả</button>
                    <button class="btn btn-sm btn-danger" type="submit" name="type" value="0">Từ chối tất cả</button>
                    <div class="frmFeedbackAll-ids"></div>
                </form>
            </div>

            <div class="col-md-6">

                <pager pager="@Model.Pager" asp-action="CampaignAccountPartial" asp-route-campaignid="@ViewBag.CampaignId"></pager>
            </div>

        </div>
    </div>

}
else
{
    <div class="alert alert-info">Chưa có thành viên tham gia chiến dịch</div>
}
