
@{
    ViewData["Title"] = "ContentHistory";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

@inject WebServices.Interfaces.IAccountService  AccountService

@{
    int accountid = Convert.ToInt32(Context.Request.Query["accountId"]);
    var account = await AccountService.GetAccount(accountid);
    var campaign = (CampaignViewModel)ViewBag.Campaign;
}

@model ListCampaignAccountContentViewModel


<div class="row">
    <div class="col-md-12">
        <h6 class="title-campaign">@campaign.Title</h6>
        <div class="statistic-social">
            <a href="javascript:;" class="kol-join"><img src="@AppOptions.CurrentValue.GetImageUrl(account.Avatar)" width="32" height="32">&nbsp;@account.Name</a>
            <span title="Lượt thích trung bình">@account.AccountCounting.AvgLikeCount <i class="fa fa-thumbs-up"></i></span>
            <span class="px-2" title="Lượt chia sẻ trung bình">@account.AccountCounting.AvgShareCount <i class="fa fa-share"></i></span>
            <span title="Lượt bình luận trung bình">@account.AccountCounting.AvgCommentCount <i class="fa fa-comment"></i></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @{ var no = 1;}
        <table class="table table-borderless mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" width="550">Caption</th>
                    <th scope="col">Ngày tháng</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item2 in Model.CampaignAccountContents)
                {
                    <tr>
                        <th scope="row">@no</th>
                        <td>
                            <p class="d-inline-block text-wrap" style="max-width: 550px;">
                                @item2.Content
                            </p><br />
                            @if (!string.IsNullOrEmpty(item2.Note))
                            {
                                <p>
                                    <strong>Ghi chú từ doanh nghiệp</strong> <br />
                                    <em class="text-secondary">@item2.Note</em>
                                </p>
                            }
                        </td>
                        <td> @item2.DateCreated.ToViDateTime()</td>
                        <td> @item2.Status.ToBadge()</td>
                    </tr>
                    no++;
                }


            </tbody>
        </table>
    </div>
</div>
