@model CreateCampaignInfoViewModel
@{
    var campaignType = Model.Type;
    ViewData["Title"] = "Tạo chiến dịch";

}

@*<div class="d-flex">
        <div class="p-2 flex-grow-1"><h2 class="h2-title">@ViewData["Title"]</h2></div>
        <div class="p-2">
            <a class="btn btn-danger btn-lg-radius" asp-controller="Campaign" asp-action="Create">Tạo chiến dịch</a>
        </div>
    </div>*@
@section Top{
    <div class="page-title">
        <div class="h1">  @ViewData["Title"]</div>
        <a class="btn btn-danger ml-auto" asp-controller="Campaign" asp-action="Create">Tạo chiến dịch</a>
    </div>
}
<h3 class="mb-3 text-primary h3">Bước 2: Thông tin về chiến dịch</h3>


<partial name="_CreateCampaignBanner" model="@campaignType" />


<form class="form-create-campaign" asp-action="CreateInfo">
    <div class="p-3 mb-5 bg-white">
        <div class="row">
            <div class="col-lg-12">

                <div class="form-group">

                    <label asp-for="Title" style="font-weight:bold;"></label>
                    <input type="text" class="form-control" asp-for="Title" placeholder="Điền tên chiến dịch" />
                    <span asp-validation-for="Title"></span>

                </div>
                @if (campaignType == CampaignType.ChangeAvatar)
                {
                    <div class="form-group">
                        <label asp-for="Image" style="font-weight:bold;"></label>

                        <input type="file" id="dataImageFile" class="form-control" data-target="#Image" data-preview="#imagePreview" data-sizetype="1" />
                        <input type="hidden" asp-for="Image" />
                        <span asp-validation-for="Image"></span>
                        <span class="text-danger">* Avatar có kích thước cố định 640x640</span>

                        <div>
                            <img src="" id="imagePreview" class="img-thumbnail mt-2" style="max-height:400px" />
                        </div>


                    </div>


                    <div class="form-group">
                        <label asp-for="Data" style="font-weight:bold;">Url Frame</label>
                        <input type="text" class="form-control" asp-for="Data" />
                        <span asp-validation-for="Data"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Data" style="font-weight:bold;"></label>
                        <input type="text" required class="form-control" asp-for="Data" placeholder="Điền liên kết URL nội dung" />
                        <span asp-validation-for="Data"></span>
                    </div>

                    <input type="hidden" asp-for="Image" />
                }
                <div class="form-group">

                    <label asp-for="Description" style="font-weight:bold;"></label>
                    <textarea class="form-control" required rows="2" asp-for="Description"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Requirement" style="font-weight:bold;"></label>
                    <textarea class="form-control" required rows="2" asp-for="Requirement"></textarea>
                    <span asp-validation-for="Requirement"></span>
                </div>
                @if (campaignType == CampaignType.ChangeAvatar)
                {
                    <div class="form-group">
                        <label asp-for="AccountChargeTime" style="font-weight:bold;"></label>
                        <div class="input-group">
                            <input type="number" class="form-control" asp-for="AccountChargeTime" />
                            <div class="input-group-append">
                                <span class="input-group-text">Tuần</span>
                            </div>
                        </div>
                        <span asp-validation-for="AccountChargeTime"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="AccountChargeTime" />
                }

                <div class="form-group ">
                    <label asp-for="HashTag" style="font-weight:bold;"></label>

                    <select asp-for="HashTag" multiple class="form-control"></select>
                    <span asp-validation-for="HashTag"></span>

                </div>


                @*@if (campaignType == CampaignType.ShareContent)
                {
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" asp-for="EnabledExtraType" />
                            <label class="custom-control-label" asp-for="EnabledExtraType" style="font-weight:bold;"></label>
                        </div>
                    </div>

                }*@

                <div class="form-group">
                    <label asp-for="SampleContentText" style="font-weight:bold;"></label>
                    <textarea class="form-control" rows="3" placeholder="Nội dung mẫu chiến dịch viết tại đây" asp-for="SampleContentText"></textarea>
                </div>



                @if (campaignType == CampaignType.ReviewProduct)
                {
                    var arrType = Common.Helpers.StringHelper.GetEnumArray<CampaignReviewType>();


                    foreach (var item in arrType)
                    {
                        var radioid = $"reviewtype{item}";
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" required class="custom-control-input" name="ReviewType" value="@item" id="@radioid" data-desc="" />
                                <label class="custom-control-label" for="@radioid">@item.ToDisplayName()</label>
                            </div>

                        </div>

                        <div class="reviewaddress-container reviewaddress-container-@item" style="display:none">


                            @if (item == CampaignReviewType.GuiSanPham)
                            {

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="ReviewPayback" id="ReviewPayback" value="1" />
                                        <label class="custom-control-label" asp-for="ReviewPayback" style="font-weight:bold;"></label>
                                    </div>
                                </div>
                                <div class="form-group form-reviewAddress" style="display:none">
                                    <label style="font-weight:bold;">@item.ToDescription()</label>
                                    <textarea class="form-control " asp-for="ReviewAddress"></textarea>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label style="font-weight:bold;">@item.ToDescription()</label>
                                    <textarea class="form-control " asp-for="ReviewAddress2"></textarea>
                                </div>
                            }

                        </div>
                    }


                    <span asp-validation-for="ReviewType" class="text-danger"></span>
                }
                else
                {

                    <input type="hidden" asp-for="ReviewType" />
                    <input type="hidden" asp-for="ReviewAddress" />
                    <input type="hidden" asp-for="ReviewAddress2" />
                    <input type="hidden" asp-for="ReviewDate" />
                }

                @if (campaignType != CampaignType.ChangeAvatar)
                {

                    <div>
                        <label style="font-weight:bold;">Ảnh chiến dịch cung cấp</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="sampleContent" data-target="#sampleContentWrap" multiple>
                            <label class="custom-file-label" for="sampleContent" style="font-weight:bold;">Tải ảnh chiến dịch</label>
                        </div>
                        <div>
                            <ul class="list-unstyled">
                                @if (campaignType == CampaignType.ChangeAvatar)
                                {

                                    <li>
                                        <a data-toggle="popover" href="javascript:;" data-content="Tối thiểu: 640px x 640px, Tối đa: 2048px x 2048px">Kích cỡ ảnh Avatar?</a>
                                    </li>
                                }
                                @*else
                        {
                            <li>
                                <a data-toggle="popover" href="javascript:;" data-content="Tối thiểu: 1200px x 628px, Tối đa: 3840px x 2400px">Kích cỡ ảnh bài viết?</a>
                            </li>
                        }*@
                            </ul>
                        </div>

                        <div id="sampleContentWrap" class="list-sample-campaign-images mt-3">


                        </div>

                    </div>

                }



                <div class="text-center form-group">
                    <input type="hidden" asp-for="Type" />
                    <button class="btn btn-primary btn-bold-text" type="submit">
                        Bước 3: Yêu cầu về đối tượng của chiến dịch
                    </button>
                </div>

            </div>

        </div>
    </div>
</form>


