@model CampaignDetailsViewModel
@{
    ViewData["Title"] = $"Chiến dịch {Model.Code}";
    var categories = (List<CategoryViewModel>)ViewBag.Categories;
    var cities = (List<EntityViewModel>)ViewBag.Cities;
    var balance = (long)ViewBag.Balance;
}


@section Top{
    <div class="page-title">
        <div class="h1" > Chiến dịch  </div>
        <span class=" h3 text-secondary px-2">/</span>
        <h1 class=" h3 text-secondary">@ViewData["Title"]</h1>
        <a class="btn btn-danger ml-auto" asp-controller="Campaign" asp-action="Create">Tạo chiến dịch</a>
    </div>
}

<h3 class="mt-4 mb-4 text-grey">Chiến dịch: @Model.Title</h3>

<div class="mb-5 bg-white rounded campaigndetails">

    <partial name="_DetailsNavPartial" model="Model" />

    @{ int stt = 0;}
    <div class="tab-content" id="nav-tab-content-campaign">
        <div class="tab-pane fade active show" id="nav-campaign-detail" role="tabpanel">

            <div class="card card-body  border-0">

                <div class="row info">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <h5 class="mr-2">1. Mã chiến dịch:</h5><span>@Model.Code</span>
                        </div>
                        <div class="mb-2">
                            <h5 class="mr-2">2. Tên chiên dịch:</h5>
                            <span>
                                @Model.Title
                            </span>
                        </div>
                        <div class="mb-2">
                            <h5 class="mr-2">3. Trạng thái:</h5>@Model.Status.ToBadge()
                        </div>
                        <div class="mb-2">
                            <h5 class="mr-2">4. Tổng phí:</h5> <span class="text-danger">@Model.Payment.TotalChargeAmount.ToPriceText()</span>
                        </div>
                        <div class="mb-2">
                            <h5 class="mr-2">5. Đã thanh toán:</h5> <span class="text-success">@Model.Payment.TotalPaidAmount.ToPriceText()</span>
                        </div>
                        <div class="mb-2">
                            <h5 class="mr-2">6. Còn lại:</h5>  <span class="text-success">@Model.Payment.TotalChargeValue.ToPriceText()</span>
                        </div>
                        <div class="mb-2">
                            <h5 class="mr-2">7. Ngày tạo:</h5> <span class="text-info">@Model.DateCreated.ToViDateTime()</span>
                        </div>
                        @if (Model.DateStart.HasValue)
                        {

                            <div class="mb-2">
                                <h5 class="mr-2">8. Thời gian đăng ký và nhận thông tin sản phẩm/dịch vụ trải nghiệm:</h5>
                                <span class="text-info">@Model.DateStart.Value.ToViDateTime()</span> -
                                <span class="text-info">
                                    @Model.DateEnd.Value.ToViDateTime()
                                </span>
                            </div>
                            stt = 8;
                        }
                        @if (Model.Type == CampaignType.ReviewProduct)
                        {
                            if (Model.FeedbackStart.HasValue)
                            {
                                stt++;
                                <div class="mb-2">
                                    <h5 class="mr-2">@stt. Thời gian gửi và duyệt nội dung mẫu</h5>
                                    <span class="text-info">@Model.FeedbackStart.Value.ToViDateTime()</span> -
                                    <span class="text-info">
                                        @Model.FeedbackEnd.Value.ToViDateTime()
                                    </span>
                                </div>
                            }
                        }
                        @if (Model.ExecutionStart.HasValue)
                        {
                            stt++;

                            <div class="mb-2">
                                <h5 class="mr-2">@stt. Thời gian thực hiện:</h5>
                                <span class="text-info">@Model.ExecutionStart.Value.ToViDateTime()</span> -
                                <span class="text-info">
                                    @Model.ExecutionEnd.Value.ToViDateTime()
                                </span>
                            </div>
                        }

                        <div class="mb-2">
                            @{stt++;}
                            <h5 class="mr-2">@stt. Loại chiến dịch:</h5>

                            <span class="text-primary"> @Model.Type.ToDisplayName()</span>

                            @if (Model.Type == CampaignType.ShareContentWithCaption)
                            {
                                if (Model.EnabledAccountChargeExtra)
                                {
                                    <small class="text-info"> Đính kèm hình ảnh cá nhân</small>
                                }
                            }
                        </div>
                        @if (Model.Type == CampaignType.ReviewProduct)
                        {

                            <div class="mb-2">
                                <strong>
                                    @Model.ReviewType.ToDisplayName()
                                </strong>


                                @if (Model.ReviewPayback.HasValue)
                                {
                                    <span> - Thu hồi sản phẩm</span>
                                }

                                <br />
                                <strong class="mr-2"> Địa chỉ:</strong>
                                @Model.ReviewAddress
                            </div>

                        }
                        @if (!string.IsNullOrEmpty(Model.Data))
                        {
                            <div class="mb-2">
                                <strong> @Model.Type.ToDataText()</strong>:  <a href="@Model.Data" target="_blank">@Model.Data</a>
                            </div>
                        }

                        @{ stt++;}
                        <div class="mb-2">
                            <h5 class="mr-2">@stt. Giới thiệu ngắn gọn sản phẩm, dịch vụ chạy chiến dịch:</h5><br>
                            <span>
                                @Model.Description
                            </span>
                        </div>
                        @*<div class="mb-2">
            <strong class="mr-2">12. Thông tin phần thưởng:</strong><br>
            <span>
                Phần thưởng cho influencer tham gia chiến dịch: Sản phẩm trị giá 500.000 VND và 1 voucher 20% kèm với 300.000 VND tiền mặt.
                <span>
                </span>
            </span>
        </div>*@
                    </div>


                    <div class="col-md-6">
                        @{ stt++;}
                        <div class="mb-2">
                            <h5 class="mr-2">@stt. Đối tượng tham gia:</h5>
                            <span>
                                @foreach (var item in Model.AccountTypes)
                                {
                                    <strong>@item.ToDisplayName()</strong>
                                }
                            </span>
                        </div>
                        <div class="mb-2">
                            @{ stt++;}
                            <h5 class="mr-2">@stt. Số lượng người cần:</h5>
                            <span>
                                @Model.Quantity
                            </span>
                        </div>
                        @if (Model.Type == CampaignType.ShareContentWithCaption ||
                      Model.Type == CampaignType.ReviewProduct)
                        {
                            <div class="mb-2">
                                @{ stt++;}
                                <h5 class="mr-2">@stt. KPIs yêu cầu tối thiểu cho mỗi người:</h5>
                                <span>
                                    <strong>@Model.InteractiveMin</strong>
                                </span>
                            </div>
                        }
                        @{ stt++;}
                        <div class="mb-2">
                            <h5 class="mr-2">@stt. Chi phí tối thiểu:</h5>
                            <span class="text-danger">
                                @Model.AmountMin.ToPriceText()
                            </span>
                        </div>
                        @{ stt++;}
                        <div class="mb-2">
                            <h5 class="mr-2">@stt. Chi phí tối đa:</h5>
                            <span class="text-danger">
                                @Model.AmountMax.ToPriceText()
                            </span>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Requirement))
                        {
                            stt++;
                            <div class="mb-2">
                                <h5 class="mr-2">@stt. Yêu cầu về chiến dịch:</h5><br>
                                <span>
                                    @Model.Requirement
                                </span>
                            </div>

                        }
                        @if (Model.Hashtag.Count > 0)
                        {
                            stt++;
                            <div class="mb-2">
                                <h5 class="mr-2">@stt. HashTag:</h5><br>
                                <span>
                                    @foreach (var item in Model.Hashtag)
                                    {
                                        <span>#@item.Trim('#')</span>
                                    }
                                </span>
                            </div>
                        }
                        @if (Model.SampleContent.Count > 0)
                        {

                            <div class="mb-2">
                                @{ stt++;}
                                <h5 class="mr-2">@stt. Ảnh mẫu:</h5><br>
                                <ul class="list-inline">
                                    @foreach (var imgItem in Model.SampleContent)
                                    {
                                        <li class="list-inline-item">
                                            <img src="@AppOptions.CurrentValue.GetImageUrl(imgItem)" class="img-thumbnail mr-2" style="height:120px" />
                                        </li>
                                    }

                                </ul>
                            </div>

                        }
                        @if (!string.IsNullOrEmpty(Model.SampleContentText))
                        {

                            <div class="mb-2">
                                @{ stt++;}
                                <h5 class="mr-2">@stt. Nội dung mẫu:</h5><br>
                                <span>

                                    @Html.Raw(Model.SampleContentText)
                                </span>
                            </div>
                        }

                        @if (Model.Image.Count > 0)
                        {

                            <div>
                                @{ stt++;}
                                <h5 class="mr-2">@stt.  Ảnh chiến dịch cung cấp:</h5><br>

                                <ul class="list-inline">
                                    @foreach (var imgItem in Model.Image)
                                    {
                                        <li class="list-inline-item">
                                            <img src="@AppOptions.CurrentValue.GetImageUrl(imgItem)" class="img-thumbnail mr-2" style="height:120px" />

                                        </li>
                                    }
                                </ul>
                            </div>
                        }





                        @if (Model.CountOption > 0)
                        {
                            stt++;
                            <div class="mb-2">
                                <h5 class="mr-2">@stt.  Tiêu chí:</h5><br>
                                <ul>
                                    @if (Model.Gender.HasValue)
                                    {
                                        <li>Giới tính: @Model.Gender.Value.ToDisplayName()</li>
                                    }
                                    @if (Model.CityId.Count > 0)
                                    {
                                        var listcity = cities.Where(m => Model.CityId.Contains(m.Id));
                                        if (listcity.Any())
                                        {
                                            <li>
                                                Khu vực:

                                                @foreach (var city in listcity)
                                                {
                                                    <strong>@city.Name</strong>
                                                }

                                            </li>
                                        }
                                    }
                                    @if (Model.AgeStart.HasValue)
                                    {
                                        <li>Độ tuổi: <strong>@Model.AgeStart</strong> - <strong>@Model.AgeEnd</strong></li>
                                    }

                                    @if (Model.CategoryIds.Count > 0)
                                    {
                                        var cats = categories.Where(m => Model.CategoryIds.Contains(m.Id));

                                        <li>
                                            Lĩnh vực quan tâm/thế mạnh:
                                            @foreach (var cat in cats)
                                            {
                                                <strong>@cat.Name</strong>
                                            }
                                        </li>
                                    }


                                    @if (Model.AccountTypes.Contains(AccountType.HotMom))
                                    {

                                        <li>
                                            Con cái:

                                            @(Model.ChildType == 0 ? "Tất cả giới tính " : Model.ChildType == 1 ? "Con trai" : Model.ChildType == 2 ? "Con gái" : "")

                                            @if (Model.ChildAgeMin > 0 || Model.ChildAgeMax > 0)
                                            {

                                                <span>
                                                    -  Độ tuổi @Model.ChildAgeMin  - @Model.ChildAgeMax
                                                </span>
                                            }

                                        </li>
                                    }

                                </ul>
                            </div>
                        }
                    </div>
                </div>

                <div class="mt-2">
                    @if (Model.Status != CampaignStatus.Canceled && Model.Status != CampaignStatus.Created && Model.Status != CampaignStatus.Started)
                    {
                        if (Model.Payment.IsValid)
                        {

                            if (Model.Payment.TotalChargeAmount > 0 && 
                                ((Model.Status == CampaignStatus.Confirmed) || (Model.Status == CampaignStatus.Locked)))
                            {

                                if (Model.Payment.TotalChargeAmount > balance)
                                {
                                    <a class="wallet-recharge btn btn-info" href="/Wallet/Recharge">Nạp tiền</a>
                                }
                                else
                                {
                                    <btnpayment campaign-id="Model.Id" text="Thanh toán ngay"></btnpayment>
                                }

                            }
                            else
                            {
                                if (Model.Payment.TotalPayback > 0)
                                {
                                    if (false == ViewBag.IsRutTienExist)
                                    {
                                        <btnpayment campaign-id="Model.Id" text="Rút tiền thừa"></btnpayment>
                                    }
                                    else
                                    {
                                        <div class="alert alert-info">Bạn đã gửi yêu cầu rút tiền thừa. Vui lòng chờ ban quản trị duyệt yêu cầu rút tiền</div>
                                    }
                                }


                            }
                        }


                    }

                    @if (Model.Status == CampaignStatus.Created)
                    {
                        <a href="@Url.Action("EditInfo", new { id = Model.Id})" class="btn btn-primary">Sửa thông tin chiến dịch</a>
                        <a href="@Url.Action("EditTarget", new { id = Model.Id})" class="btn btn-primary">Sửa đối tượng chiến dịch</a>
                    }


                </div>

                <hr />

                @{
                    if (Model.Status == CampaignStatus.Canceled)
                    {
                        <div class="alert alert-danger">Chiến dịch đã bị hủy: @Model.SystemNote</div>
                    }
                    else
                    {
                        var tab2Active = "2" == ViewBag.activedTab ? "active show" : "";
                        var tab1Active = "1" == ViewBag.activedTab ? "active show" : "";
                        var tab3Active = "3" == ViewBag.activedTab ? "active show" : "";

                        <ul class="nav nav-tabs nav-campaign" id="myTab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link @tab1Active" data-toggle="tab" href="#tabProcess">Thực hiện chiến dịch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @tab2Active" data-toggle="tab" href="#tabReview">Theo dõi chiến dịch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @tab3Active" data-toggle="tab" href="#tabPayment">Thanh toán</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-2">
                            <div class="tab-pane fade @tab1Active" id="tabProcess">

                                <div class="py-2">
                                    <partial name="_CampaignItemCountingPartial" model="@Model" />
                                </div>
                                <partial name="_DetailsAccountsProcessPartial" model="Model" />

                            </div>
                            <div class="tab-pane fade @tab2Active" id="tabReview">
                                <partial name="_DetailsAccountsReviewPartial" model="Model" />
                            </div>
                            <div class="tab-pane fade @tab3Active" id="tabPayment">
                                <partial name="_DetailsAccountsPaymentPartial" model="Model" />
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    </div>
</div>
