@model EditCampaignTargetViewModel

@{
    var campaignType = Model.Type;
    ViewData["Title"] = "Thay đổi đối tượng chiến dịch " + campaignType.ToText();

    var accountTypes = StringHelper.GetEnumArray<AccountType>().Where(m => m != AccountType.All);

    var categories = (List<CategoryViewModel>)ViewBag.Categories;
    var cities = (List<EntityViewModel>)ViewBag.Cities;
    var campaignTypeCharges = (List<CampaignTypeChargeViewModel>)ViewBag.CampaignTypeCharges;
    var genderList = Common.Helpers.StringHelper.GetEnumArray<Core.Entities.Gender>();

    var i = 0;
}

<h2>@ViewData["Title"]</h2>
<h3 class="mt-4 mb-4">Thay đổi đối tượng của chiến dịch</h3>
<form class="form-create-campaign" asp-action="EditTarget">
    <div class="row">
        <div class="col-lg-8">
            <form class="form-create-campaign" asp-action="CreateTarget">
                <div asp-validation-summary="All"></div>

                <h6>Loại influencer bạn cần</h6>
                <div class="form-group">

                    <div>

                        @foreach (var accountType in accountTypes)
                        {
                            var checkboxId = $"CampaignType{accountType}";

                            <div class="custom-control custom-radio custom-control-inline custom-control">
                                <input type="radio" @(Model.AccountType.Contains(accountType) ? "checked" : "") value="@accountType"
                                       name="AccountType" id="@checkboxId" class="custom-control-input">
                                <label class="custom-control-label font-weight-normal" for="@checkboxId">
                                    @accountType.ToShortName()
                                </label>
                            </div>

                        }

                    </div>

                    <span asp-validation-for="AccountType"></span>

                </div>

                @foreach (var accountType in accountTypes)
                {
                    <div class=" d-accounttype d-accounttype-@(accountType)" style="display:none">
                        @if (accountType == AccountType.Regular)
                        {
                            @*<div class="form-group">
                                    <label asp-for="AccountChargeAmount" ></label>
                                    <input type="number" class="form-control " asp-for="AccountChargeAmount" />
                                    <span asp-validation-for="AccountChargeAmount"></span>
                                </div>*@
                        }
                        else if (accountType == AccountType.HotMom)
                        {
                            <div class="row ">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Giới tính con cái</label>
                                        <select class="form-control" name="ChildType">
                                            <option selected value="0">Tất cả</option>
                                            <option value="1">Con trai</option>
                                            <option value="2">Con gái</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label>Độ tuổi con cái</label>
                                    <input type="number" class="form-control" asp-for="ChildAgeMin" value="0" />
                                </div>
                                <div class="col-3">
                                    <label>&nbsp;</label>
                                    <input type="number" class="form-control" asp-for="ChildAgeMax" value="0" />
                                </div>
                            </div>
                        }
                    </div>

                }

                <div class="form-group">
                    <label asp-for="Quantity"></label>
                    <input type="number" asp-for="Quantity" min="1" class="form-control" />
                    <span asp-validation-for="Quantity"></span>
                </div>


                <h6>Tiêu chí</h6>

                <div id="campaignOptions" class="form-group">
                    <div class="h-accounttype h-accounttype-HotMom">
                        <div class="d-flex py-1 ">

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target='#collapseEnabledGender' asp-for="EnabledGender">
                                <label class="custom-control-label" asp-for="EnabledGender"></label>
                            </div>

                            <div id="collapseEnabledGender" class="collapse ml-4 @(Model.EnabledGender? "show":"")">
                                <div>
                                    @{
                                        i = 0;
                                    }
                                    @foreach (var gender in genderList)
                                    {
                                        var radioId = $"Gender{gender}";
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" @(i == 0 ? "checked" : "") value="@gender" name="Gender" id="@radioId" class="custom-control-input">
                                            <label class="custom-control-label" for="@radioId">@gender.ToDisplayName()</label>
                                        </div>
                                        i++;
                                    }
                                    <span asp-validation-for="Gender"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex py-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target='#collapseEnabledAgeRange' asp-for="EnabledAgeRange">
                            <label class="custom-control-label" asp-for="EnabledAgeRange"></label>
                        </div>
                        <div id="collapseEnabledAgeRange" class="collapse ml-4  @(Model.EnabledAgeRange? "show":"")">
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <input type="number" class="form-control" asp-for="AgeStart" />
                                    <span asp-validation-for="AgeStart"></span>
                                </div>
                                <div class="col-auto">
                                    -
                                </div>
                                <div class="col-auto">

                                    <input type="number" class="form-control  " asp-for="AgeEnd" />
                                    <span asp-validation-for="AgeEnd"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex py-1">

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target='#collapseEnabledCity' asp-for="EnabledCity">
                            <label class="custom-control-label" asp-for="EnabledCity"></label>
                        </div>
                        <div class=" ml-4 flex-grow-1">
                            <div id="collapseEnabledCity" class="collapse  @(Model.EnabledCity? "show":"")">


                                <select asp-for="CityId" multiple class="form-control form-select2 ">
                                    @foreach (var city in cities)
                                    {
                                        <option value="@city.Id">@city.Name</option>
                                    }

                                </select>
                                <span asp-validation-for="CityId"></span>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex py-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledCategory" asp-for="EnabledCategory">
                            <label class="custom-control-label" asp-for="EnabledCategory"></label>
                        </div>
                        <div class=" ml-4 flex-grow-1">
                            <div id="collapseEnabledCategory" class="collapse  @(Model.EnabledCategory? "show":"")">
                                <select asp-for="CategoryId" multiple class="form-control">
                                    @foreach (var category in categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CategoryId"></span>
                            </div>

                        </div>

                    </div>
                    <div class="d-flex py-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledAccount" asp-for="EnabledAccount">
                            <label class="custom-control-label" asp-for="EnabledAccount"></label>
                        </div>
                        <div class=" ml-4 flex-grow-1">


                            <div id="collapseEnabledAccount" class="collapse  @(Model.EnabledAccount? "show":"") text-right">

                                <button type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#modal-influencer-selection">
                                    Chọn Influencer <span class="badge badge-danger badge-influencer-count">@Model.AccountIds.Count</span>
                                </button>


                            <div id="AccountIdsArea">
                                @foreach (var accid in Model.AccountIds)
                                {
                                    <span><input type="hidden" name="AccountIds" value="@accid"></span>
                                }
                            </div>

                            </div>

                        </div>

                    </div>
                    @*<div class=" py-1 d-none" id="enabledExtraTypeWrap">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" asp-for="EnabledExtraType" />
                                <label class="custom-control-label" asp-for="EnabledExtraType"></label>
                            </div>
                        </div>*@

                </div>


                @if (campaignType == CampaignType.ShareContentWithCaption || campaignType == CampaignType.ReviewProduct)
                {
                    <h6>Yêu cầu về KPIs - lượt tương tác cho mỗi post (Yêu cầu tăng KPIs sẽ làm tăng mức giá bạn phải trả) </h6>

                    <div class="form-group">
                        <label asp-for="KPIMin"></label>
                        <strong>@Model.KPIMin</strong>
                        <input type="hidden" asp-for="KPIMin" />
                        <span asp-validation-for="KPIMin"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="InteractiveMin"></label>

                        <div class="d-flex">
                            <div class="mr-2 p-2">Tương tác/post/influencer</div>
                            <div class="">
                                <input type="number" asp-for="InteractiveMin" min="@Model.InteractiveMin" class="form-control" />
                            </div>

                        </div>

                        <span asp-validation-for="InteractiveMin"></span>
                    </div>



                }
                else
                {
                    <input type="hidden" asp-for="KPIMin" />
                    <input type="hidden" asp-for="InteractiveMin" />
                }

                <h6>Chi phí bạn muốn trả cho mỗi Influencer</h6>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <label asp-for="AmountMin"></label>
                            <input type="number" asp-for="AmountMin" min="0" class="form-control" />
                            <span asp-validation-for="AmountMin"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AmountMax"></label>
                            <input type="number" asp-for="AmountMax" min="0" class="form-control" />
                            <span asp-validation-for="AmountMax"></span>
                        </div>
                    </div>
                </div>
                <h6>Thời gian</h6>
                <div class="form-group ">
                    <label asp-for="RegisterTime"></label>

                    <input type="text" class="form-control form-daterangepicker" id="RegisterTime2" asp-for="RegisterTime" autocomplete="off" />
                    <span asp-validation-for="RegisterTime"></span>

                </div>
                @if (campaignType == CampaignType.ReviewProduct)
                {
                    <div class="form-group ">
                        <label asp-for="FeedbackBefore"></label>
                        <input type="text" class="form-control" asp-for="FeedbackBefore" id="FeedbackBefore2" autocomplete="off" />
                        <span asp-validation-for="FeedbackBefore"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="FeedbackBefore" />
                }

                <div class="form-group ">
                    <label asp-for="ExecutionTime"></label>

                    <input type="text" class="form-control" id="ExecutionTime2" asp-for="ExecutionTime" autocomplete="off" />
                    <span asp-validation-for="ExecutionTime"></span>

                </div>


                <div class="text-center form-group">

                    <input type="hidden" asp-for="Type" />
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="InfoModel" />
                    <button class="btn btn-outline-primary btn-bold-text" type="submit">
                        Cập nhật
                    </button>
                </div>

            </form>
        </div>
        <div class="col-lg-4">
            <div class="card border-0">
                <img src="@campaignType.ToShortName()" width="334" height="209" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        @campaignType.ToDisplayName()
                    </h5>
                    <p class="card-text">

                        @campaignType.ToDescription()
                    </p>
                </div>
                @if (campaignType == CampaignType.ChangeAvatar && ViewBag.Image != null)
                {
                    var img = (string)ViewBag.Image;
                    <div class="card-body">

                        <img class="img-fluid" src="@AppOptions.CurrentValue.GetImageUrl(img)" />
                    </div>
                }
            </div>

        </div>
    </div>
</form>


<div class="modal fade" style="z-index: 999999;" id="modal-influencer-selection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danh sách Influencer bạn muốn chỉ định</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!--#################################-->

                <ul class="list-unstyled">
                    <li><strong>Tìm Kiếm</strong></li>
                    <li class="mt-2 mb-4">
                        <form action="javascript:;" data-action="@Url.Action("GetAccounts")" class="frm-search">
                            <div class="form-group mb-2">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <select class="custom-select" name="type">

                                            <option value="">Tất cả loại</option>
                                            @foreach (var item in accountTypes)
                                            {

                                                <!option value="@item">@item.ToDisplayName()</!option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="kw" placeholder="Tìm kiếm Influencer">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-outline-primary btn-bold-text">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li id="list-influencer">

                    </li>
                    <li>

                        <div class="text-center">
                            <button type="button" class="btn btn-outline-primary btn-bold-text" id="btn-submitInfluencer">Đồng ý</button>
                        </div>
                    </li>
                </ul>

                <!--#################################-->



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>