@model EditCampaignTargetViewModel

@{
    var campaignType = Model.Type;
    ViewData["Title"] = "Thay đổi đối tượng chiến dịch " + campaignType.ToText();

    var accountTypes = StringHelper.GetEnumArray<AccountType>().Where(m => m != AccountType.All);

    var categories = (List<CategoryViewModel>)ViewBag.Categories;
    var cities = (List<EntityViewModel>)ViewBag.Cities;
    var campaignTypeCharges = (List<CampaignTypeChargeViewModel>)ViewBag.CampaignTypeCharges;
    var genderList = Common.Helpers.StringHelper.GetEnumArray<Core.Entities.Gender>();

    var i = 0;
}


<h3 class="mt-4 mb-4">Thay đổi đối tượng của chiến dịch</h3>
<form class="form-create-campaign" asp-action="EditTarget">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-lg-8">
            @if (campaignType == CampaignType.ChangeAvatar || campaignType == CampaignType.JoinEvent || campaignType == CampaignType.ReviewProduct)
            {
                <h6 style="font-weight:bold;">
                    Loại influencer bạn cần&nbsp;<span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                                       title="Bạn chỉ có thể chọn một trong số các influencer dưới đây. Nếu cần nhiều loại influencer,
                                                  bạn hãy tạo nhiều chiến dịch khác nhau nhé"><i class="fa fa-question-circle"></i></span>
                </h6>
            }
            else if (campaignType == CampaignType.ShareContentWithCaption)
            {
                <h6 style="font-weight:bold;">
                    Loại influencer bạn cần&nbsp;<span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                                          title="Bạn chỉ có thể chọn một trong số các influencer dưới đây. Nếu cần nhiều loại influencer,
                                                  bạn hãy tạo nhiều chiến dịch khác nhau nhé.Như vậy bạn cùng dễ đánh giá đối tượng influencer
                                                  phù hợp với mình hơn"><i class="fa fa-question-circle"></i></span>
                </h6>

            }
            else
            {
                <h6 style="font-weight:bold;">
                    Loại influencer bạn cần&nbsp;<span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                                       title="Nếu bạn muốn influencer đăng hình ảnh sản phẩm/dịch vụ của doanh nghiệp bạn kèm theo nội dung,
                                        bạn hãy chèn hình vào đây nhé, càng ít hình chiến dịch của bạn sẽ càng thu hút"><i class="fa fa-question-circle"></i></span>
                </h6>
            }
            <div class="form-group">

                <div>

                    @foreach (var accountType in accountTypes)
                    {
                        var checkboxId = $"CampaignType{accountType}";

                        <div class="custom-control custom-radio custom-control-inline custom-control">
                            <input type="radio" @(Model.AccountType.Contains(accountType) ? "checked" : "") value="@accountType"
                                   name="AccountType" id="@checkboxId" class="custom-control-input">
                            <label class="custom-control-label font-weight-normal" for="@checkboxId">
                                @accountType.ToShortName()
                            </label>
                        </div>

                    }

                </div>

                <span asp-validation-for="AccountType"></span>

            </div>

            @foreach (var accountType in accountTypes)
            {
                <div class=" d-accounttype d-accounttype-@(accountType)" style="display:none">
                    @if (accountType == AccountType.Regular)
                    {
                        @*<div class="form-group">
                        <label asp-for="AccountChargeAmount" ></label>
                        <input type="number" class="form-control " asp-for="AccountChargeAmount" />
                        <span asp-validation-for="AccountChargeAmount"></span>
                    </div>*@
                    }
                    else if (accountType == AccountType.HotMom)
                    {
                        <div class="row ">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Giới tính con cái</label>
                                    <select class="form-control" name="ChildType">
                                        <option selected value="0">Tất cả</option>
                                        <option value="1">Con trai</option>
                                        <option value="2">Con gái</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <label>Độ tuổi con cái</label>
                                <input type="number" class="form-control" asp-for="ChildAgeMin" value="0" />
                            </div>
                            <div class="col-3">
                                <label>&nbsp;</label>
                                <input type="number" class="form-control" asp-for="ChildAgeMax" value="0" />
                            </div>
                        </div>
                    }
                </div>

            }

            <div class="form-group">


                <span>
                    <label asp-for="Quantity"></label>
                    @if (campaignType == CampaignType.ChangeAvatar || campaignType == CampaignType.ReviewProduct || campaignType == CampaignType.JoinEvent ||
                      campaignType == CampaignType.ShareStreamUrl || campaignType == CampaignType.CustomService)
                    {
                        <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                              title="Hãy nhập số lượng influencer bạn cần cho chiến dịch này"><i class="fa fa-question-circle"></i></span>
                    }
                    else
                    {
                        <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                              title="Hãy nhập số lượng influencer bạn cần cho chiến dịch này (bao gồm cả influencer được chỉ định ở dưới, nếu có)"><i class="fa fa-question-circle"></i></span>
                    }

                </span>

                <input type="number" asp-for="Quantity" min="1" class="form-control" />
                <span asp-validation-for="Quantity"></span>
            </div>


            <h6>Tiêu chí</h6>

            <div id="campaignOptions" class="form-group">
                <div class="h-accounttype h-accounttype-HotMom">
                    <div class="d-flex py-1 ">

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target='#collapseEnabledGender' asp-for="EnabledGender">
                            <label class="custom-control-label" asp-for="EnabledGender"></label>
                        </div>

                        <div id="collapseEnabledGender" class="collapse ml-4 @(Model.EnabledGender? "show":"")">
                            <div>
                                @{
                                    i = 0;
                                }
                                @foreach (var gender in genderList)
                                {
                                    var radioId = $"Gender{gender}";
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" @(i == 0 ? "checked" : "") value="@gender" name="Gender" id="@radioId" class="custom-control-input">
                                        <label class="custom-control-label" for="@radioId">@gender.ToDisplayName()</label>
                                    </div>
                                    i++;
                                }
                                <span asp-validation-for="Gender"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex py-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target='#collapseEnabledAgeRange' asp-for="EnabledAgeRange">
                        <label class="custom-control-label" asp-for="EnabledAgeRange"></label>
                    </div>
                    <div id="collapseEnabledAgeRange" class="collapse ml-4  @(Model.EnabledAgeRange? "show":"")">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <input type="number" class="form-control" asp-for="AgeStart" />
                                <span asp-validation-for="AgeStart"></span>
                            </div>
                            <div class="col-auto">
                                -
                            </div>
                            <div class="col-auto">

                                <input type="number" class="form-control  " asp-for="AgeEnd" />
                                <span asp-validation-for="AgeEnd"></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex py-1">

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target='#collapseEnabledCity' asp-for="EnabledCity">
                        <label class="custom-control-label" asp-for="EnabledCity"></label>
                    </div>
                    <div class=" ml-4 flex-grow-1">
                        <div id="collapseEnabledCity" class="collapse  @(Model.EnabledCity? "show":"")">


                            <select asp-for="CityId" multiple class="form-control form-select2 ">
                                @foreach (var city in cities)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }

                            </select>
                            <span asp-validation-for="CityId"></span>

                        </div>
                    </div>
                </div>
                <div class="d-flex py-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledCategory" asp-for="EnabledCategory">
                        <label class="custom-control-label" asp-for="EnabledCategory"></label>
                    </div>
                    <div class=" ml-4 flex-grow-1">
                        <div id="collapseEnabledCategory" class="collapse  @(Model.EnabledCategory? "show":"")">
                            <select asp-for="CategoryId" multiple class="form-control">
                                @foreach (var category in categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId"></span>
                        </div>

                    </div>

                </div>
                <div class="d-flex py-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledAccount" asp-for="EnabledAccount">
                        <label class="custom-control-label" asp-for="EnabledAccount"></label>
                    </div>
                    <div class=" ml-4 flex-grow-1">


                        <div id="collapseEnabledAccount" class="collapse  @(Model.EnabledAccount? "show":"") text-right">

                            <button type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#modal-influencer-selection">
                                Chọn Influencer <span class="badge badge-danger badge-influencer-count">@Model.AccountIds.Count</span>
                            </button>


                            <div id="AccountIdsArea">
                                @foreach (var accid in Model.AccountIds)
                                {
                                    <span><input type="hidden" name="AccountIds" value="@accid"></span>
                                }
                            </div>

                        </div>

                    </div>

                </div>
                @*<div class=" py-1 d-none" id="enabledExtraTypeWrap">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="EnabledExtraType" />
                    <label class="custom-control-label" asp-for="EnabledExtraType"></label>
                </div>
            </div>*@

            </div>


            @if (campaignType == CampaignType.ShareContentWithCaption || campaignType == CampaignType.ReviewProduct)
            {
                @*<h6>Yêu cầu về KPIs - lượt tương tác cho mỗi post (Yêu cầu tăng KPIs sẽ làm tăng mức giá bạn phải trả) </h6>

            <div class="form-group">
                <label asp-for="KPIMin"></label>
                <strong>@Model.KPIMin</strong>
                <input type="hidden" asp-for="KPIMin" />*@
                @*<span asp-validation-for="KPIMin"></span>*@
                @*</div>*@


                @*<div class="form-group">
            <label asp-for="InteractiveMin"></label>

            <div class="d-flex">
                <div class="mr-2 p-2">Tương tác/post/influencer</div>
                <div class="">
                    <input type="number" asp-for="InteractiveMin" class="form-control" />
                </div>

            </div>*@

                @*<span asp-validation-for="InteractiveMin"></span>*@
                @*</div>*@



            }
            else
            {
                <input type="hidden" asp-for="KPIMin" />
                <input type="hidden" asp-for="InteractiveMin" />
            }

            @if (campaignType == CampaignType.ChangeAvatar)
            {
                <h6 style="font-weight:bold;">
                    4. Chi phí bạn muốn trả cho mỗi Influencer
                    &nbsp;<span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                title="Chi phí này phụ thuộc vào loại influencer và thời gian bạn muốn họ thay avatar theo ý bạn.
                        Ví dụ chi phí dành cho facebooker thường khi thay avatar trong 1 tuần là 100k - 500k,
                        hotfacebooker 300k - 2M, Hotteen 300k - 1.5M, Hotmom 300k - 1.5M....Lưu ý,
                        chi phí này đã bao gồm phí dịch vụ, nhưng chưa có VAT."><i class="fa fa-question-circle"></i></span>
                </h6>
            }
            else if (campaignType == CampaignType.ReviewProduct)
            {
                <h6 style="font-weight:bold;">
                    Chi phí bạn muốn trả cho mỗi Influencer
                    &nbsp;<span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                title="Bạn hãy nhập chi phí tối thiểu và tối đa bạn muốn trả cho mỗi post/hành động.
                        Mức chi phí cho các loại tài khoản cũng khác nhau: Ví dụ: Chi phí cho mỗi tài khoản thường: 100k - 500k tùy theo yêu cầu, Hotmom 300k - 1.5M,
                        Hotfacebooker 500k - 2.5M, Hotteen 500k - 2.5M, KOLs bạn có thể liên hệ hotline của MicroKOLs để nhận được tư vấn.
                        Bạn cần thanh toán trước tổng chi phí sau khi bạn duyệt xong influcencer tham gia và nội dung dự kiến mà họ tạo ra.
                        Mỗi influencer có thể có một mức phí khác nhau. Lưu ý, chi phí này đã bao gồm phí dịch vụ, nhưng chưa có VAT."><i class="fa fa-question-circle"></i></span>
                </h6>
            }
            else if (campaignType == CampaignType.JoinEvent)
            {
                <h6 style="font-weight:bold;">
                    Chi phí bạn muốn trả cho mỗi Influencer
                    &nbsp;<span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                title="Bạn hãy nhập chi phí tối thiểu và tối đa bạn muốn trả cho mỗi influencer tham gia sự kiện và check in.
                                Mức chi phí cho các tài khoản cũng khác nhau: Ví dụ: Chi phí cho mỗi tài khoản thường: 80k - 300k tùy theo yêu cầu của việc chek-in,
                                Hotmom 200k - 1M, Hotfacebooker 300k - 1.5M, Hotteen 200k - 1.5M, KOLs bạn có thể liên hệ hotline của MicroKOLs để nhận được tư vấn.
                                Bạn cần thanh toán trước tổng chi phí sau khi bạn duyệt xong
                                influcencer tham gia và nội dung mà họ tạo ra. Mỗi influencer có thể có một mức phí khác nhau.
                                Lưu ý, chi phí này chưa bao gồm phí dịch vụ và VAT"><i class="fa fa-question-circle"></i></span>
                </h6>
            }
            else if (campaignType == CampaignType.ShareStreamUrl)
            {
                <h6 style="font-weight:bold;">
                    Chi phí bạn muốn trả cho mỗi Influencer
                    &nbsp;<span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                title=" bạn hãy nhập chi phí tối thiểu và tối đa bạn muốn trả cho mỗi post share link của influencer.
                        Mức chi phí cho các tài khoản cũng khác nhau: Ví dụ: Chi phí cho mỗi tài khoản thường: 50k - 200k, Hotmom 100k - 500k, Hotfacebooker 200k - 1M, Hotteen 200k - 1M....
                        Bạn cần thanh toán trước tổng chi phí sau khi bạn duyệt xong influcencer tham gia.
                        Lưu ý, chi phí này chưa bao gồm 10% VAT."><i class="fa fa-question-circle"></i></span>
                </h6>
            }
            else if (campaignType == CampaignType.CustomService)
            {
                <h6 style="font-weight:bold;">
                    Chi phí bạn muốn trả cho mỗi Influencer
                    &nbsp;<span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                title="Bạn hãy nhập chi phí tối thiểu và tối đa bạn muốn trả cho mỗi post/hành động. Mức chi phí cho các tài khoản cũng khác nhau:
                        Ví dụ: Chi phí cho mỗi tài khoản thường: 50k - 300k tùy theo yêu cầu và KPIs, Hotmom 100k - 1M, Hotfacebooker 200k - 1M, Hotteen 200k - 1.5M,
                        KOLs bạn có thể liên hệ hotline của MicroKOLs để nhận được tư vấn.
                        Bạn cần thanh toán trước tổng chi phí phải sau khi bạn duyệt xong influcencer tham gia và nội dung mà họ tạo ra.
                        Lưu ý, chi phí này chưa bao gồm phí dịch vụ và VAT."><i class="fa fa-question-circle"></i></span>
                </h6>
            }
            else
            {
                <h6 style="font-weight:bold;">
                    Chi phí bạn muốn trả cho mỗi Influencer
                    &nbsp;<span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                title="Bạn hãy nhập chi phí tối thiểu và tối đa bạn muốn trả cho mỗi post/hành động.
                        Mức chi phí cho các tài khoản cũng khác nhau: Ví dụ: Chi phí cho mỗi tài khoản thường: 50k - 300k tùy theo bạn đánh giá influencer,
                        Hotmom 200k - 1M, Hotfacebooker 200k - 2M, Hotteen 200k - 1.5M, KOLs bạn có thể liên hệ hotline của MicroKOLs để nhận được tư vấn.
                        Bạn cần thanh toán trước tổng chi phí phải trả sau khi bạn duyệt xong influcencer tham gia và nội dung mà họ tạo ra.
                        Lưu ý, chi phí này đã bao gồm phí dịch vụ, nhưng chưa có VAT."><i class="fa fa-question-circle"></i></span>
                </h6>
            }
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="AmountMin"></label>
                        <input type="number" asp-for="AmountMin" min="0" class="form-control" />
                        <span asp-validation-for="AmountMin"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AmountMax"></label>
                        <input type="number" asp-for="AmountMax" min="0" class="form-control" />
                        <span asp-validation-for="AmountMax"></span>
                    </div>
                </div>
            </div>
            <h6>Thời gian</h6>
            <div class="form-group ">
                @if (campaignType == CampaignType.JoinEvent)
                {
                    <span>
                        <label>Thời gian nhận đăng ký</label>
                        <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                              title="Thời gian influencer đăng ký tham gia chiến dịch và gửi nội dung nháp, bạn có thể yêu cầu người dùng chỉnh sửa nội dung
                                  cho phù hợp với nhu cầu của mình hoặc loại bỏ người dùng/nội dung nếu thấy không phù hợp.
                                  Bạn cần thanh toán cho hệ thống trước tổng chi phí phải trả sau khi bạn duyệt xong influcencer tham gia,
                                  mỗi influencer có thể có một mức phí khác nhau"><i class="fa fa-question-circle"></i></span>
                    </span>
                }
                else
                {

                    if (campaignType == CampaignType.ChangeAvatar)
                    {
                        <span>
                            <label asp-for="RegisterTime"></label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Thời gian người dùng đăng ký tham gia chiến dịch và gửi nội dung dự kiến, bạn có thể yêu cầu người dùng chỉnh sửa nội dung cho phù hợp với nhu cầu của mình hoặc loại bỏ người dùng/nội dung nếu thấy không phù hợp.
                          Bạn cần thanh toán cho hệ thống trước tổng chi phí sau khi bạn duyệt xong các influencer tham gia và nội dung mà họ tạo ra trong khoảng thời gian này"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                    else if (campaignType == CampaignType.ReviewProduct)
                    {
                        <span>
                            <label asp-for="RegisterTime"></label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Thời gian người dùng đăng ký tham gia chiến dịch"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                    else if (campaignType == CampaignType.JoinEvent)
                    {
                        @*<span>
                        <label asp-for="RegisterTime"></label>
                        <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                              title="Thời gian influencer đăng ký tham gia chiến dịch và gửi nội dung nháp, bạn có thể yêu cầu người dùng chỉnh sửa nội dung
                              cho phù hợp với nhu cầu của mình hoặc loại bỏ người dùng/nội dung nếu thấy không phù hợp.
                              Bạn cần thanh toán cho hệ thống trước tổng chi phí phải trả sau khi bạn duyệt xong influcencer tham gia,
                              mỗi influencer có thể có một mức phí khác nhau"><i class="fa fa-question-circle"></i></span>
                    </span>*@
                    }
                    else if (campaignType == CampaignType.ShareStreamUrl)
                    {
                        <span>
                            <label asp-for="RegisterTime"></label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Thời gian người dùng đăng ký tham gia chiến dịch.
                          Bạn cần thanh toán cho hệ thống trước tổng chi phí sau khi bạn duyệt xong influcencer tham gia,
                          mỗi influencer có thể có một mức phí khác nhau"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                    else if (campaignType == CampaignType.CustomService)
                    {
                        <span>
                            <label asp-for="RegisterTime">Thời gian nhận đăng ký và gửi nội dung</label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Thời gian người dùng đăng ký tham gia chiến dịch và gửi nội dung nháp, bạn có thể yêu cầu người dùng chỉnh sửa nội dung cho phù hợp với nhu cầu của mình hoặc
                          loại bỏ người dùng/nội dung nếu thấy không phù hợp. Bạn cần thanh toán cho hệ thống trước
                          tổng chi phí phải sau khi bạn duyệt xong influcencer tham gia và nội dung mà họ tạo ra trong khoảng thời gian này"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                    else
                    {
                        <span>
                            <label asp-for="RegisterTime"></label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Thời gian người dùng đăng ký tham gia chiến dịch và gửi nội dung dự kiến để bạn duyệt, bạn có thể yêu cầu người dùng chỉnh sửa nội dung hoặc loại bỏ người dùng/nội dung nếu thấy không phù hợp. Bạn cần thanh toán cho hệ thống trước
                              tổng chi phí sau khi bạn duyệt xong influcencer và nội dung mà họ tạo ra trong khoảng thời gian này.  Mỗi influencer có thể có một mức phí khác nhau"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                }

                <input type="text" class="form-control form-daterangepicker" id="RegisterTime2" asp-for="RegisterTime" autocomplete="off" />
                <span asp-validation-for="RegisterTime"></span>

            </div>
            @if (campaignType == CampaignType.ReviewProduct || campaignType == CampaignType.JoinEvent)
            {
                <div class="form-group ">
                    @if (campaignType == CampaignType.JoinEvent)
                    {

                        <span>
                            <label>Thời gian check-in và gửi hình bài post tại thời điểm check-in</label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Là khoảng thời gian mà bạn cần influencer đến để check-in và post checkin.
                          Influencer sẽ phải chụp lại màn hình điện thoại của post check-in này
                          để chứng tỏ họ đã đến và post đúng yêu cầu. Khoảng thời gian này cũng có thể là khoảng thời gian diễn ra chiến dịch"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                    else
                    {

                        <span>
                            <label asp-for="FeedbackBefore">Thời gian gửi và duyệt nội dung mẫu</label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Là thời gian bạn cần influencer gửi lại nội dung review. Hãy lưu ý cần tính toán cả thời gian bạn gửi
                          sản phẩm tới tay họ (nếu có). Bạn cần thanh toán cho hệ thống tổng chi phí của chiến dịch sau khi bạn duyệt xong nội dung mẫu
                          của các influcencer và trước khi họ thực hiện chiến dịch. Mỗi influencer có thể có một mức phí khác"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }

                    <input type="text" class="form-control" asp-for="FeedbackBefore" autocomplete="off" />
                    <span asp-validation-for="FeedbackBefore"></span>

                </div>
            }
            else
            {
                <input type="hidden" asp-for="FeedbackBefore" />
            }

            <div class="form-group ">
                @if (campaignType == CampaignType.JoinEvent)
                {
                    <span>
                        <label>Thời gian gửi link bài post nghiệm thu </label>
                        <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                              title="Là khoảng thời gian influencer cần gửi lại link bài post check-in, do tại thời điểm check-in có thể họ chưa gửi được.
                        Hãy tính toán khoảng thời gian này đủ dài để influencer kịp gửi lại link, có thể kéo dài vài tiếng tính từ lúc bắt đầu chiến dịch.
                        Thời gian bắt đầu này có thể trùng hoặc sớm hơn chút so với thời gian influencer
                        gửi hình bài post, cũng có thể chính là lúc bắt đầu sự kiện"><i class="fa fa-question-circle"></i></span>
                    </span>
                }
                else
                {
                    if (campaignType == CampaignType.ChangeAvatar)
                    {
                        <span>
                            <label asp-for="ExecutionTime">Thời gian bắt đầu thực hiện</label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Là khoảng thời gian mà influencer sẽ bắt đầu thay avatar của họ, thời gian bắt đầu thay avatar của các influencer có thể
                              khác nhau nhưng sẽ đủ số tuần mà bạn yêu cầu. Thời gian thực hiện sẽ nằm sau thời gian đăng ký"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                    else if (campaignType == CampaignType.ReviewProduct)
                    {
                        <span>
                            <label asp-for="ExecutionTime"></label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Là khoảng thời gian mà bạn muốn influencer được lựa chọn sẽ post bài review.
                            Thời gian thực hiện nằm sau thời gian gửi/duyệt nội dung mẫu"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                    else if (campaignType == CampaignType.ShareStreamUrl)
                    {
                        <span>
                            <label>Thời gian thực hiện</label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Là khoảng thời gian mà bạn muốn influencer chia sẻ link livestream này.
                            Thời gian thực hiện nằm sau thời gian đăng ký"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                    else if (campaignType == CampaignType.CustomService)
                    {
                        <span>
                            <label>Thời gian thực hiện</label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Là khoảng thời gian mà influencer sẽ thực hiện chiến dịch, hãy đưa ra khoảng thời gian mà bạn
                              mong muốn influencer được chọn phải thực hiện. Thời gian thực hiện nằm sau thời gian đăng ký"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }
                    else
                    {
                        <span>
                            <label asp-for="ExecutionTime"></label>
                            <span data-toggle="tooltip" data-html="true" style="color:#56CCF2;font-size:18px;"
                                  title="Là khoảng thời gian mà influencer sẽ post bài, hãy đưa ra khoảng thời gian mà bạn mong muốn influencer được chọn phải thực hiện.
                            Thời gian thực hiện phải nằm sau thời gian đăng ký. Đừng để khoảng thời gian này quá ngắn bạn nhé"><i class="fa fa-question-circle"></i></span>
                        </span>
                    }


                }

                <input type="text" class="form-control" id="ExecutionTime2" asp-for="ExecutionTime" autocomplete="off" />
                <span asp-validation-for="ExecutionTime"></span>

            </div>


            <div class="text-center form-group">

                <input type="hidden" asp-for="Type" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="InfoModel" />
                <button class="btn btn-outline-primary btn-bold-text" type="submit">
                    Cập nhật
                </button>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card border-0">
                <img src="@campaignType.ToShortName()" width="334" height="209" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        @campaignType.ToDisplayName()
                    </h5>
                    <p class="card-text">

                        @campaignType.ToDescription()
                    </p>
                </div>
                @if (campaignType == CampaignType.ChangeAvatar && ViewBag.Image != null)
                {
                    var img = (string)ViewBag.Image;
                    <div class="card-body">

                        <img class="img-fluid" src="@AppOptions.CurrentValue.GetImageUrl(img)" />
                    </div>
                }
            </div>

        </div>
    </div>
</form>


<div class="modal fade" style="z-index: 999999;" id="modal-influencer-selection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danh sách Influencer bạn muốn chỉ định</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!--#################################-->

                <ul class="list-unstyled">
                    <li><strong>Tìm Kiếm</strong></li>
                    <li class="mt-2 mb-4">
                        <form action="javascript:;" data-action="@Url.Action("GetAccounts")" class="frm-search">
                            <div class="form-group mb-2">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <select class="custom-select" name="type">

                                            <option value="">Tất cả loại</option>
                                            @foreach (var item in accountTypes)
                                            {

                                                <!option value="@item">@item.ToDisplayName()</!option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="kw" placeholder="Tìm kiếm Influencer">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-outline-primary btn-bold-text">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li id="list-influencer">

                    </li>
                    <li>

                        <div class="text-center">
                            <button type="button" class="btn btn-outline-primary btn-bold-text" id="btn-submitInfluencer">Đồng ý</button>
                        </div>
                    </li>
                </ul>

                <!--#################################-->



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>