<div class="row row-6 pl-70 pt-40 pb-50">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">

                <div id="tab-pannel">
                    <div class="row row-bottom-border">
                        <div class="col-md-6">
                            <span class="qa-title">MICROKOLS Q&amp;A</span>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#home">
                                        Câu hỏi chung
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#merchant">
                                        Doanh nghiệp
                                    </a>
                                </li>
                                <li><a data-toggle="tab" href="#influencer">Influencer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    <div class="faqs-page block col-md-12">
                                        <div class="panel-group" id="agency" role="tablist" aria-multiselectable="true">
                                            @{int count_general = 0;}
                                            @foreach (var item in ViewBag.QnAGeneral)
                                            {
                                                <div class="panel">
                                                    <a role="button" class="item-question" data-toggle="collapse" data-parent="#agency" href="#collapse_@(item.Order)_general" aria-expanded="true" aria-controls="collapse1a">
                                                        <span>@item.Order</span> @item.Question
                                                    </a>
                                                    <div id="collapse_@(item.Order)_general" class="panel-collapse collapse @(count_general == 0?"in":"collapse")" role="tabpanel">
                                                        <div class="panel-body">
                                                            @item.Answer                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                count_general++;
                                            }                                           
                                        </div>
                                    </div>

                                </div>
                                <div id="merchant" class="tab-pane fade">
                                    <div class="faqs-page block col-md-12">
                                        <div class="panel-group" id="agency" role="tablist" aria-multiselectable="true">
                                            @{int count_merchant = 0;}
                                            @foreach (var item in ViewBag.QnAMerchant)
                                            {
                                                <div class="panel">
                                                    <a role="button" class="item-question" data-toggle="collapse" data-parent="#agency" href="#collapse_@(item.Order)_merchant" aria-expanded="true" aria-controls="collapse1a">
                                                        <span>@item.Order</span> @item.Question
                                                    </a>
                                                    <div id="collapse_@(item.Order)_merchant" class="panel-collapse collapse @(count_merchant == 0?"in":"collapse")" role="tabpanel">
                                                        <div class="panel-body">
                                                            @item.Answer
                                                        </div>
                                                    </div>
                                                </div>
                                                count_merchant++;
                                            }

                                    
                                        </div>
                                    </div>


                                </div>
                                <div id="influencer" class="tab-pane fade">
                                    <div class="faqs-page block col-md-12">
                                        <div class="panel-group" id="agency" role="tablist" aria-multiselectable="true">

                                            @{int count_influencer = 0;}
                                            @foreach (var item in ViewBag.QnAInfluencer)
                                            {
                                                <div class="panel">
                                                    <a role="button" class="item-question" data-toggle="collapse" data-parent="#agency" href="#collapse_@(item.Order)_influencer" aria-expanded="true" aria-controls="collapse1a">
                                                        <span>@item.Order</span> @item.Question
                                                    </a>
                                                    <div id="collapse_@(item.Order)_influencer" class="panel-collapse collapse @(count_influencer == 0?"in":"collapse")" role="tabpanel">
                                                        <div class="panel-body">
                                                            @item.Answer
                                                        </div>
                                                    </div>
                                                </div>
                                                count_influencer++;
                                            }

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>




            </div>
        </div>

    </div>
</div>